[2018-02-05 10:52] gnehapk commented on #780
@mcarrano  I think you forget to remove "Details" button from [cluster list ](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738628) view.

Also on [volume list](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738623) view, the dashboard action should be a button similar to other views.

[2018-02-05 11:23] #771 closed, assigned to nobody

[2018-02-05 11:23] #772 closed, assigned to nobody

[2018-02-05 11:24] #767 closed, assigned to nobody

[2018-02-05 11:24] #773 closed, assigned to nobody

[2018-02-05 19:43] mcarrano commented on #780
@gnehapk @julienlim I have updated these wireframes and uploaded changes here: https://redhat.invisionapp.com/share/8QCOEVEY9

[2018-02-05 20:40] julienlim opened #803 "No brick detected or shown"
@gnehapk @a2batic @cloudbehl  @nthomas-redhat @Tendrl/tendrl-qe

I just installed the latest [Tendrl 1.5.5](https://github.com/Tendrl/documentation/wiki/Tendrl-release-v1.5.5-(install-guide)), and the Tendrl UI does not seem to be displaying any brick information though I can clearly see brick information from the CLI.

**CLI snippet:**

[code]

**UI screenshots:**
![screen shot 2018-02-05 at 3 40

[2018-02-05 20:58] julienlim opened #804 ""Incorrect" Cluster ID shown"
Problem:
The cluster ID being shown in the Events is not the canonical reference shown to the user, which may lead to user confusion as to what cluster is being referred to (even though we're looking at the given cluster is question).

[code]

Tendrl release: latest [Tendrl 1.5.5](https://github.com/Tendrl/documentation/wiki/Tendrl-release-v1.5.5-(install-guide))

Screenshot:
![screen shot 2018-02

[2018-02-06 02:30] gnehapk commented on #804
@julienlim Please share the API response for `/clusters/{cluster_id}/notifications`.

@r0h4n @shtripat @GowthamShanmugam @nthomas-redhat It seems that API/backend is giving different cluster Id in events message. Please look into it.

[2018-02-06 02:34] gnehapk commented on #803
@julienlim Please share the API response for `clusters/{clusterId }/volumes/{volId}/bricks` and `clusters/{clusterId }/nodes/{fqdn}/bricks` .

[2018-02-06 02:35] gnehapk commented on #736
@TimothyAsirJeyasing Please close this issue if its already done.

[2018-02-06 02:38] gnehapk commented on #628
@julienlim As this is implemented in concept b design changes and present in master. Hence, closing it. Please reopen if you see any issue.

[2018-02-06 02:38] #628 closed, assigned to gnehapk

[2018-02-06 02:43] gnehapk commented on #708
@julienlim Please close this issue if it is not reproducible any more.

[2018-02-06 02:44] gnehapk commented on #748
@nthomas-redhat @shtripat @r0h4n @GowthamShanmugam Please close this issue it it is fixed.

[2018-02-06 02:44] gnehapk commented on #709
@nthomas-redhat @shtripat @r0h4n @GowthamShanmugam Please close this issue it it is fixed.

[2018-02-06 03:53] #709 closed, assigned to nthomas-redhat

[2018-02-06 03:56] #748 closed, assigned to nthomas-redhat

[2018-02-06 05:49] a2batic commented on #768
Currently, the datepicker from A date to B date includes all task on and from A and before B, also, if A and B dates are same, it will list all the task on that particular date.

Should the range ( A to B ) include the task on B date as well, when dates are different or the current behavior in fine ?
@julienlim @mcarrano, what do you suggest ?

[2018-02-06 11:50] GowthamShanmugam commented on #804
@gnehapk i will check this

[2018-02-06 11:54] GowthamShanmugam commented on #748
I need to verify this once

[2018-02-06 12:13] shtripat commented on #788
Depends on https://github.com/Tendrl/gluster-integration/issues/553

[2018-02-06 14:25] mcarrano commented on #768
I would expect the search results to include tasks on the "B" date as well as before. @julienlim do you agree?

[2018-02-06 17:05] julienlim commented on #768
@a2batic @gnehapk @fbalak @mcarrano

Yes, I expect the search results to include tasks including the B date, i.e.
Date Range (A to B) == (Dates >= A) AND (Dates <= B)

[2018-02-06 17:09] julienlim commented on #708
@gnehapk I am no longer seeing this with Tendrl 1.5.5.

[2018-02-06 17:09] #708 closed, assigned to nthomas-redhat

[2018-02-06 17:18] julienlim commented on #804
@gnehapk @GowthamShanmugam

[code]

[2018-02-06 17:26] julienlim commented on #803
API response for clusters/{clusterId }/volumes/{volId}/bricks

[code]

[2018-02-06 17:40] julienlim commented on #803
API response for clusters/{clusterId }/nodes/{fqdn}/bricks

[code]

@gnehapk

[2018-02-06 19:22] julienlim opened #806 "Datepicker does not match PatternFly Datepicker"
Tendrl Release: 1.5.5

The datepicker does not match the [PatternFly Datepicker](http://www.patternfly.org/pattern-library/forms-and-controls/datepicker/#code).

![screen shot 2018-02-06 at 2 22 31 pm](https://user-images.githubusercontent.com/5589919/35879376-0d1c9a76-0b49-11e8-9227-a37eedfa0222.png)

Functionally it is working except for the https://github.com/Tendrl/ui/issues/768 bug, but it do

[2018-02-06 19:59] julienlim commented on #806
Related (closed) bug: [Alerts and Tasks views: date picker unexpected behavior](https://github.com/Tendrl/ui/issues/681)

[2018-02-07 05:19] gnehapk commented on #803
@r0h4n @nthomas-redhat @shtripat Since the API returns empty array, UI is not displaying any bricks for it. Please check.

[2018-02-07 05:24] gnehapk commented on #804
@julienlim The response you have shared is for global events. Please share the API response for /clusters/5dbc159e-e4f9-442c-8de7-2ef7435409/notifications where `5dbc159e-e4f9-442c-8de7-2ef7435409` is cluster id.

[2018-02-07 05:24] #798 closed, assigned to nobody

[2018-02-07 05:25] #787 closed, assigned to a2batic

[2018-02-07 05:39] gnehapk commented on #711
@julienlim Please close this issue if it is not reproducible anymore with the latest builds.

[2018-02-07 05:42] gnehapk commented on #644
UI views are updated as per the concept B designs and are present in tendrl-release v1.5.5. Hence, closing this issue.

[2018-02-07 05:42] #644 closed, assigned to nobody

[2018-02-07 06:01] a2batic commented on #806
@julienlim, as part of upgradation to Angular patternfly 4, according to the release notes[1], they have removed pfDatepicker - which we were using earlier, and replaced that with Angular UI Bootstrap's uibDatepicker [2].

Patternfly website library[3] doesn't seem to use angular-patternfly[4] components.

[1] https://github.com/patternfly/angular-patternfly/wiki/Angular-PatternFly-4-Migration-Gui

[2018-02-07 12:45] fbalak opened #807 "Actions related to Profiling not shown in Events"
When I Enable/Disable Profiling for cluster on `Clusters` UI page then there is no message about this on Events page for the cluster.
![0207](https://user-images.githubusercontent.com/22369801/35917042-e8942df8-0c0c-11e8-9340-8df9168ab969.png)

Tested with:
[code]

CC: @julienlim

[2018-02-07 14:59] julienlim commented on #711
I've not observed this with the latest builds, so I'll close this issue.

[2018-02-07 14:59] #711 closed, assigned to nthomas-redhat

[2018-02-07 15:05] julienlim commented on #806
@a2batic @gnehapk @mcarrano

Ack that PF does not have angular-patternfly component for datepicker and are using the bootstrap uibDatepicker.

I'm wondering if there's any styling improvements we can make.  Thoughts?

[2018-02-07 16:17] mcarrano commented on #806
@julienlim I have opened a new issue against Angular PatternFly to style this datepicker to be consistent with the intended design. You can reference that here: https://github.com/patternfly/angular-patternfly/issues/711

[2018-02-07 17:26] julienlim commented on #780
Noting that the related spec is [Tendrl UI Concept B Changes](https://github.com/Tendrl/specifications/pull/256/files#diff-e0b34a23c645111a673d7bfbb541c7fc).

[2018-02-07 18:14] gnehapk opened #808 "list of host should be displayed for failed import cluster"
UXD - https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738627

[2018-02-08 05:52] a2batic commented on #806
@mcarrano @julienlim, I believe we can change color of buttons and few more things by writing our css class as they have used it here https://angular-ui.github.io/bootstrap/#!#datepickerPopup , but, it will be great if patternfly can provide classes to style it according to patternfly style guidelines. Thanks @mcarrano, for creating an issue in patternfly.

[2018-02-08 06:22] a2batic commented on #808
@gnehapk @nthomas-redhat, according to design, host list should contain hostname and host IP address, but we are not receiving host ip address from any of the API

[2018-02-08 09:04] r0h4n commented on #808
Tendrl requires fqdn for all nodes , why is the host ip required here? Also, what happens when there's multiple IP for a host?

@julienlim

[2018-02-08 12:27] julienlim commented on #808
@gnehapk @r0h4n @a2batic

Ack Tendrl requires FQDN.  Host IP is more for troubleshooting as the dialog is supposed to help with troubleshooting.

Host IP doesn't need to show every IP address to the host, all it needs to show the IP address for the FQDN (e.g. like what you would get via nslookup).

[2018-02-08 13:43] fbalak opened #810 "No link to imported cluster on finished import task page"
According to [specification](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/277198382) there should be link `View cluster details` on finished import cluster task. Currently this link is missing:
![0206_import_finished](https://user-images.githubusercontent.com/22369801/35975771-27ac7e60-0cde-11e8-9453-eabdd1aaa6ed.png)

Tested with:
[code]

CC: @ltrilety

[2018-02-08 15:41] ltrilety commented on #810
Not sure how it looks first time but after un-manage of my clusters and importing them again I was able to see the link.

![image](https://user-images.githubusercontent.com/22369834/35981822-85e9cd06-0cee-11e8-80d3-3de2484cefa1.png)

Checked on:
[code]

[2018-02-09 08:29] fbalak commented on #810
I have tested this with fresh installation and it works now as expected. --> CLOSING

Tested with:
[code]

[2018-02-09 08:29] #810 closed, assigned to nobody

[2018-02-09 10:51] ltrilety opened #812 "Track Progress link instead of View Details"
Via https://github.com/Tendrl/specifications/pull/256 there should be `View Details` link when cluster is imported for tracking the import task, but in current version there's `Track Progress` link instead.

Tested with:
[code]

![image](https://user-images.githubusercontent.com/22369834/35982611-86a590b6-0cf0-11e8-899a-3744b5308ef8.png)

[2018-02-09 11:41] ltrilety opened #813 "import task fail not clear error message"
From the error message provided using `View Details` link on `All Clusters` page it doesn't have to be clear what happened.
E.g. I changed baseurl to not existing one in tendrl repository file on `ltrilety-usm2-gl6` machine, so the import had to fail. However the message present in the modal is

`Atom Execution failed. Error: Error executing atom: tendrl.objects.Cluster.atoms.ImportCluster on flow

[2018-02-09 11:57] fbalak opened #814 "Navigation overlaps when resized"
When I resize UI window with opened left panel to be small and narrow then the Tendrl logo or cluster selector overlaps breadcrumb navigation.

When the left panel is opened then it overlaps the cluster selector and the cluster selector is inaccessible.

I suggest to drop the Tendrl logo when the window is resized to small size.

Navigation overlap:

![0209_logo1](https://user-images.githubusercon

[2018-02-09 12:06] fbalak opened #815 "Button opening left panel not working when window is resized"
When I resize UI window with opened left panel to be small and narrow then the left panel disappears but when I click on a button that opens/closes the panel then UI behaves as if it is still opened because it takes 2 clicks to open the panel. After the panel is opened in small window it behaves correctly. This happens only when the window is resized with opened left panel.

Tested with:
[code]

[2018-02-12 03:39] shtripat commented on #807
Based on latest changes in get-state output in gluster, when there is a change in volume profiling info, an event can be generated from tendrl side. I will take this up.

[2018-02-12 14:50] julienlim commented on #804
@gnehapk @GowthamShanmugam

$ curl -XGET -H "Authorization: Bearer 2c5e787459ffb60628be753e18d1ddd6cd265c91351cf22cc3d4c7b99cb8fa8c" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/clusters/5dbc159e-e4f9-442c-8de7-2ef74354094c/notifications

[{"message_id":"128d21ee-7e00-4747-aacf-6300d5625109","timestamp":"2018-02-12T14:45:57.404110+00:00","priority":"notice","message":"Node node3.lo

[2018-02-12 15:21] fbalak opened #816 "Brick Details accessed from Volumes page differ from design"
There are differences compared to the [design document for Brick Details accessed from Volumes page](https://redhat.invisionapp.com/share/XMAOW3UC5#/screens/221662356):

- [ ] In the design document is shown that for each brick is available `PID`. In current implementation there is `Actions` column.
- [ ] In the design document is filter for bricks. It is missing in current implementation.
- [ ] I

[2018-02-12 16:21] julienlim commented on #816
@fbalak @gnehapk @a2batic @mcarrano @mbukatov @nthomas-redhat @jjkabrown1

* Showing PID column is a nice-to-have but not mandatory (if there's not enough space to show it).
* Filter, Expand All, and Collapse All did not get implemented (as there was not enough time to get it done, and I'm not sure what the plan is for it).
* The other tabs mentioned (e.g. Overview, Rebalance, Tuning, Permissions,

[2018-02-12 16:22] julienlim commented on #808
Related to https://github.com/Tendrl/specifications/pull/256#issuecomment-364402195.

@mcarrano

[2018-02-12 19:42] mcarrano commented on #814
Agree with @fbalak that when the window is resized below the size when the logotype and context selector can fit together in the masthead, the logotype should be hidden. This is the approach we are taking for the PatternFly implementation.

[2018-02-13 06:19] GowthamShanmugam commented on #804
This issue is fixed

[2018-02-14 12:59] cloudbehl commented on #704
@julienlim @mcarrano upgrading to the patternfly Filter component is creating some design changes.

The count of items in the list is coming with the Filter component itself. So the horizontal bar on top the counter is not there in the component itself which is making some design differences.

Please see the horizontal bar above the counter in both the images below.

* Before upgrading to Filter c

[2018-02-14 15:26] mcarrano commented on #704
I looked at the demo page for this component and there is a horizontal rule between the filter and the results. See https://www.patternfly.org/angular-patternfly/#/api/patternfly.filters.component:pfFilter

@cloudbehl if you are still having issues we can try to put you in touch with one of the PF-Angular developers.

[2018-02-15 03:56] shtripat commented on #788
Based on @julienlim 's suggestion to have 3 options while import cluster flow for volume profiling enable/disable/leave as-is, I would suggest below changes in backend data model

Have two fields namely `volume_profiling_flag` and `volume_profiling_state` in `Cluster` object. The option selected while import cluster flow, would be maintained under `volume_profiling_flag` of cluster object which wi

[2018-02-15 05:12] shtripat commented on #788
For backward compatibility, with older versions of glusterfs, as `get-state` doesnt report the profiling enabled information for volumes, all the volume.profiling_enabled would be set as `None`. In such a scenarios if user selects `leave-as-is` while import cluster for profiling, the value of `volume_profiling_state` for cluster could be marked as `unkown` as in reality its not known to us in this

[2018-02-15 05:23] cloudbehl commented on #704
@mcarrano Thanks.

But still, the Horizontal line is just covering the 25% because on another half there is a sorting button.

![screenshot from 2018-02-15 10-49-04](https://user-images.githubusercontent.com/6695156/36241772-3d276164-123e-11e8-8a3b-a62221b4a226.png)

[2018-02-15 16:08] dtaylor113 commented on #704
Hi, it seems like you are perhaps overriding/replacing `pf-filter-results` and setting the border to none?

https://github.com/Tendrl/ui/commit/f2b8c2aeb76b612f94e4631a56a4363b3734bc36#diff-164c88137bef42eed133aa0f83a01b2cR37

https://github.com/Tendrl/ui/commit/f2b8c2aeb76b612f94e4631a56a4363b3734bc36#diff-3158ebc1ae6f694cc4bf1142ffd0364fL2

If this is not the case, please include a link to the f

[2018-02-15 16:15] julienlim commented on #788
@shtripat @gnehapk @a2batic @nthomas-redhat @GowthamShanmugam @r0h4n @Tendrl/tendrl-qe

Ack.  Looks good to me, and +1 on how to deal with older version of glusterfs that don't have the get-state for volume profiling support.

[2018-02-15 18:35] cloudbehl commented on #704
@dtaylor113 Thanks. yes, I found there is a class which is overriding the other CSS Class. Will fix it.

[2018-02-15 19:50] julienlim opened #819 "Volumes list should include Volume Profiling column and Enable/Disable Profiling action button [RFE]"
Volumes list should include Volume Profiling column and Enable/Disable Profiling action button.  See  https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738623.

Related to the following GitHub Issues:

- [Volume profile enabled/not-started info in tendrl](https://github.com/Tendrl/gluster-integration/issues/551)
- [Import Cluster: Changing from 2 options checkbox to 3 options radio button

[2018-02-16 09:28] ltrilety opened #821 "View Details should provide Task Details"
`View Details` link should redirect to correct Task Details all the time - during the import cluster run and in the case when the run fails. There should not be the Import Failure Modal any more.

[2018-02-16 13:29] a2batic opened #822 "Refreshing import cluster view shows error"

[2018-02-16 13:59] julienlim commented on #821
Design may be found at https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738628.

@ltrilety @gnehapk @a2batic @Tendrl/tendrl-qe @mcarrano

[2018-02-16 14:07] julienlim opened #823 "Enhance Task Details"
Enhance Task Details to allow for showing multiple tasks within the same view through the use of a master-detail (table) design. Even if there is a single task, we should also follow this same design for consistency.

* [Task Details Design](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/277198377)
* Related mention: [Unmanage Cluster Spec](https://github.com/Tendrl/specifications/pull/25

[2018-02-19 03:29] gnehapk commented on #804
@julienlim Please verify this issue and close it, if its working fine.

[2018-02-19 08:38] gnehapk commented on #819
@julienlim @mbukatov I feel the Enable/Disable Profiling action should be in the kabab menu similar to [cluster list view](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738628) to make the experience consistent across all the screens.

[2018-02-19 08:56] ltrilety commented on #812
Checked with:
tendrl-ui-1.6.0-1.el7.centos.noarch

Looks fixed, hence closing this issue.

[2018-02-19 08:56] #812 closed, assigned to a2batic

[2018-02-19 09:03] ltrilety opened #825 "context switcher drop down list - missing id(s) for imported cluster(s)"
The context switcher drop down list doesn't show id for an imported cluster.
Moreover the details of the cluster cannot be opened by clicking on the cluster link right away, it starts to work after page reload.

Test scenario:
 1. Install tendrl and start to import an cluster
 2. Go to all-clusters page, wait till the import is finished
 3. Check context switcher menu, try to click on cluster link

[2018-02-19 09:11] ltrilety commented on #825
I checked the link and it cannot work as it is before page reload:
[code]

After page reload:
[code]

[2018-02-19 10:13] gnehapk commented on #825
@ltrilety Can you please share the API response received for `/clusters` API.

[2018-02-19 15:29] mcarrano commented on #819
I think you make a fair point @gnehapk . We did this because we don't expect to add further actions to the Volume list view and it seemed off to have the kabob menu with only one action.

[2018-02-20 10:22] fbalak commented on #825
Link to imported cluster on `task` page generated right after import is also invalid. When I click on it I am not redirected. `View cluster details` link references to `hostname/TendrlModule`:
![0220_nolink](https://user-images.githubusercontent.com/22369801/36418784-29c77690-1630-11e8-8ead-e3329e005ab0.png)

Tested with:
[code]

[2018-02-20 11:29] fbalak commented on #825
Now I tested multiple imports with different clusters and it worked as expected. It was probably problem with browser settings.

[2018-02-20 12:03] ltrilety opened #827 "cluster is ready even if re-import fails"
In some cases it could happen that cluster looks like ready and fine even when import task fails.
Test steps:
 1. import cluster - cluster is imported successfully without issue
 2.  un-manage cluster - cluster is successfully un-managed
 3. on some gluster server node remove `tendrl-gluster-integration` package and break the tendrl repository file
 4. run import again
-----
import task failed how

[2018-02-20 12:09] fbalak opened #828 "Unmanage cluster job can be initiated multiple times from UI"
When `unmanage` task is initiated from `All clusters` page then there is a dialog box with option `View Task Progress` or dismiss the dialog box by x button.
![0220_unmanage_dialog](https://user-images.githubusercontent.com/22369801/36422444-4b7a423e-163c-11e8-8fdb-62e4e2b56d10.png)
When x button is selected then the dialog box is closed and `unmanage` task is created but page does not change. Use

[2018-02-20 12:15] gnehapk commented on #827
@ltrilety Can you please share the API response of `\clusters`.

[2018-02-20 12:17] shtripat commented on #819
Just a note in case of individual volumes, its handled bit differently from backend as it submits a job while enable and disable profiling is called for a volume. So volume entity would have a current_job details and based on that we need to display that info in UI as well. If there is a job submitted for enable profiling we should the status of the job for the volume.

@julienlim @mcarrano so we

[2018-02-20 12:22] ltrilety opened #829 "un-manage should be available when import fails"
If import fails in new build the import button remains active, but even if all issues are fixed a cluster cannot be imported again as it always fail and unmanage button is not available.

![import_fail](https://user-images.githubusercontent.com/22369834/36423629-0192c1e6-1641-11e8-8881-fd2514bd8eff.png)

Tested version:
tendrl-commons-1.6.0-1.el7.centos.noarch
tendrl-api-1.6.0-1.el7.centos.noarch

[2018-02-20 12:36] a2batic commented on #828
@fbalak, Cluster list takes some time to reload after triggering unmanage as it will be updated only if API is sending correct data. If you click unmanage again before clusterlist is reloaded with latest API response, it will create a new job for unmanage.
Please share your API response after triggering unmanage operation.

[2018-02-20 12:59] fbalak commented on #828
@a2batic You are right, `clusters` API call is sent periodically after a few seconds and the UI is correctly updated right after the response is obtained. Maybe it would be good to disable the `Unmanage` option in kebab menu after API call for unmanage is sent and update it with next successful `clusters` API response.

[2018-02-20 13:32] ltrilety commented on #827
@gnehapk I already made some changes and when I tried the scenario again I don't get the same state. This time I have unhealthy cluster state. All other is the same. The cluster is still `Ready to Use`.
Anyway clusters API response:
[code]

[2018-02-20 18:29] a2batic opened #830 "Disable import/unmanage after they have been clicked"
Disable the function of import/unmanage of the cluster once they have triggered. Ref: https://github.com/Tendrl/ui/issues/828

[2018-02-21 08:18] gnehapk commented on #823
As per @r0h4n and @nthomas-redhat comments, its difficult to send the task ids of both unmanage and import cluster task ids in API at the moment, so they have suggested to store it on the client side.

As per my knowledge, there are three ways to store data on client side - cookies, local storage and session storage. Storing data using the mentioned techniques is not reliable because of the follow

[2018-02-21 08:23] a2batic commented on #769
@nthomas-redhat @r0h4n @shtripat @GowthamShanmugam @gnehapk
Patternfly seems to use a flag to check for read/unread alert [1]. They have used an attribute `unread: true/false` for this purpose.

As per the current response from global alert API `/alerts `, we are not receiving any such flag. So, a flag will be required for this purpose.

[1] https://www.patternfly.org/angular-patternfly/#/api/patt

[2018-02-21 09:01] dahorak opened #831 "rename Makefile target update-release to gitversion"
It would be good to rename Makefile target `update-release` to `gitversion` to unify the name across other Tendrl repos.

https://github.com/Tendrl/ui/blob/master/Makefile#L34

[2018-02-21 09:05] ltrilety commented on #769
I agree with @julienlim we need some indication that there are some active not cleared alerts. Ideally only those not acked/read. But for upcoming release just showing those active ones will be enough.

[2018-02-21 11:51] cybernth commented on #828
But even in that case, user would be able to open another browser and try the same.
In any case I won't consider this as a deal breaker because backend handles this properly and fails the job

[2018-02-21 11:53] cybernth commented on #825
@gnehapk , can you close this as the fix is already merged

[2018-02-21 11:54] cybernth commented on #829
@a2batic , can you close this issue if the fix is merged?

[2018-02-21 14:17] ltrilety commented on #829
@nthomas-redhat I'll close the issue when I verify this issue, probably in next build.

[2018-02-21 16:17] gnehapk commented on #769
@nthomas-redhat @shtripat Even for indication of the new alerts, UI need a reference value to compare with. Once user logged in to tendrl, there should be some property in the `/alerts` API response so that the UI know that user has new alerts to read.

[2018-02-21 16:48] julienlim commented on #823
@gnehapk @mcarrano @r0h4n @nthomas-redhat @Tendrl/qe

 Per discussions in https://github.com/Tendrl/documentation/wiki/Architecture-Meeting-Notes (19 Feb 2018), unmanage and import cluster are going to be handled separately, so there's not a need to enhance task details at this phase of the release.  Let's keep Task Details as-is.  The [design](https://redhat.invisionapp.com/share/8QCOEVEY9#/scree

[2018-02-21 17:32] mcarrano commented on #819
We have updated the Volumes list view as follows:
* While the task is in progress, the Volume Profiling field will show "Pending" with a link to the task details.
* The Enable/Disable Profiling button will be disabled during this process.

You can see the updated designs here: https://redhat.invisionapp.com/share/8QCOEVEY9

[2018-02-22 02:40] shtripat commented on #769
@GowthamShanmugam ^^^ thoughts?

[2018-02-22 03:07] shtripat opened #833 "Tasks list shows lot of overlaps if no of tasks is huge in UI"
When the list of tasks is huge there is a overlap seen in UI as below

![screenshot from 2018-02-22 08-34-42](https://user-images.githubusercontent.com/6771252/36518202-8c4c9be8-17ab-11e8-87bd-e32af9daa27a.png)

[2018-02-22 03:07] shtripat commented on #833
@gnehapk @a2batic ^^^

[2018-02-22 05:52] a2batic opened #834 "Show task detail for failed import on task-view"
Design: https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/279647239

[2018-02-22 06:20] GowthamShanmugam commented on #769
@shtripat when warning alert is replaced by clearing alert I am marking acked value in alert object as True https://github.com/Tendrl/commons/blob/master/tendrl/commons/objects/alert/__init__.py#L47

Using this flag they can easily identify the number of uncleared alerts.

my doubt is why we need an unread alert count here, is that uncleared alert count of unread alert count?

[2018-02-22 07:02] a2batic commented on #769
@GowthamShanmugam, Ui needs a flag which says, following, for example:-
The flag can be a Boolean with is true when ` alerts received > alerts received in last polling `. We don't require alert count/number. We just need to tell user that there are more alerts.

[2018-02-22 08:20] cybernth commented on #769
@GowthamShanmugam , @a2batic, I don't think whatever mechanisms discussed here are reliable enough to give consistent results. If you want to have this implemented properly, we need to catogorize alerts based on the read/unread( Using the ack fetaure) in backend which can't be done with in the time frame we are looking for.
What we can do right now is to show an indication if there is any un-clear

[2018-02-22 09:52] a2batic opened #835 "Refactoring of views"
- Add filterValues to filter with fixed values
- Add filter to host brick page
- Shift classes which are used by most of the views to main.css

[2018-02-22 15:04] julienlim commented on #769
+1 @nthomas-redhat, i.e. showing indicator for uncleared alerts.  We don't need a count.  As we have no ability to ack/unack an alert, this seems to be the only option.

[2018-02-22 19:27] julienlim opened #836 "Unmanage cluster: still able to use context-selector to the cluster being unmanaged during unmanage"
I'm using the Tendrl 1.6.0 latest from master as provided by @mbukatov and am observing that when I unmanage a cluster (e.g. ClusterA), once I initiate the unmanage action, I'm still able to click on ClusterA in the context-selector.

As soon as the ClusterA is switched to unmanaged (in the Cluster list), the ClusterA should no longer be listed in the context-selector as a choice.

![screen shot 2

[2018-02-22 19:53] julienlim opened #837 "No volumes after successful import, unmanage, then import"
Release: Tendrl 1.6.0 - latest master (as of Feb 22 2018)

I imported successfully a cluster, and then unmanaged it successfully, and then imported again the same cluster.  After the unmanage, the Volumes list for the cluster is empty.

Screenshot from first import:
![screen shot 2018-02-22 at 2 16 57 pm](https://user-images.githubusercontent.com/5589919/36560874-094ec33a-17e0-11e8-8e2e-e7da287451

[2018-02-23 04:14] gnehapk commented on #837
@julienlim can you please share the API response for `/clusters/{cluster_id}/volumes`

[2018-02-23 05:24] gnehapk commented on #825
Closing this issue as the fix PR has been posted.

[2018-02-23 05:24] #825 closed, assigned to gnehapk

[2018-02-23 05:24] a2batic commented on #836
@julienlim Please share the API response of `/cluster`.

@julienlim @mcarrano, Also, the tooltip will only shows up when unmanage fails ?

[2018-02-23 05:25] gnehapk commented on #804
@julienlim I am closing this issue. Please open it if you see this issue again.

[2018-02-23 05:25] #804 closed, assigned to nobody

[2018-02-23 05:25] #801 closed, assigned to nobody

[2018-02-23 08:55] #831 closed, assigned to TimothyAsir

[2018-02-23 14:59] julienlim commented on #837
[code]

@gnehapk

[2018-02-23 18:48] julienlim commented on #836
@a2batic

[code]

[2018-02-24 02:23] julienlim commented on #836
@a2batic Let's leave off the tooltip, and put that in documentation.  Thanks.

[2018-02-26 04:55] gnehapk commented on #837
@julienlim Since API is returning empty response, UI is not displaying any volume.
@r0h4n @nthomas-redhat @shtripat @GowthamShanmugam Please check.

[2018-02-26 05:11] shtripat commented on #837
@gnehapk There is a change now in import cluster which would mark the import job finished only when all the gluster nodes report as first sync done. This should resolve the issue.

[1] https://github.com/Tendrl/gluster-integration/pull/565
[2] https://github.com/Tendrl/commons/pull/827

[2018-02-26 05:45] gnehapk commented on #833
@shtripat Issue has been fixed, Please verify it and close.

[2018-02-26 08:09] #770 closed, assigned to a2batic

[2018-02-26 09:05] #822 closed, assigned to a2batic

[2018-02-26 09:06] gnehapk commented on #800
@julienlim Please verify this issue.

[2018-02-26 09:08] #780 closed, assigned to gnehapk

[2018-02-26 09:08] #768 closed, assigned to a2batic

[2018-02-26 09:12] gnehapk commented on #687
@GowthamShanmugam Is this issue fixed?

[2018-02-26 09:24] gnehapk commented on #827
@ltrilety Can you please close this issue if you are not seeing this issue any more.

[2018-02-26 09:53] ltrilety commented on #827
@gnehapk I can close it if it will not be valid in another release. However in this release it's valid. What I said in my previous comment was not that I don't see the issue. I just said that when I repeated reproduction steps the cluster state was different - not healthy but unhealthy. That doesn't have any impact on issue validity.

[2018-02-26 10:06] gnehapk commented on #827
@ltrilety Ack. @r0h4n @nthomas-redhat @shtripat @GowthamShanmugam `is_managed` is set to "yes" in the response shared by @ltrilety, hence UI is displaying it is managed cluster. Please check.

[2018-02-26 13:15] ltrilety opened #839 "Users submenu"
The `title` and `id` of submenu where `Users` link is located is `notifications` as of now.
[code]
The title and id should be something else as for sure this is not just about notifications. It should be e.g. `User Management` as `title` and `usermanagement` as `id`.

BTW The `id` is not unique as the same one has following alerts menu.

Tested version:
tendrl-ui-1.6.0-1.el7.centos.noarch

[2018-02-26 13:16] ltrilety opened #840 "drop-down menu aria-labelledby"
There are two drop-down menus with the same label. User management one with `Users` link and the one for user actions like `My Settings` and `Logout`.
[code]

Such duplicates complicate a test automation a little.

Tested version:
tendrl-ui-1.6.0-1.el7.centos.noarch

[2018-02-26 13:20] ltrilety opened #841 "'Name: <User>' title"
A title for user actions like `My Settings` and `Logout` is `Name: <user>`.
[code]
That doesn't hint anything from such title it's not clear what the sub-menu is about. I suggest to use e.g. `User Actions` instead.

Tested version:
tendrl-ui-1.6.0-1.el7.centos.noarch

[2018-02-26 15:26] julienlim commented on #800
@gnehapk Verified that Tasks Details now shows "Completed"

[2018-02-26 15:26] #800 closed, assigned to gnehapk

[2018-02-27 04:43] GowthamShanmugam commented on #687
@gnehapk this issue is fixed Tendrl/monitoring-integration/pull/219

[2018-02-27 08:51] gnehapk commented on #687
@julienlim Please verify this issue.

[2018-02-27 10:30] a2batic commented on #829
@ltrilety, this issue has been fixed with the latest master (tendrl-ui-1.6.0-20180223T121254.729004b.noarch.rpm). Please verify.

[2018-02-27 10:32] a2batic commented on #716
@julienlim, This issue has been fixed with the latest master tendrl-ui-1.6.0-20180223T121254.729004b.noarch.rpm, please verify

[2018-02-27 10:35] a2batic commented on #836
@julienlim, this issue has been fixed already (https://github.com/Tendrl/ui/issues/825). Its not reproducible with the latest master. Please verify with the latest build (tendrl-ui-1.6.0-20180223T121254.729004b.noarch.rpm) .

[2018-02-27 12:09] a2batic commented on #718
@julienlim @mcarrano , Due to introduction of new filter component[1] by Angular patternfly 4, there is an additional 'Clear all filters' appearing after applying filter.

So, the views look like following now:-

1. Host/volume/brick/cluster/user
![screenshot from 2018-02-27 17-32-17](https://user-images.githubusercontent.com/12200504/36727705-47eef094-1be4-11e8-8723-89405553e99c.png)

2. Task
![s

[2018-02-27 12:34] a2batic opened #843 "[RFE] Move status filter to already integrated filter component"
![screenshot from 2018-02-27 17-24-29](https://user-images.githubusercontent.com/12200504/36728964-8f39e892-1be8-11e8-9a1e-a4b777476cd9.png)

Move the status as one of the filter in filter component.

[2018-02-27 12:38] a2batic commented on #843
Ref: https://github.com/Tendrl/ui/issues/718

[2018-02-27 12:51] gnehapk commented on #808
@mcarrano @julienlim To maintain the consistency, I would like to suggest to display the [host list](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/278907431) in the similar design as we have displayed the other list views. Currently the [host list view](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/278907431) design is different from other [list views](https://redhat.invisionap

[2018-02-27 14:54] julienlim commented on #808
@gnehapk @mcarrano

The same thought had occurred to us; however, if we did display it in a similar fashion, users would ask why don't they have the same detailed information (when the only thing we have is hostname/FQDN, IP address, and perhaps Gluster version at this point which if we do have available we should show).  Hence, why we decided not to.

[2018-02-27 14:56] #716 closed, assigned to gnehapk

[2018-02-27 16:50] julienlim opened #844 "Unmanage Cluster failed: Unusual UI behavior"
Unmanage cluster failed, and I'm observing some unusual behavior:

(1) Instead of showing the task details for the Unmanage cluster, it shows me an error message that is truncated.  Message should wordwrap if needed and not be truncated.

(2) The Modal says "Import Cluster" vs. "Unmanage Cluster" which is surprising since user is trying to Unmanage the cluster.

<img width="1267" alt="screen shot

[2018-02-28 16:54] gnehapk opened #846 "volume list unit testing"

[2018-02-28 17:59] a2batic opened #848 "Implementation of expand cluster"
Ref: https://github.com/Tendrl/specifications/issues/253

[2018-02-28 18:08] gnehapk commented on #788
@julienlim @mcarrano @shtripat @nthomas-redhat @r0h4n How "Enable/Disable Profiling" action should work for cluster's mixed volume profiling status?

![mixed-vol-profile](https://user-images.githubusercontent.com/5517376/36804230-f484fb0e-1cdf-11e8-8f9f-90d51cc472ce.png)

[2018-02-28 20:05] julienlim commented on #788
@julienlim @mcarrano @shtripat @nthomas-redhat @r0h4n @gnehapk

Good question @gnehapk.

At the cluster level (after import), if supported by get-state, when enable profiling performed, volume profiling should be enabled on all volumes in the cluster even if it's mixed.

If disable profiling performed, then volume profiling should be disabled on all volumes in the cluster even if it's mixed.

If m

[2018-03-01 06:05] #846 closed, assigned to nobody

[2018-03-01 09:28] shtripat commented on #788
Sorry fir just a thumps up above.
So I am in agreement with @julienlim here.

If after import the cluster level value if `mixed` we should have both `enable` and `disable` options available at cluster level. Back-end would take care of enabling/disabling accordingly as part sync for all the volumes of the cluster.

[2018-03-02 06:45] cybernth opened #852 "Task status not updated for a long time"
1. trigger import cluster
2. Go to task details page
3. Task status is displayed as 'New', even after the task is in progress and task details are getting updated on the screen

[2018-03-02 11:01] gnehapk commented on #852
@nthomas-redhat Can you please share the API response of `/jobs/{jobId}/status` received

[2018-03-04 02:02] a2batic commented on #834
Fixed with tendrl-ui-1.6.0-20180301T125742.65690ee.noarch.rpm (latest master build).

[2018-03-04 02:02] #834 closed, assigned to nobody

[2018-03-05 09:28] gnehapk commented on #840
@ltrilety Can you please close this issue, if done.

[2018-03-05 09:29] gnehapk commented on #839
@ltrilety Can you please close this issue, if done.

[2018-03-05 09:30] #830 closed, assigned to nobody

[2018-03-05 09:33] gnehapk commented on #828
@fbalak  Unmanage option will be disabled in UI once user performs unmanage. It will be updated based on the next clusters API call values.

[2018-03-05 10:39] gnehapk commented on #813
@ltrilety As per the latest [design](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/282443505), error modal has been removed. Error messages can be seen at import task detail view. Hence, closing this issue.

[2018-03-05 10:39] #813 closed, assigned to nobody

[2018-03-06 13:13] a2batic commented on #718
@julienlim @mcarrano, please update the design according to the above changes.

[2018-03-06 13:20] cloudbehl opened #857 "Update readme"
Update readme:
1. Tendrl wiki link
2. New dependency
3. New UI dev environment changes.

[2018-03-07 08:59] gnehapk opened #859 "Delete "password_confirmation" property from request data of create and edit user API"

[2018-03-08 04:53] gnehapk commented on #852
@nthomas-redhat Fixed with the milestone 3 release. Closing it.

[2018-03-08 04:53] #852 closed, assigned to gnehapk

[2018-03-08 04:54] #769 closed, assigned to a2batic

[2018-03-08 04:55] gnehapk commented on #788
@julienlim Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,

[2018-03-08 04:55] #788 closed, assigned to a2batic

[2018-03-08 04:55] gnehapk commented on #819
@julienlim Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,

[2018-03-08 04:55] #819 closed, assigned to nobody

[2018-03-08 04:55] #808 closed, assigned to nobody

[2018-03-08 04:56] gnehapk commented on #821
@ltrilety  Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,
,

[2018-03-08 04:56] #821 closed, assigned to nobody

[2018-03-08 04:56] gnehapk commented on #828
@fbalak  Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,

[2018-03-08 04:56] #828 closed, assigned to nobody

[2018-03-08 04:56] #829 closed, assigned to a2batic

[2018-03-08 04:57] #833 closed, assigned to nobody

[2018-03-08 04:57] #836 closed, assigned to nobody

[2018-03-08 04:58] gnehapk commented on #837
@julienlim Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,

[2018-03-08 04:58] #837 closed, assigned to nobody

[2018-03-08 04:58] gnehapk commented on #844
@julienlim Fixed with the milestone 3 release. Hence, closing it. Please open, if you see any issue,

[2018-03-08 04:58] #844 closed, assigned to nobody

[2018-03-08 04:58] #857 closed, assigned to nobody

[2018-03-08 04:59] #843 closed, assigned to nobody

[2018-03-08 05:01] #687 closed, assigned to cloudbehl

[2018-03-08 05:13] gnehapk commented on #827
@r0h4n @shtripat @nthomas-redhat Please close the issue, if its fixed.

[2018-03-08 05:13] gnehapk commented on #807
@r0h4n @shtripat @nthomas-redhat Please close the issue, if its fixed.

[2018-03-08 05:13] gnehapk commented on #803
@r0h4n @shtripat @nthomas-redhat Please close the issue, if its fixed.

[2018-03-08 06:05] r0h4n commented on #827
@shtripat  We need to set GlobalDetails.status as unhealthy and Cluster.status appropriately in case of import job failures.

[2018-03-08 06:07] r0h4n commented on #807
@shtripat  any update on this?

[2018-03-08 07:16] shtripat commented on #807
@r0h4n now we have actions available at volume level to set/unset profiling. Also while sync when there is change found it raises events for the same.

[2018-03-08 07:16] shtripat commented on #807
This could be closed

[2018-03-08 07:17] r0h4n commented on #803
This is not seen in Milestone 3, please verify again

[2018-03-08 07:17] #803 closed, assigned to nobody

[2018-03-08 08:33] ltrilety commented on #839
Fixed in:
tendrl-ui-1.6.1-1.el7.centos.noarch

[2018-03-08 08:33] #839 closed, assigned to nobody

[2018-03-08 08:33] ltrilety commented on #840
Fixed in:
tendrl-ui-1.6.1-1.el7.centos.noarch

[2018-03-08 08:33] #840 closed, assigned to nobody

[2018-03-08 08:33] ltrilety commented on #841
Fixed in:
tendrl-ui-1.6.1-1.el7.centos.noarch

[2018-03-08 08:33] #841 closed, assigned to nobody

[2018-03-08 09:17] ltrilety commented on #827
I tried to import cluster with not functional repository set so it has to fail. The fail happened however the cluster looks like ready and healthy.

Tested version:
tendrl-ui-1.6.1-1.el7.centos.noarch

Reproduction steps:
 1. Prepare gluster cluster, prepare tendrl server and run tendrl-ansible
 2. Broke the tendrl.repo file on some gluster node
e.g. change `baseurl` line to `baseurl = http://bad.

[2018-03-08 09:44] ltrilety opened #861 "Warning and errors in firefox browser console"
I have a lot of warnings and errors in my browser console, when I open tendrl UI and log in.

E.g.

message | css location
--------- | ------------
Unknown property ‘size’.  Declaration dropped.  | main.css:1:414
Error in parsing value for ‘display’.  Declaration dropped. | main.css:1:779
Error in parsing value for ‘-webkit-box-pack’.  Declaration dropped. | main.css:1:2691
Unknown pseudo-class or

[2018-03-08 09:45] ltrilety commented on #821
Seems fixed, however I was not able to get proper failed import state, because of https://github.com/Tendrl/ui/issues/827#issuecomment-371427988

[2018-03-08 09:46] ltrilety commented on #829
I was not able to get proper failed import state because of https://github.com/Tendrl/ui/issues/827#issuecomment-371427988

[2018-03-08 15:45] fbalak commented on #807
@shtripat I will close it but I would like to wait for https://github.com/Tendrl/gluster-integration/issues/579 to be resolved. Now I am able to show only message `Value of volume profiling for volume: volume_beta_arbiter_2_plus_1x2 of cluster 6925ae1b-afdc-4bc3-97f0-90acf941fa1f`.

[2018-03-09 08:54] gnehapk commented on #848
Depends on https://github.com/Tendrl/api/issues/384

[2018-03-09 18:08] a2batic opened #862 "Unit test for host List"

[2018-03-09 18:37] julienlim opened #864 "Breadcrumbs appearing when not needed, and overly long breadcrumbs in detail pages"
In tendrl 1.6.1 release, I'm observing the following when I am looking at a given cluster:
* breadcrumbs on the hosts, volumes, tasks, and events pages (from left-nav) when not needed and not specified in design [Hosts List](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/283620800), [Volumes List](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738623), [Tasks List](https://red

[2018-03-09 21:19] julienlim opened #865 "Host details issues"
In tendrl 1.6.1, for the host details that show the bricks for a given node in a cluster, there are a few things that need to be addressed:

(1) breadcrumb overly long -- see https://github.com/Tendrl/ui/issues/864 for more details
(2) the brick path should be shown before the volume name
(3) for truncated volume name, user should be able to hover to see what the full name is (like on the brick pa

[2018-03-09 21:45] julienlim opened #866 "Filtering in the Host Details not working consistently"
I've posted a series of screenshots to show the filtering in the host details that shows some unexpected behavior:

<img width="1206" alt="screen shot 2018-03-09 at 4 42 32 pm" src="https://user-images.githubusercontent.com/5589919/37231381-f61e0c46-23b8-11e8-8740-73f2cc18b2c0.png">

<img width="1207" alt="screen shot 2018-03-09 at 4 44 01 pm" src="https://user-images.githubusercontent.com/5589919

[2018-03-12 05:12] gnehapk commented on #861
@ltrilety Myself and @a2batic, we both tried and this error is not reproducible. Attaching screenshot for the same.
![screenshot from 2018-03-12 10-39-04](https://user-images.githubusercontent.com/5517376/37266661-c51dfd1a-25e1-11e8-8d18-f49bfd1633f3.png)

[2018-03-12 08:03] ltrilety commented on #861
@gnehapk yeah, you 're right. I found that too, when I try it in Fedora. The reason of those errors is that I run the Firefox on my mac machine.

[2018-03-12 09:33] a2batic commented on #866
@julienlim, it seems to be patternfly bug.
The filter component[1], shows similar behavior.

[1] https://www.patternfly.org/angular-patternfly/#/api/patternfly.filters.component:pfFilter

[2018-03-12 09:43] ltrilety opened #867 "indices in case of clear alert"
Indices for alerts are decreased when a clear alert comes. That's fine as long as the related alert is present however in some strange situation it could happen that the alert does not exist. That leads to state when the number of alerts could be minus number.

BTW In my case I just imported a cluster which looks like 'ready to use' before the import was altogether completed.

![alert_nr](https://

[2018-03-12 09:45] dahorak opened #868 "Opening links in new tab points to not existing /TendrlModule/ page"
It is not possible to open any link in new tab (using *Ctrl+left click* or *middle button click*, because it leads to not existing URL containing. For example:
`http://tendrl-server.example.com/TendrlModule/#/cluster-volumes/9d89ec2a-38f2-4a3a-8282-d63fc08b7809
`
Instead of:
`
http://tendrl-server.example.com/#/cluster-volumes/9d89ec2a-38f2-4a3a-8282-d63fc08b7809
`
And return *404 Not Found* page:

[2018-03-12 09:45] gnehapk commented on #867
@ltrilety Please share the `/clusters` API response.

[2018-03-12 09:46] dahorak commented on #868
See also https://github.com/Tendrl/ui/issues/577

[2018-03-12 09:53] ltrilety opened #869 "Cluster detail link"
The details of the cluster cannot be opened by clicking on the cluster link right away, it starts to work after page reload.

Test scenario:

 1. Install tendrl and start to import an cluster
 2. Go to all-clusters page, wait till the import is finished
 3. Try to click on the cluster id in the clusters list (not in the context switcher drop-down menu)

![cluster_link](https://user-images.githubus

[2018-03-12 09:58] gnehapk commented on #868
@dahorak Yes, it works after removing `/TendrlModule/`. Thanks. Will send the patch in my next PR.

[2018-03-12 12:15] ltrilety commented on #867
@gnehapk you're most probably right with your suspicion that the issue is not on UI side. Unfortunately I don't have that response anymore, as of now API is telling me I have 2 alerts for the clusters whilst all other indices says zero. Feel free to move this issue where it belongs.

[2018-03-12 19:43] a2batic commented on #864
@julienlim @mcarrano, I have a doubt about design[1]. There is a hyperlink on the clustername for all breadcrumbs. This hyperlink links to which view ?

[1] https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/284143399

[2018-03-12 20:39] mcarrano commented on #864
@a2batic This should take you back to the parent list where that item lives, either the Host list or the Volume list to that cluster. Does that make sense?

[2018-03-14 05:44] gnehapk commented on #866
@julienlim In the filter component,  multiple 'text' filter values are AND'ed together. So its basically searching for records which have both `Brick Path: 1` and `Brick Path: 49152`, which doesn't match with any record. Hence, its showing you no results.

[2018-03-14 10:07] a2batic commented on #864
@mcarrano, yes, that make sense. Thankyou.

[2018-03-14 11:12] gnehapk opened #871 "Change `Cluster.volume_profiling_flag` to `volume_profiling_flag` in request data of import flow"

[2018-03-14 12:35] GowthamShanmugam opened #872 "Alert count objects variable warning_count is renamed to alert_count"
Currently, UI is looking for a field "warning_count" from API response to the display alert counts. But "warning_count" is renamed to "alert_count".  So to display alert count UI need to change this filed name.

changes required in:
    1. cluster alert count
    2. node wise alert count
    3. volume alert count

[2018-03-14 13:45] fbalak opened #873 "Password is sent twice from UI when user is created/edited"
In user administration in UI is password sent via API twice when is created new user or edited existing user. API calls that are sent by API are described in https://github.com/Tendrl/api/issues/106.

Steps to Reproduce:
[code]

Actual results:
In API calls sent from UI are 2 parameters: `password` and `password_confirmation`.

Expected results:
There should be only parameter `password` and confir

[2018-03-14 14:53] julienlim commented on #866
@gnehapk I was expecting an OR behavior vs. an AND behavior so was confused by the results.

@mcarrano From filtering perspective, do you expect OR or AND behavior?

[2018-03-14 15:00] mcarrano commented on #866
@julienlim @gnehapk Should be an AND behavior. That's how it's defined in PatternFly. So the idea is that you incrementally narrow the results list as you apply more filters.

[2018-03-15 04:52] #871 closed, assigned to gnehapk

[2018-03-15 04:54] gnehapk commented on #866
@julienlim @mcarrano As the filter is working as expected. Hence closing the issue.

[2018-03-15 04:54] #866 closed, assigned to a2batic

[2018-03-15 08:24] cybernth opened #874 "Task details are not refreshed after the job completion"
1. Start the import
2. Go to task details page
3. You can see the task updates
4. After the job completion, latest details are not updated into the events section

[2018-03-15 12:12] #862 closed, assigned to nobody

[2018-03-15 12:13] gnehapk commented on #873
duplicate of #859

[2018-03-15 13:51] julienlim commented on #866
@gnehapk @mcarrano I'm not sure that the filter is working correctly as '1' is valid and so is '4912', so that means it should return the 2nd row and not null/no rows.

[2018-03-16 08:31] a2batic opened #878 "Data not required for start/stop profiling"
Ref: https://github.com/Tendrl/api/issues/392

[2018-03-17 13:48] cybernth opened #879 "Enable/Disable profiling at cluster level reset the flag to 'leave-as-is'"
Etcd after enable/disable profiling
{
"key": "/clusters/1d3929ec-f466-4957-8183-83e80771a9ca/volume_profiling_flag",
"value": "leave-as-is",
"modifiedIndex": 13645,
"createdIndex": 13645
},

UI seems to be sending the incorrect payload:
{enable_volume_profiling: "enable"}

should it be "Cluster.volume_profiling_flag ??

[2018-03-17 13:48] cybernth commented on #879
@shtripat , @shirshendu

[2018-03-18 17:15] #878 closed, assigned to nobody

[2018-03-19 05:24] #872 closed, assigned to gnehapk

[2018-03-19 06:01] gnehapk commented on #873
@fbalak Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify and close the issue.

[2018-03-19 06:01] gnehapk commented on #869
@ltrilety  Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify and close the issue.

[2018-03-19 06:02] gnehapk commented on #868
@dahorak  Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify and close the issue.

[2018-03-19 06:02] gnehapk commented on #872
@GowthamShanmugam  Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify.

[2018-03-19 06:04] gnehapk commented on #865
@julienlim  Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify and close the issue.

[2018-03-19 06:04] #859 closed, assigned to gnehapk

[2018-03-19 06:04] #848 closed, assigned to gnehapk

[2018-03-19 06:05] #835 closed, assigned to nobody

[2018-03-19 08:18] gnehapk commented on #816
@fbalak Fixed in tendrl-ui-1.6.1-20180317T042235.84aac52.noarch.rpm build. Please verify and close the issue.

[2018-03-19 10:41] GowthamShanmugam commented on #872
Verified, i can see it in UI

[2018-03-19 17:45] shtripat commented on #879
Now backend provides cluster level flow for enable/disable volume profiling for all the underlying volumes. UI needs changes to invoke the API for the same as a flow and show the flow details as usual cluster level flows. The input data for the same would be `Cluster.volume_profiling_flag` and values can be set as `enable` or `disable`.

[1] https://github.com/Tendrl/gluster-integration/pull/593

[2018-03-20 06:13] shtripat commented on #879
@mbukatov @julienlim @nthomas-redhat once this job is in progress , the progress can be seen at cluster level using  `View Details` option. After completion of the flow, it would need a sync to reflect all the details at volume and cluster level properly.

[2018-03-20 09:22] ltrilety opened #881 "sorting columns"
In current version `tendrl-ui-1.6.1-1.el7rhgs.noarch` it's possible to sort by:

 1. Clusters:
    - Name
    - Status
    - Cluster Version
    - Managed

 2. Hosts:
    - Name

 3. Volumes:
    - Name
    - Status

It makes sense to be able to sort also by other parameters too. All columns could be used for sorting and for almost all of them it makes sense.

 1. Clusters:
    - We should provide

[2018-03-20 09:33] gnehapk commented on #881
@mcarrano @julienlim Please see the above comments.

[2018-03-20 09:43] gnehapk commented on #879
@mcarrano @julienlim Please update the UX of cluster list view to display the `Pending` state for Volume Profiling column, if the job for enable/disable volume profile task in in progress.

[2018-03-20 11:22] dahorak commented on #868
I can confirm, that it works with the latest *master* builds.
Tested with `tendrl-ui-1.6.1-20180319T082533.cab4a4e.noarch`.

[2018-03-20 11:22] #868 closed, assigned to nobody

[2018-03-20 18:43] julienlim commented on #881
@gnehapk @ltrilety @mcarrano

Ideally every column should be sortable in any list or table view with ability to perform filter and find as well.  Moreover, we should have some level of parity and consistency in what we can sort from list view to list view.  E.g. version, status, and managed should be sortable in the Hosts list, which would give users some level of parity and consistency.

At the m

[2018-03-20 19:15] mcarrano commented on #879
@gnehapk We have added this to the Clusters list here: https://redhat.invisionapp.com/share/HVGA7O575AZ#/244738628_Clusters

Basically, when the task is in progress, the state should change to Pending and be linked to the task details. Let us know if you have any questions.

[2018-03-21 05:51] ltrilety commented on #881
@julienlim @gnehapk I consider this issue a low priority. Well, that's why I created an issue and not a bugzilla. It's just I feel the functionality should be there, especially the number of alerts sort/filter.  For user it could be good to get the list for the most problematic items.
For sure we could mark it as enhancement feature request.

[2018-03-21 09:33] cloudbehl commented on #749
The is a Monitoring Integration issue, so I am moving this issue to the MI repo.
https://github.com/Tendrl/monitoring-integration/issues/386.

[2018-03-21 09:33] #749 closed, assigned to cloudbehl

[2018-03-21 11:42] a2batic opened #883 "Add unit test cases for views"
Host, Cluster, Task, Volume List

[2018-03-21 11:56] a2batic commented on #718
@julienlim, the issue has been fixed with the latest master build tendrl-ui-1.6.1-20180321T062725.a13280b.noarch.rpm, please verify.

[2018-03-21 15:19] gnehapk opened #885 "Sorting button not working if filters applied"

[2018-03-22 08:54] #883 closed, assigned to nobody

[2018-03-23 04:56] gnehapk commented on #549
@julienlim Column version has been added to host list view. Hence, closing this issue. Please feel free to open, if you see any issue.

[2018-03-23 04:56] #549 closed, assigned to nobody

[2018-03-23 05:05] shtripat commented on #544
Off late this issue I havent seen. Various changes around sds detect have resolved this issue. This could be closed I feel.

[2018-03-23 05:06] gnehapk commented on #544
@julienlim Closing this issue. Please feel free to open, if you see this issue again.

[2018-03-23 05:06] #544 closed, assigned to nthomas-redhat

[2018-03-26 08:44] fbalak commented on #816
Looks ok --> Closing.

Tested with:
[code]

[2018-03-26 08:47] fbalak commented on #873
Fixed.

Tested with:
[code]

[2018-03-26 08:47] #873 closed, assigned to gnehapk

[2018-03-26 10:18] gnehapk opened #888 "Expand action not getting disabled on cluster list, when no expansion required"

[2018-03-26 12:51] #736 closed, assigned to TimothyAsirJeyasing

[2018-03-26 13:16] cloudbehl opened #890 "UI should disable the button when button or link is clicked for profiling"
UI needs to disable the button when the Profiling job is in progress, right now a person can fire multiple jobs to enable or disable the profiling from UI at a time when a job is already running.

[2018-03-26 13:25] cloudbehl opened #891 "Some times login page shows the side nav bar"
![screenshot from 2018-02-09 15-03-26](https://user-images.githubusercontent.com/6695156/37908926-2bdb8d06-3127-11e8-801d-5a43725aacbe.png)

[2018-03-26 13:36] ltrilety opened #892 "Style of text fields is not unified"
Style of 'text fields' is not unified.
In most cases we use something like "Pascal Case", in other words all initial characters are capitals like 'Clusters', 'Volume Profiling', 'Ready to Use' ...
But there's some exceptions to this rule like 'UP', 'DOWN' as status for hosts, 'Ready to import' and 'unmanage the cluster'.
We should correct those exceptions to use the same style as everything else.

[2018-03-26 13:53] gnehapk commented on #891
@cloudbehl Can you please mention the steps which lead you to this issue?

[2018-03-26 14:10] gnehapk commented on #890
PR - https://github.com/Tendrl/ui/pull/889

[2018-03-26 16:24] julienlim opened #894 "Deleted (orphaned) volumes should not show up in the UI"
In Tendrl (~Dec 2017 release), it's reported that removed volumes remain visible in the console.  Specifically, the test volume which was created to find a solution for the performance issues has now been removed though is still showed within the console as OFFLINE.

Not sure if this is still an issue, but reporting it as an issue to verify.

@r0h4n @nthomas-redhat @Tendrl/qe @gnehapk @shtripat @a

[2018-03-27 02:20] shtripat commented on #894
@julienlim I feel you meant Dec 2017 above.

[2018-03-27 05:47] gnehapk commented on #890
If a user clicked on enable/disable profiling link or button on cluster list or volume list view, UI disabled the link/button and if the API failed for it, it will enabled again. Once next API call response received, link/button will be enabled/disabled based on the API response. If user refreshes the view, again link/button will be enabled/disabled based on the API response

[2018-03-27 13:13] julienlim commented on #894
@shtripat You're right.  I got my dates mixed up!  Updated my comments.

RE: this issue, @Tendrl/qe needs to perform some verification tests to verify behavior, i.e. volume no longer appears in the tendrl UI and grafana dashboard, as well as alerts.

Note: We believe alerts are not currently removed for a volume that is removed; however, alerts removed after 2 days.

@r0h4n @nthomas-redhat

[2018-03-27 13:52] a2batic opened #895 "Unit test for user list and global task list"
View: User list and global task details

[2018-03-28 06:39] #888 closed, assigned to gnehapk

[2018-03-28 06:40] gnehapk commented on #890
@cloudbehl Fixed. Please verify.

[2018-03-28 06:41] gnehapk opened #896 "Remove code which are not used anymore"

[2018-03-28 06:41] gnehapk commented on #879
@nthomas-redhat Fixed. Please verify.

[2018-03-28 06:52] a2batic opened #897 "User filter not working"
The filter is working file for name field, but not for username and role.
![screenshot from 2018-03-28 12-38-11](https://user-images.githubusercontent.com/12200504/38014087-079bf016-3285-11e8-8e07-a67f79bc529a.png)
![screenshot from 2018-03-28 12-38-29](https://user-images.githubusercontent.com/12200504/38014095-146ba318-3285-11e8-9115-56917060348c.png)

[2018-03-28 07:25] gnehapk opened #899 "show count of failed bricks on host's brick detail view"
UX - https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/284143399

[2018-03-28 08:19] gnehapk opened #901 "Clear date/clear All filters action should be visible only if date is selected"

[2018-03-28 08:23] gnehapk opened #902 "Use `pf-table-view`angular component for volume's brick detail view"
`pf-table-view` component has been used across the views to display data in table. Make changes on volume's brick detail view to use this component to display bricks data.

[2018-03-28 08:50] gnehapk opened #903 "Enable/Disable Profiling button should not be visible on volume list page for ready only user"

[2018-03-29 08:00] gnehapk opened #906 "Unit testing for cluster events component"

[2018-03-29 12:16] julienlim commented on #827
If import fails, cluster status should show ? (unknown).

[2018-03-29 18:02] julienlim commented on #656
There is a proposal to solve this at https://github.com/Tendrl/commons/issues/888.

[2018-03-29 18:02] julienlim commented on #582
There is a proposal to solve this at Tendrl/commons#888.

[2018-04-02 04:30] a2batic opened #908 "Unit test for events and task-detail view"

[2018-04-03 07:25] #906 closed, assigned to nobody

[2018-04-05 09:04] #896 closed, assigned to gnehapk

[2018-04-05 09:11] #890 closed, assigned to gnehapk, a2batic

[2018-04-05 09:12] #885 closed, assigned to nobody

[2018-04-05 09:12] #895 closed, assigned to nobody

[2018-04-05 09:12] #897 closed, assigned to nobody

[2018-04-05 09:12] #908 closed, assigned to nobody

[2018-04-05 09:14] #879 closed, assigned to gnehapk

[2018-04-05 09:14] gnehapk commented on #874
@nthomas-redhat Closing this issue as it is fixed.

[2018-04-05 09:14] #874 closed, assigned to gnehapk

[2018-04-05 09:33] shtripat commented on #797
@julienlim so in tendrl based on logic borrowed from gstatus, we do maintain a field called `state` for volumes. The possible values for the volume state are `unknown` (till full volume details gets synced), `up`, `down`, `partial`, `degraded`.

If we have icons for all these states, we can actually the state in UI for volumes rather than using status values which supports only two values namely `

[2018-04-05 09:41] shtripat commented on #797
@aravindavk need your help on verifying the logic for calculating the volume state at https://github.com/Tendrl/gluster-integration/blob/master/tendrl/gluster_integration/sds_sync/cluster_status.py#L78. The logic is lifted from old gstatus as is and based on replica_count, disperse_count and redundancy_count values of various types of volumes it decides the volume state.

[2018-04-05 12:07] ltrilety commented on #829
Tested with:
tendrl-ui-1.6.1-3.el7rhgs.noarch

looks fine

[2018-04-05 12:08] ltrilety commented on #821
Tested with:
tendrl-ui-1.6.1-3.el7rhgs.noarch

looks fine

[2018-04-05 13:00] julienlim commented on #797
@mcarrano Can you please confirm the status/state icon for "Degraded" for a Gluster volume?

In looking at some older designs for showing "degraded" on Gluster volumes, I found the icon in https://redhat.invisionapp.com/share/589XIRJBW#/screens/214068226.  Do we still want to use that or something else?

[2018-04-05 13:12] mcarrano commented on #797
@julienlim Yes, it should be pficon-degraded (the one shown in the dashboard card you referenced).

[2018-04-05 13:53] julienlim commented on #797
@mcarrano

Any thoughts on which icon to use for "Partial"?  See definition below.

Per https://github.com/gluster/gstatus:

UP(Degraded)
This state is specific to replicated volumes, where at least one brick is down within a replica set. Data is still 100% available due to the alternate replica(s),  but the resilience of the volume to further failures within the same replica set flags this volume

[2018-04-05 14:40] a2batic opened #911 "Unit Test for views"

[2018-04-06 04:02] gnehapk commented on #894
@mbukatov @ltrilety @dahorak Can you please verify  this issue and update.

[2018-04-06 04:11] gnehapk commented on #807
@fbalak Since https://github.com/Tendrl/gluster-integration/issues/579 has been closed, can you please verify and close this issue.

[2018-04-06 05:16] gnehapk commented on #704
@a2batic Are all the components upgraded to angular-patternfly 4?

[2018-04-06 12:44] ltrilety commented on #894
Checked on:
tendrl-ansible-1.6.1-3.el7rhgs.noarch
tendrl-ui-1.6.1-3.el7rhgs.noarch
tendrl-selinux-1.5.4-2.el7rhgs.noarch
tendrl-commons-1.6.1-3.el7rhgs.noarch
tendrl-api-1.6.1-3.el7rhgs.noarch
tendrl-api-httpd-1.6.1-3.el7rhgs.noarch
tendrl-monitoring-integration-1.6.1-3.el7rhgs.noarch
tendrl-grafana-selinux-1.5.4-2.el7rhgs.noarch
tendrl-notifier-1.6.0-1.el7rhgs.noarch
tendrl-node-agent-1.6.1-3.el7

[2018-04-06 17:52] mcarrano commented on #797
@julienlim per our discussion, I have updated the Volumes list to indicate handling for this. See https://redhat.invisionapp.com/share/HVGA7O575AZ#/244738623_Cluster_Details-Volumes

In short, we will use the icon 'pficon-degraded' for both conditions, but Degraded will show in orange and Partial in red to indicate a more severe condition. When hovering, a tooltip will further explain the conditio

[2018-04-06 17:55] julienlim commented on #797
@a2batic @gnehapk @nthomas-redhat  @r0h4n @shtripat @Tendrl/tendrl-qe @mcarrano See latest UX updates with regards to displaying degraded and partial state for the volume.

[2018-04-07 06:02] GowthamShanmugam commented on #867
PR is under review, Every gluster-integration sync we are recalculating alert count and updating. Please verify and close this issue https://github.com/Tendrl/gluster-integration/pull/599

[2018-04-09 08:47] #911 closed, assigned to nobody

[2018-04-09 09:28] a2batic commented on #797
@julienlim @mcarrano, what will be the icon for `unknown` (till full volume details gets synced) state ?

[2018-04-09 13:22] julienlim commented on #797
@a2batic Unknown is the "?" (question mark) icon we've been using so far.  E.g. before a cluster is imported, it's got a "?" for unknown state.

[2018-04-09 13:51] julienlim commented on #861
@ltrilety @gnehapk @a2batic I tried it with Firefox on my Mac, and I didn't see those errors.  For the OpenSans error, you may need to load the font on your Mac.

[2018-04-09 14:08] julienlim opened #915 "About modal [RFE]"
We should have an "About" modal in Tendrl that shows the version number(s) of the application as well as any appropriate legal text.

See http://www.patternfly.org/pattern-library/communication/about-modal/.

@gnehapk @a2batic @nthomas-redhat @mcarrano

[2018-04-09 14:15] julienlim opened #916 "Update login page to reflect PatternFly Login"
Please update to the latest login page design per http://www.patternfly.org/pattern-library/application-framework/login-page/.

@a2batic @gnehapk @mcarrano

[2018-04-10 04:38] ltrilety commented on #861
@julienlim you're right last time I checked the errors were gone.
Where the version I was using:
tendrl-ui-1.6.1-3.el7rhgs.noarch

That said I am closing this issue.

[2018-04-10 04:38] #861 closed, assigned to nobody

[2018-04-10 05:18] #903 closed, assigned to gnehapk

[2018-04-10 05:31] #891 closed, assigned to gnehapk

[2018-04-10 07:29] a2batic commented on #797
@mcarrano @julienlim, just to summarize:-
`unknown` : `fa-question`
`up` : `pficon-ok`
`down` : `fa-arrow-circle-o-down`
`partial` : `pficon-degraded` red
`degraded`: `pficon-degraded` orange

[2018-04-10 13:59] julienlim commented on #797
@a2batic That looks correct.

[2018-04-10 15:39] gnehapk commented on #899
@julienlim As discussed,`failed` and `stopped` bricks are same.  @julienlim @mcarrano As per this [comment](https://github.com/Tendrl/ui/issues/728#issuecomment-342830285), the color for stop icon should be dark grey. Please update the UX.

[2018-04-11 15:43] julienlim opened #920 "Inconsistency in brick status reporting: stopped vs. down vs. down/unavailable"
This issue impacts multiple repos besides the UI repo.

Currently, when a brick is Stopped or it's unavailable, the brick is shown as Stopped in the Tendrl UI.

In all of the Tendrl/grafana Dashboards, the brick is shown as Stopped and Down.

"gstatus" reports the brick is as DOWN or down/unavailable.

gluster volume status doesn't show the brick that is stopped/down/unavailable at all, but you ca

[2018-04-11 16:07] julienlim commented on #920
Related BZ that I just opened: https://bugzilla.redhat.com/show_bug.cgi?id=1566161

[2018-04-11 20:32] julienlim commented on #920
After thinking about this some more, my recommendation is that for the 2 states for the brick, we should follow how gstatus does it, i.e. go with Up and Down to make it easier to understand for the user.  See [gstatus sample output](https://github.com/gluster/gstatus/tree/master/docs/examples) examples.

Saying a brick is "stopped" when the brick is stopped, truly down due to failure or because th

[2018-04-11 20:39] mcarrano commented on #899
@gnehapk @julienlim Since 'Failed' cannot be differentiated from 'Stopped', I believe we should use 'fa-circle-o-down' and not 'fa-circle-o-stop' to reflect this status. This indicates that the brick is down and the reason is unknown (could be that it was intentionally stopped or it failed). A question for you @gnehapk . What color are we using currently for indicating that a brick or volume is do

[2018-04-12 13:14] gnehapk opened #922 "Handle failed import API scenario"

[2018-04-12 13:31] gnehapk opened #923 "Upgrade the version UI packages"
Upgrade following deprecated packages -
- angular-ui-router
- gulp-util
- gulp-minify-css

![packages-warning](https://user-images.githubusercontent.com/5517376/38680413-e62a0f52-3e83-11e8-9e8f-d7712b588e7e.png)

[2018-04-13 06:06] a2batic commented on #899
@mcarrano, currently we are using following to mark bricks-
`Stopped` : `fa-stop-circle-o` dark gray
`Started` : `pficon-ok` green

[2018-04-13 06:15] #901 closed, assigned to nobody

[2018-04-13 12:45] a2batic opened #926 "Change in dashboard names"

[2018-04-13 17:48] mcarrano commented on #899
@gnehapk @a2batic @julienlim
The only change then is to use 'fa-circle-o-down' and not 'stop' to reflect bricks that are down either due to being manually stopped or down due to a failure. This is reflected in the updated mockups here:
https://redhat.invisionapp.com/share/8QCOEVEY9#/244738621_Cluster_Details-Volumes-Bricks

[2018-04-14 18:24] shtripat opened #929 "UI always defaults the Cluster Version value as `RHGS {version}`"
Rather the values of `sds_name` and `sds_version` should be taken from cluster object and shown.

[2018-04-14 19:00] shtripat commented on #929
@gnehapk @a2batic plz check this

[2018-04-16 06:52] a2batic commented on #922
Fixed in tendrl-ui-1.6.2-20180413T152054.8ff4c65.noarch.rpm.

[2018-04-16 06:53] a2batic commented on #926
Fixed in tendrl-ui-1.6.2-20180413T152054.8ff4c65.noarch.rpm.

[2018-04-16 06:53] #926 closed, assigned to nobody

[2018-04-16 06:53] a2batic commented on #797
Fixed in tendrl-ui-1.6.2-20180413T152054.8ff4c65.noarch.rpm.

[2018-04-16 06:53] #797 closed, assigned to nobody

[2018-04-16 06:55] a2batic commented on #704
@gnehapk, we have not upgraded Notification/alert drawer component, all other components are upgraded,

[2018-04-16 07:17] #922 closed, assigned to nobody

[2018-04-16 07:18] #892 closed, assigned to nobody

[2018-04-16 07:18] gnehapk commented on #892
@ltrilety Sine the PR is merged, closing this issue.

[2018-04-16 12:15] cloudbehl opened #931 "Global dropdown tooltip is showing cluster id where the dropdown value is showing is the cluster name"
![screenshot-from-2018-04-16-17-42-41](https://user-images.githubusercontent.com/6695156/38808487-03d95874-419e-11e8-8273-a05962d1b827.png)

[2018-04-17 06:29] #931 closed, assigned to nobody

[2018-04-17 06:29] gnehapk commented on #931
Closing this issue as already fixed.

[2018-04-17 06:29] gnehapk commented on #929
Closing this issue as already fixed.

[2018-04-17 07:08] gnehapk opened #933 "Remove `clusterStore.formatClusterData` method from all views"
Remove `clusterStore.formatClusterData`  method from all views and keep that it inside `clusterStore` service only. This way, the method needs to be present at only one place and updates the $rootScope.clusterData.

[2018-04-17 10:50] a2batic opened #935 "'Expand' should be disabled when unmanage failed"

[2018-04-18 05:16] gnehapk opened #937 "`View Cluster Details` link not working on global-task-list view"

[2018-04-18 05:23] #933 closed, assigned to nobody

[2018-04-18 08:11] #937 closed, assigned to gnehapk

[2018-04-18 08:11] #935 closed, assigned to nobody

[2018-04-18 08:11] #929 closed, assigned to gnehapk

[2018-04-20 05:58] #902 closed, assigned to nobody

[2018-04-20 09:04] gnehapk commented on #923
Updated `angular-ui-router` and `gulp-minify-css` packages and removed `gulp-util` package(used different packages for it as this package is deprecated) . `gulp 3.9.1` still has `gulp-util` dependency. So, `gulp-util` deprecation error still can be seen. This will go once `gulp` will be updated to 4.0 version. The npm package for `gulp 4.0.0` is not available till date. Once available, update can

[2018-04-20 09:42] a2batic opened #943 "No tooltip for 'Expanding Cluster'"
View - Cluster list

[2018-04-20 09:50] #718 closed, assigned to gnehapk

[2018-04-20 09:52] #864 closed, assigned to a2batic

[2018-04-20 09:53] #865 closed, assigned to a2batic

[2018-04-20 09:53] #869 closed, assigned to nobody

[2018-04-20 09:53] #807 closed, assigned to shtripat

[2018-04-20 11:17] a2batic opened #944 "Expand option can be seen for failed import"

[2018-04-20 11:19] a2batic opened #945 "Kebab options are accessible for 'Expanding cluster'"
Kebab options are accessible for 'Expanding cluster', hence making room for more than one operation at a time on a cluster.

[2018-04-20 11:20] a2batic opened #946 "'Unmanage' not present for misconfigured cluster"

[2018-04-20 11:46] a2batic opened #947 "Volume name should have ellipsis for long name"

[2018-04-20 12:00] a2batic opened #948 "Modal not closing when user gets logged out"

[2018-04-20 12:41] shtripat commented on #764
This is no more valid issue. Closing now.

[2018-04-20 12:41] #764 closed, assigned to nobody

[2018-04-23 06:17] a2batic commented on #946
@julienlim, should Unmanage be available for misconfigured clusters ?

[2018-04-23 06:18] a2batic commented on #945
Its already handled in the code, hence closing the issue.

[2018-04-23 06:18] #945 closed, assigned to nobody

[2018-04-23 09:30] gnehapk opened #952 "UI should check for authorization/authentication before making an API call"

[2018-04-23 12:46] julienlim commented on #946
@a2batic  Unmanage should be available for misconfigured clusters.

[2018-04-26 06:19] cloudbehl opened #953 "UI shows value as disabled if "profiling_enabled is coming as empty string"
![image](https://user-images.githubusercontent.com/6695156/39288985-d8691678-4947-11e8-93c3-cb2647789771.png)

[2018-05-01 15:50] gnehapk opened #954 "[RFE] Analyse React and Angular 2.0"

[2018-05-01 16:01] gnehapk commented on #954
**Analysis between React and Angular 2.0**

- _New stack to learn_
   - For React - learn react
   - For Angular - learn angular and typeScript

- _Performance_
  - React performance is better in comparison with Angular 2.0
  - More details - https://www.codementor.io/codementorteam/react-vs-angular-2-comparison-beginners-guide-lvz5710ha#e-speed
  - Benchmark - https://auth0.com/blog/more-benchmar

[2018-05-02 08:02] shirshendu commented on #954
Can we also factor in ease of migration (estimated), for each framework, so that we can compare the effort needed vs the benefits gained from moving to that framework. I could vote for moving to react at this point, but perhaps just for documenting our decisions, we can have that comparision as well.

[2018-05-03 10:21] gnehapk commented on #954
**What it would take to migrate from Angular 1 -> React**

- Migrating the build to webpack is needed or can continue with gulp?(need to do some research)
- Render React components inside AngularJS
   - use React components inside Angular using ngReact
- Share dependencies between both sides
   - To include react dependencies in Angular, wrap the react component in directive and register it in Ang

[2018-05-09 08:25] gnehapk opened #955 "Update gulp file to run react code as well"

[2018-05-10 07:00] gnehapk opened #957 "Expand cluster screen lists all nodes in the cluster"

[2018-05-10 07:12] a2batic commented on #943
Fixed in tendrl-ui-1.6.3-20180503T091052.b13fc36.noarch.rpm(latest master).

[2018-05-10 07:12] #943 closed, assigned to nobody

[2018-05-10 07:12] a2batic commented on #947
Fixed in tendrl-ui-1.6.3-20180503T091052.b13fc36.noarch.rpm(latest master).

[2018-05-10 07:12] #947 closed, assigned to nobody

[2018-05-15 10:45] shtripat opened #959 "If volume.profiling_enabled in [None, ""], UI should report the value as `Unknown`"
In link with https://bugzilla.redhat.com/1578333 the volumes with empty value for `profiling_enabled` flag, should be showing `Unknown` for `Volume profiling` value in UI. This is required for glusterfs version which dont support profiling data in get-state output for individual volumes.

If volume.profiling_enabled == 'yes' set as `Enabled` in UI
If volume.profiling_enabled == 'no' set as `Disabl

[2018-05-15 10:46] shtripat commented on #959
@gnehapk ^^^

[2018-05-16 06:34] gnehapk commented on #959
As per discussion with @shtripat, this changes needs to be done for both cluster and volume list views.
For cluster list view, both Enable and Disable profiling action should be allowed if `Volume Profiling`  is `Unknown` but for volume list view, both Enable and Disable profiling action should be disabled if `Volume Profiling`  is `Unknown`.

[2018-05-18 05:12] gnehapk commented on #953
Duplicate of #959. Hence,closing it.

[2018-05-18 05:12] #953 closed, assigned to nobody

[2018-05-18 09:57] gnehapk opened #964 "Filters on Brick Details page doesn't work correctly"
Steps to Reproduce:
1. Prepare Gluster cluster with few volumes (3 in my case):
  volume_alpha_distrep_6x2
  volume_beta_arbiter_2_plus_1x2
  volume_gama_disperse_4_plus_2x2

2. Install and configure RHGS WA and import Gluster Cluster into it.
3. Kill some brick on one node.
4. Go to the RHGS WA web UI -> <cluster> -> Volumes -> <volume> page
   (Brick Details page).
5. Try to filter the bricks ba

[2018-05-18 10:00] gnehapk commented on #816
Since, two more filters "Utilization more than" and "Utilization less than" have to be implemented for volume's  brick detail view. Hence, opening this issue.

[2018-05-18 10:07] #957 closed, assigned to gnehapk

[2018-05-20 14:49] a2batic opened #966 "Tooltips on import view are missing"
On the basis of current https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/247445416, there are two information tooltips.

[2018-05-21 10:05] a2batic opened #967 "Filters going out of column"
When the applied filters are huge or multiple in no., they seems to go out of column.
![screenshot from 2018-05-21 15-07-57](https://user-images.githubusercontent.com/12200504/40302341-7008f0b6-5d0c-11e8-8697-ab1db5ada3a6.png)

[2018-05-21 10:45] gnehapk opened #968 "Add the option to delete/retain the telemetry (monitoring) data in the Unmanage flow"
UX- https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/273239640_Clusters-Unmanage_Cluster

Required for - https://github.com/Tendrl/commons/issues/819

[2018-05-21 19:37] julienlim commented on #968
Related to https://github.com/Tendrl/commons/issues/819#issuecomment-390605138

[2018-05-21 19:38] julienlim commented on #816
Related to https://bugzilla.redhat.com/show_bug.cgi?id=1559390.

[2018-05-28 11:12] gnehapk opened #971 "Links in Hosts page lead to Grafana dashboard without specified Cluster Name"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1581212

[2018-05-28 12:48] gnehapk opened #973 "UI should show populate short_name if exist, else integration_id on import cluster flow."

[2018-05-30 08:00] gnehapk commented on #827
@r0h4n @shtripat @nthomas-redhat Can you please close this issue, if fixed.

[2018-05-31 07:13] gnehapk opened #978 "Incorrect infotip for "Ready to Use" text in the WA Clusters interface"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1582465

[2018-06-07 06:57] gnehapk opened #981 "When import fails, the import button should be disabled"
bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1516135#c16

[2018-06-11 05:28] gnehapk opened #983 "Brick Details brick counter divided to separate lines"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1586074

[2018-06-12 08:50] warrenguerin opened #984 "Import failed"
Failure in Job b64a5c61-a5bd-4255-8b83-7dfc223f8054 Flow tendrl.flows.ImportCluster with error: Traceback (most recent call last): File "/usr/lib/python2.7/site-packages/tendrl/commons/jobs/__init__.py", line 242, in process_job the_flow.run() File "/usr/lib/python2.7/site-packages/tendrl/commons/flows/import_cluster/__init__.py", line 124, in run raise ex AtomExecutionFailedError: Atom Execution

[2018-06-13 07:59] gnehapk opened #985 "Brick Details page is not updated"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1585715

[2018-06-13 08:02] gnehapk commented on #984
@nthomas-redhat @shtripat @GowthamShanmugam can you please have a look

[2018-06-13 10:01] GowthamShanmugam commented on #984
This issue happens when we fire import flow before all the nodes are listed, please wait for all the nodes are shown in detected cluster page and then fire import

[2018-06-13 12:24] warrenguerin commented on #984
2 hosts showing

![image](https://user-images.githubusercontent.com/39998900/41351029-033b5eb6-6f0d-11e8-86a9-124c5c75d6d1.png)

import is greyd out

![image](https://user-images.githubusercontent.com/39998900/41351053-126b22a4-6f0d-11e8-983d-b36bd01a40ad.png)

attempting to unmanage says starting task, but nothing happens

[2018-06-13 14:39] gnehapk opened #988 "discovered host(s) section in import cluster screen is slightly inconsistent/misleading"
bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1588650

[2018-06-14 06:29] mbukatov commented on #984
@Tendrl/qe

[2018-06-14 09:41] #971 closed, assigned to gnehapk

[2018-06-14 09:41] #959 closed, assigned to gnehapk

[2018-06-14 09:41] #923 closed, assigned to nobody

[2018-06-14 19:26] warrenguerin commented on #984
Still not winning on this after deleting everything and starting over, to note that this is an existing cluster managed by Heketi.

My new PRD cluster, also managed by Heketi has imported fine.

I cant figure out where its getting this information from:

![image](https://user-images.githubusercontent.com/39998900/41433529-2829f0e8-7011-11e8-91eb-73172455506e.png)

any help on this would be appreci

[2018-06-15 15:05] a2batic opened #992 "vm.modalHeader.title tooltips for popup titles"
Bugzilla : https://bugzilla.redhat.com/show_bug.cgi?id=1580509

[2018-06-19 08:08] GowthamShanmugam commented on #984
deleting means you have deleted everything including etcd and removed all tendrl components also?

[2018-06-19 08:11] warrenguerin commented on #984
Correct, pretty much a start from scratch.
Could it be that this cluster is managed by Heketi currently?

[2018-06-19 08:34] GowthamShanmugam commented on #984
@r0h4n do you have any suggestion about this problem, do you thing heketi will affect tendrl

[2018-06-20 20:11] julienlim opened #995 "Import failing but UI says Cluster is "Ready to use""
Problem: Import fails but UI says Cluster is "Ready to use"

Environment:
Installed using tendrl-vagrant on MacOS:
- 1 tendrl-server
- 3 gluster nodes (tendrl-node-1..tendrl-node-3)

Using tendrl-1.6.3-20180615
[code]

Observations
- Tendrl-ansible completed successfully with no issues.
- I am able to access the Tendrl UI with default credentials.
- During Import Cluster, I specified a custom clus

[2018-06-20 20:19] julienlim commented on #995
Some additional information related to the tendrl-monitoring-integration:
[code]

[2018-06-21 06:31] gnehapk commented on #995
@julienlim Can you please share the API response of `/clusters` received on cluster list view.

[2018-06-21 06:58] gnehapk opened #996 "WA UI - redundant UI text in the Unmanage cluster confirmation box"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1592464

[2018-06-21 07:12] gnehapk opened #998 "UI text improvement in import cluster workflow"
Bugzilla- https://bugzilla.redhat.com/show_bug.cgi?id=1584660

[2018-06-21 13:22] mbukatov commented on #995
Reposting most interesting part from `journalctl -u tendrl-monitoring-integration` output, as provided in https://paste.fedoraproject.org/paste/JFnrkiQxtaxrhj1~dE9BEw so that it's possible to find this issue by searching for the error:

[code]

[2018-06-21 15:38] GowthamShanmugam commented on #995
Hi Martin,
    This will happen when password mismatch happens in
monitoring-integration configuration file. I have already sent steps to
change a password to Julim.  Let Julim try the steps and we will
see whether this issue is resolving or not.

I faced the same issue when I gave a wrong grafana password in monitoring
integration configuration file. I feel this should be the same issue. This
hap

[2018-06-21 15:53] mbukatov commented on #995
Thanks for the quick review.

If that is the case, isn't there a bug in vagrant script as well? If I read you right, this is the password which is configured by tendrl-ansible, and then stored in local password file, so that when tendrl-ansible is run again, the same password is used without breaking the current setup.

[2018-06-27 19:00] julienlim commented on #995
@GowthamShanmugam @mbukatov I'm experience this issue twice:
(1) grafana password not set
(2) grafana password set correctly

The symptom being observed is that the tendrl-monitoring-integration agent does not want to stay up despite restarting it.

[2018-06-28 10:00] gnehapk opened #1000 "Thresholds for utilization bars and alerts differ"
Bugzilla- https://bugzilla.redhat.com/show_bug.cgi?id=1594862

[2018-06-28 11:15] r0h4n commented on #984
Tendrl has not been tested with heketi + gluster environments , we can start documenting some expectations around this environment and then begin initial testing

[2018-06-28 15:25] julienlim commented on #943
Related BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1579148

[2018-07-02 18:56] julienlim commented on #995
@GowthamShanmugam @mbukatov I just redeployed and this time when it fails the import, it gives the correct message, i.e. Import Failed.
[code]
<img width="1247" alt="screen shot 2018-07-02 at 2 53 00 pm" src="https://user-images.githubusercontent.com/5589919/42181170-f1f27798-7e07-11e8-8fb8-6bda62e4e694.png">

<img width="1234" alt="screen shot 2018-07-02 at 2 52 49 pm" src="https://user-images.gi

[2018-07-02 21:12] julienlim opened #1003 "Typos in "Import Failed View Details" text"
Typos in "Import Failed View Details" text.

Implemented:
<img width="1247" alt="screen shot 2018-07-02 at 2 53 00 pm" src="https://user-images.githubusercontent.com/5589919/42186515-fdee089c-7e1a-11e8-8853-0a8ad2bd2ae6.png">

Design:
<img width="288" alt="screen shot 2018-07-02 at 5 11 48 pm" src="https://user-images.githubusercontent.com/5589919/42186542-0f7f544e-7e1b-11e8-86f1-fe3a8b48f08c.png"

[2018-07-03 02:27] gnehapk commented on #1003
@julienlim This has been fixed along with https://github.com/Tendrl/ui/pull/1002.

[2018-07-03 13:57] julienlim commented on #1003
This can be tracked also at https://bugzilla.redhat.com/show_bug.cgi?id=1597716.

[2018-07-03 16:58] julienlim opened #1004 "Inconsistent Volume Status showing in UI and Grafana dashboards (vs. CLI)"
Here's the scenario I went through:
1. Create cluster (ju_cluster) with no volume
2. Added tendrl
3. Imported Cluster (with no volumes)
4. Created a volume (vol1) in the cluster

volume is up and running just fine:

\# gstatus -al
[code]

\# gluster volume info vol1
[code]

tendrl UI (Volumes page) shows the status of the Volume as Unknown (?) even though it active and running:
![screen shot 2018-

[2018-07-04 10:05] gnehapk commented on #1004
@julienlim Can you please share the API response for `\volumes`

[2018-07-04 10:27] gnehapk opened #1005 "Too much space next to events messages"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1597235

[2018-07-05 06:51] cloudbehl opened #1009 "Spinner needs to stop if the messages api is not responding on task list"
If we don't have the task details available for the task the link itself should not come on the clusters page and the task detail spinner needs to be stopped.

Check the below screenshot for more reference:

![screenshot from 2018-07-05 12-19-25](https://user-images.githubusercontent.com/6695156/42306726-bb2b8eb4-804d-11e8-8ed7-2b22628603d6.png)
![screenshot from 2018-07-05 12-15-15](https://user-

[2018-07-05 08:40] gnehapk commented on #1009
@cloudbehl Which link here are you referring to?

[2018-07-05 08:44] cloudbehl commented on #1009
http://10.70.42.133/#/global-cluster-tasks/6587736f-f751-4bc9-bb80-7c0b3809ed7f/task-detail/4b5bd8c2-8acc-4843-89c8-b3bca4e92502

[2018-07-05 19:34] julienlim commented on #1004
@gnehapk I unfortunately deleted my environment so I can't get the API response for \volumes.  That being said, if you follow the sequence I provided, i.e. create cluster without volume, install WA, create volume, you should be able to see the same results.

[2018-07-11 15:31] julienlim opened #1012 "Import Cluster Page: Text alignment issue"
The Cluster Name and the input text box are not aligned properly -- specifically, the "Cluster Name" label appears 1-2 pixels higher than the input text box -- it should align in a horizontal straight line.

![screen shot 2018-07-03 at 12 03 53 pm](https://user-images.githubusercontent.com/5589919/42582711-dd0d8578-84fd-11e8-8b2f-42f84fc9c870.png)
 be centered vertically aligned with the input tex

[2018-07-12 07:25] gnehapk opened #1013 "Text boxes to enter the Web admin UI credentials are much longer than necessary"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1594994#c7

[2018-07-12 12:55] a2batic opened #1015 "Utilization filter shows strange behavior"
Utilization filter doesnt work when the first filter selected as brick status and other is one of the utilization filters.
Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1559390

[2018-07-12 13:36] a2batic commented on #1015
Duplicate : https://github.com/Tendrl/ui/issues/816

[2018-07-12 13:36] #1015 closed, assigned to nobody

[2018-07-13 07:49] gnehapk opened #1017 "No tooltip for 'Unknown cluster'"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1594762

[2018-07-18 13:04] gnehapk opened #1025 "Expand should be enabled even if expand fails"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1596655

[2018-07-25 15:10] a2batic opened #1027 "Modify cluster expansion failure messge"
Current message: If cluster expansion fails, check if tendrl-ansible was executed successfully and ensure the node agents are correctly configured.

New message: If cluster expansion fails, check if tendrl-ansible was executed successfully and ensure the node agents are correctly configured.  If cluster expansion failed due to errors, resolve the errors on affected nodes and re-initiate the Expand

[2018-07-27 11:47] cloudbehl opened #1029 "new version of @uirouter/angularjs is failing"
"@uirouter/angularjs": "1.0.19" is not allowing the unit tests to run

[2018-07-27 12:11] #1029 closed, assigned to nobody

[2018-07-31 20:51] a2batic opened #1033 "User setting bug fix"
Bug: 1610201, 1610266

[2018-08-14 07:30] cloudbehl opened #1039 "Do equality check by using is_lower property in all the UI flows"

[2018-08-14 12:57] cloudbehl opened #1041 "user management code needs a revamp."

[2018-08-14 13:01] a2batic opened #1043 "'dismissCause' is not required in closing modal"

[2018-08-15 19:56] julienlim opened #1046 "[RFE] Embed the grafana dashboards directly into the Tendrl UI"
As a Tendrl user, I would like to see the existing (grafana) dashboards embedded in the tendrl UI (as opposed to link-n-launch into grafana), whereby I will see all configuration, health, and performance information from a single tendrl UI.

Acceptance criteria:
- user sees grafana dashboards in the tendrl UI.
- User will not see or know grafana is even there from the tendrl UI.
- User cannot log

[2018-08-15 19:57] julienlim commented on #1046
Expected UI Changes:

Clusters and Cluster
* All Clusters list: remove dashboard button
* Change clustername hyperlink to default to Dashboard menu item (for a given cluster)
* Add a Dashboard menu item in the left-nav (for a selected cluster), make this the default landing page whenever user switches to any cluster from the context-selector

Hosts
* Cluster > Host > Overview tab (before Bricks ta

[2018-08-16 19:03] cloudbehl opened #1051 "create a structure of bdd tests"

[2018-08-20 05:54] gnehapk opened #1054 "Upgrade patternfly version"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1627651

[2018-08-20 10:53] gnehapk commented on #1054
Current version - v3.29.13
Latest version available - v3.51.1

### **Changes that can impact Tendrl or needs testing are -**

**v3.51.1**
1) swap pficon-close for fa-close (889de18d - https://github.com/patternfly/patternfly/commit/889de18d)
2) Update alignment of the 'x' in the toolbar filter (10e26d8c - https://github.com/patternfly/patternfly/commit/10e26d8c)

**v3.51.0**
No changes observed wh

[2018-08-20 12:18] cloudbehl opened #1055 "Codacy remains is waitin state for the UI PR"

[2018-08-20 15:33] nathan-weinberg opened #1057 "[Functional test] Adding feature file for login component"

[2018-08-21 11:52] julienlim commented on #1046
Here is the [Design for the embedded grafana dashboards into the Tendrl UI](https://github.com/julienlim/tendrl-designs/blob/master/tendrl%20ui%20with%20embed%20grafana%20dashboards.pdf).

Still TO DO:
- grafana dashboard refactoring (e.g. layout changes)
- how to bring the Grafana time picker into embedded grafana dashboard
- zoom-out/pop-out feature

@gnehapk @a2batic @cloudbehl @shirshendu @Gow

[2018-08-21 15:54] cloudbehl opened #1058 "[Functional test] Adding feature file for cluster list page"

[2018-08-21 15:55] cloudbehl commented on #1051
The PR is merged hence closing this issue
PR: https://github.com/Tendrl/ui/pull/1052

[2018-08-21 15:55] #1051 closed, assigned to cloudbehl

[2018-08-21 16:04] cloudbehl opened #1059 "[Functional test] Adding step definitions for login component"
references: #1057

[2018-08-21 16:06] cloudbehl opened #1060 "[Functional test] Adding step definitions for cluster list component"
references: #1058

[2018-08-21 16:27] Josh-Everett opened #1062 "[Functional test] Adding identifier to login button for login component"
references: #1057

[2018-08-21 16:34] Josh-Everett commented on #1062
PR #1061

[2018-08-23 06:30] gnehapk commented on #1054
**v3.41.1**
No changes observed which can impact Tendrl

**v3.41.0**
No changes observed which can impact Tendrl

**v3.40.0**
No changes observed which can impact Tendrl

**v3.39.0**
1. context selector: new context selector (#954-https://github.com/patternfly/patternfly/pull/954) (299c974a-https://github.com/patternfly/patternfly/commit/299c974a)

**v3.38.2**
No changes observed which can impact

[2018-08-23 20:29] julienlim commented on #1046
The grafana dashboard refactoring (mostly layout changes) is specified in [Refactoring Grafana dashboards for Embedding into Tendrl UI](https://docs.google.com/document/d/1HmHolbYEDWC-ixxpuuHWYlsFp3rOafU9oGu4O_rlujw/edit?usp=sharing).

For the timepicker and zoom out or rather to make bigger the chart to see, @a2batic showed me what she's done on Ceph Dashboard, and it looks like the same solution

[2018-08-29 13:50] mbukatov commented on #1046
Reusing previously deployed solution sounds cool. Do we have a link where this feature is discussed or documented for Ceph Dashboard, so that we can have a look?

[2018-09-07 01:12] julienlim commented on #1046
@mbukatov See https://tracker.ceph.com/issues/24999#change-119653.

[2018-09-11 00:04] #1033 closed, assigned to nobody

[2018-09-11 00:05] #1027 closed, assigned to nobody

[2018-09-11 00:05] #1025 closed, assigned to gnehapk

[2018-09-11 00:05] #1017 closed, assigned to nobody

[2018-09-11 00:05] #1013 closed, assigned to nobody

[2018-09-11 00:06] #1005 closed, assigned to gnehapk

[2018-09-11 00:07] #1003 closed, assigned to nobody

[2018-09-11 00:07] #1000 closed, assigned to nobody

[2018-09-11 00:08] #996 closed, assigned to gnehapk

[2018-09-11 00:09] gnehapk commented on #995
@GowthamShanmugam can you please close this issue if fixed?

[2018-09-11 00:09] #992 closed, assigned to nobody

[2018-09-11 00:10] #998 closed, assigned to nobody

[2018-09-11 00:11] #988 closed, assigned to nobody

[2018-09-11 00:11] #985 closed, assigned to nobody

[2018-09-11 00:12] #983 closed, assigned to nobody

[2018-09-11 00:12] #978 closed, assigned to gnehapk

[2018-09-11 00:13] #973 closed, assigned to gnehapk

[2018-09-11 00:14] #981 closed, assigned to nobody

[2018-09-11 00:14] #964 closed, assigned to nobody

[2018-09-11 00:16] #954 closed, assigned to gnehapk

[2018-09-11 00:16] #948 closed, assigned to nobody

[2018-09-11 00:18] gnehapk commented on #894
@GowthamShanmugam Can you please close this issue if fixed?

[2018-09-11 00:18] gnehapk commented on #867
@GowthamShanmugam Please close this issue if fixed.

[2018-09-11 00:19] gnehapk commented on #827
@GowthamShanmugam Please provide update for this issue.

[2018-09-11 00:20] gnehapk commented on #899
@a2batic Is this implemented?

[2018-09-11 00:21] gnehapk commented on #944
@a2batic Is this fixed? Please close it if solved.

[2018-09-11 00:22] gnehapk commented on #946
@a2batic Is this fixed? Please close it if solved.

[2018-09-11 00:24] #823 closed, assigned to nobody

[2018-09-11 00:24] #816 closed, assigned to a2batic

[2018-09-11 00:27] gnehapk commented on #656
Fixed. Hence, closing it.

[2018-09-11 00:27] #656 closed, assigned to nobody

[2018-09-11 00:30] gnehapk commented on #582
Closing this issue as fixed already.

[2018-09-11 00:30] #582 closed, assigned to nobody

[2018-09-11 00:33] gnehapk opened #1065 "Fix context switcher CSS issue"
After upgrading to the latest patternfly version i.e. 3.51.1, css of the context switcher seems to be broken.

[2018-09-11 00:34] sankarshanmukhopadhyay commented on #582
Does the workflow not require that this issue be cited in the PR which fixes it so that there is a link to the PR on the issue itself?

[2018-09-11 00:56] gnehapk commented on #582
@sankarshanmukhopadhyay this issue is a duplicate of https://github.com/Tendrl/ui/issues/656 where all the PRs have been tracked and attached.

The PR for this change is - https://github.com/Tendrl/ui/pull/925

[2018-09-11 05:25] GowthamShanmugam commented on #827
This issue is fixed, we can close this issue. @ltrilety verify with the latest master and reopen this issue if it is reproducible.

[2018-09-11 05:32] GowthamShanmugam commented on #867
This issue is fixed, We are now calculating alert count in each gluster-integration sync,  So the alert count always matches with a number of alerts.

@gnehapk we can close this issue. @ltrilety please reopen this issue if it is reprodusable with the latest master.

[2018-09-11 05:34] #827 closed, assigned to shtripat

[2018-09-11 05:37] GowthamShanmugam commented on #995
This issue is fixed https://github.com/Tendrl/gluster-integration/pull/691, it is happened because of race condition in cluster object save.

@gnehapk we can close this issue

[2018-09-11 05:39] #995 closed, assigned to nobody

[2018-09-11 05:40] GowthamShanmugam commented on #894
This issue is fixed, As per current implementation When the volume is deleted we are not removing volume entry from etcd immediately. We are actually marking the volume as deleted then after few minutes it will be deleted from etcd by TTL.
It will be deleted from UI when it is deleted from etcd by TTL

[2018-09-12 04:44] gnehapk opened #1067 "Tendrl Branding changes"
- Update login view as per the new design - https://www.patternfly.org/pattern-library/application-framework/login-page/

- Add about modal for Tendrl

Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1627988

[2018-09-12 06:44] GowthamShanmugam commented on #894
I have discussed with @gnehapk about this issue, Volume should be filtered by volume delete flag. We have to show volumes which have the only deleted_falg is False. Currently Filtering logic has some problem, UI is expecting a deleted flag as a string but actual value type is boolean. Volume is disappeared from UI only after it is deleted by TTL.

[2018-09-12 07:05] GowthamShanmugam commented on #867
This issue is fixed in PR: https://github.com/Tendrl/gluster-integration/pull/599

[2018-09-12 07:50] #867 closed, assigned to nobody

[2018-09-12 18:07] julienlim opened #1068 "[RFE] Volume details (i.e. brick details) should identify bricks that are arbiter"
As a Gluster admin, I want to be able to know which bricks are arbiter bricks.  Note: Just looking at volume type does not tell me if a volume is a distributed-replicat using the arbiter feature or not.

<img width="1240" alt="screen shot 2018-07-03 at 2 06 13 pm" src="https://user-images.githubusercontent.com/5589919/45444261-ffedf500-b694-11e8-9384-b27e5f2936de.png">

[code]
@nthomas-redhat @Ten

[2018-09-17 03:14] gnehapk commented on #1065
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1629520

[2018-09-17 07:34] gnehapk commented on #1065
@TimothyAsirJeyasing Please note that one new npm package has been added in the UI for context selector plugin i.e. "bootstrap-select": "1.12.2" and patternfly version has been from v3.29.13 to v3.51.1

[2018-09-19 07:31] gnehapk opened #1070 "wrong error message while editing user details"
The error message should be "Name is too long(maximum 20 characters)" if user is entering name beyond 20 characters. Currently the error message is "Name is too short(minimum 4 characters)"
<img width="1666" alt="screenshot" src="https://user-images.githubusercontent.com/5517376/45737692-7789ca00-bc29-11e8-92dd-2891fa07565a.png">

[2018-09-19 09:56] a2batic commented on #946
@gnehapk Yeah, Its fixed.

[2018-09-19 09:56] #946 closed, assigned to nobody

[2018-09-19 09:58] a2batic commented on #944
@gnehapk Its fixed.

[2018-09-19 09:58] #944 closed, assigned to nobody

[2018-09-21 18:36] julienlim commented on #1068
I proposed that we show arbiter in Brick Details and also show device UUID in the Brick Details.

Regarding UUID, due to hot swappable disks being commonly used, it would be good to show the device UUID as this is needed for Day 2 and Day 3 operations, e.g. disk/brick replacement.

For the Brick Details views for the Host and Volume, I suggest we do the following:
- Add new column to indicate if b

[2018-09-22 00:55] cybernth commented on #1068
@julienlim , this new column is visible only for arbiter volumes?

[2018-09-25 02:34] gnehapk commented on #1067
@TimothyAsirJeyasing Please note that  "ng-device-detector": "^5.1.2" npm package has been added to detect browser name, browser version and operating system.

[2018-09-27 07:58] TimothyAsirJeyasing commented on #1067
Sure, I will check it out Neha

[2018-09-27 09:20] gnehapk commented on #1070
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1633542

[2018-10-01 08:20] GowthamShanmugam opened #1073 "Communication with grafana (URL) shows http:// even if certificates were in place"
Instead of http:// being hard-coded in /var/www/tendrl/plugin-bundle.js file it would be better to have the protocol be dynamic.

[2018-10-16 06:06] gnehapk opened #1076 "Multiple popups are created when deleting user"
Description of problem:
If there are multiple users in WA then when user tries to delete one of them in UI, the popup asking if user really should be deleted is open as many times as there are users.

Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1610668

[2018-10-16 18:01] stephenrjones commented on #803
Hello,

After doing an install of Tendrl 1.6.3 using Ansible and pointing to an operational GlusterFS system, I'm seeing this exact issue ({"bricks":[]}). The import function brought in the nodes and volume information, however I'm getting 'No Bricks Detected' for all 3 of the nodes in the cluster. Any recommendations to resolve this issue?

[2018-10-18 02:42] gnehapk opened #1078 "Strange behavior of closing functionality of modals on cluster list view"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1599291, https://bugzilla.redhat.com/show_bug.cgi?id= 1611991

[2018-10-23 03:53] gnehapk opened #1080 "Revealing password on Add/Edit User pages breaks functionality of that pages"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1610190

[2018-10-23 09:59] gnehapk commented on #1054
This issue blocks https://github.com/Tendrl/ui/issues/1067 since the login page has been introduced in the later version that we are using.

[2018-10-23 10:02] gnehapk commented on #1065
Dependent on https://github.com/Tendrl/ui/issues/1054

[2018-10-25 05:52] gnehapk opened #1082 "Show password feature of password fields in My Settings screen does nothing"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1610162

[2018-10-25 06:32] gnehapk opened #1084 "Grammar mistake in an error message"
Description of problem:

If I log in to WA before my cluster is properly configured, I get an error message

"by before" part doesn't look like good English.

Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1618415

[2018-10-25 07:08] gnehapk opened #1086 "Incorrect hint in Tasks view of WA"
Description of problem:

In Tasks view of WA it's possible to filter tasks by Task ID, Task name or by Status.
The field for entering data incorrectly shows the hint "Filter by Task ID" when the option of filtering by task name is chosen.
The field for entering data shows hint "Filter by Task Name"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1620015

[2018-12-06 04:04] gnehapk opened #1091 "Edited user can't log in"
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1654623

[2018-12-27 10:39] GowthamShanmugam commented on #1073
This issue is fixed

[2018-12-27 10:39] #1073 closed, assigned to nobody

[2019-01-24 11:47] GowthamShanmugam opened #1093 "Brick grafana based dashboards can't be directly reached from "Brick Details" page of tendrl web"
Recently we modified the brick_path symbol to solve a problem in new graphite version, but ui is still using pipe symbol while launching brick dashboard in grafana show no brick related details are displayed in grafana dashboard from graphite.

[2019-05-21 11:55] GowthamShanmugam opened #1095 "Cluster list page doesn't show Ready to Import cluster status"
On a cluster with a freshly installed tendrl the list of clusters ready to be imported should show "Ready to Import" status of the clusters. It doesn't anymore.