[2016-10-03 08:30] mkudlej opened #1 "create package for Centos 7"
For CI and integration testing it is important to install all Tendrl components from packages.

[2016-10-27 13:34] mbukatov commented on #1
@mkudlej please close this issue, it's not applicable here

[2016-10-27 16:03] mkudlej commented on #1
I close this because there is similar issue here https://github.com/Tendrl/tendrl_frontend/issues/23

[2016-10-27 16:03] #1 closed

[2016-11-24 19:23] mbukatov opened #4 "Travis CI is broken"
Current configuration of Travis CI for this repository is broken. We may consider either disabling it (which makes more sense to me in this case) or fixing it (so that the ascii doc syntax is checked).

[2016-11-25 10:31] brainfunked commented on #4
Please help fix it. We should have travis enabled on all repos.

[2016-11-25 10:43] mbukatov commented on #4
Ok, I guess that it would require to do AsciiDoc build during the travis check.

[2016-11-25 11:00] mbukatov opened #5 "Convert the AsciiDoc files in ui repository into ReStructuredText format"
I noticed that we use [AsciiDoc](http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/) text markup format in this repository, which we also use for [Tendrl Documentation](https://github.com/Tendrl/documentation).
On the other hand, we are using [ReStructuredText](http://www.sphinx-doc.org/en/stable/rest.html) in [Tendrl Specification](https://github.com/Tendrl/specifications) and test case

[2016-11-25 11:02] mbukatov commented on #5
If we have an agreement here and decide to go forward, I would create a pull request with the changes so that no additional work of design team is required. I would also fix issue #4 (as I'm familiar with rst tooling and creating a CI job here would be straightforward for me).

[2016-11-25 11:05] mbukatov commented on #5
Maybe we may also consider to discuss how would dev team communicate a commitment to implementation of particular design. Have we some workflow proposed for this?

[2016-11-25 11:07] mbukatov commented on #5
Also note that there is a pull request #3 which fixes AsciiDoc syntax in the `UI Designs.adoc` file. No matter what we decide here, I suggest to merge pull request #3 anyway. If we decide to stay with AsciiDoc, fixing the syntax would make sense, obviously, while if we decide to go with rst markup, having valid AsciiDoc syntax in the ui fix would make the conversion easier.

[2016-12-06 16:29] mbukatov opened #6 "UI Designs file is not updated"
The following references are missing in the UI Designs file:

* Rebalance File Share (TEN-163): https://redhat.invisionapp.com/share/AB94BNET6
* Create Ceph Cluster (TEN-164): https://redhat.invisionapp.com/share/2K8M4PQYZ
* Delete File Share (TEN-165): https://redhat.invisionapp.com/share/729GRP1W9

[2016-12-06 16:30] mbukatov commented on #6
I would do a pull request, but since my last one was not merged, I'm leaving this here just for me to remember which references are missing in the file. When the new work flow is clarified, we may act on this issue accordingly.

[2016-12-08 12:24] mbukatov commented on #5
I was wrong: tendrl/specification repository uses ascii doc, so based on this and the fact that there was no feedback at all, I'm closing this.

[2016-12-08 12:24] #5 closed

[2016-12-13 18:30] julienlim commented on #6
@mbukatov - The UI Designs file is now updated.

[2016-12-13 18:30] #6 closed

[2017-02-01 15:49] #4 closed

[2017-05-29 10:01] gnehapk opened #8 "UX screen for expanding ceph and gluster cluster"
@mcarrano @julienlim Can you please point us to the link for UX designs for expanding ceph and gluster cluster.

[2017-05-29 10:38] brainfunked commented on #8
I think the term `expand' applies only to scenarios where a new node is being added to an existing cluster.

The flows for creating cluster objects such as pools, bricks, osds etc. could be combined, as applicable, with the expand scenario to provide a composite flow.

[2017-05-30 15:29] mcarrano commented on #8
We have defined flows for expanding either a Ceph or Gluster cluster by adding additional hosts (nodes).  These can be found in InVision here:

Add Host - Ceph: https://redhat.invisionapp.com/share/MFBXMWUG8
Add Host - Gluster: https://redhat.invisionapp.com/share/VEB27F9KG

Is this what you are looking for @gnehapk ?

[2017-05-31 12:01] gnehapk commented on #8
@mcarrano Yes. Thanks.

[2017-07-04 10:33] a2batic opened #484 "Unit Test for Cluster List"

[2017-07-24 17:00] brainfunked opened #486 "Codebase refresh for grafana integration"
Since grafana is being introduced to serve as the monitoring dashboard (https://github.com/Tendrl/specifications/issues/168), the tendrl UI no longer needs to display all the graphs and metrics that were in the original designs. Many of the original designs have been implemented and currently exist in the master branch. Based on the new direction for the UI, and updated implementation would be req

[2017-07-25 11:20] gnehapk commented on #486
Created a branch named [ui-legacy-code](https://github.com/Tendrl/ui/tree/ui-legacy-code) for pre-grafana UI code.

[2017-07-26 10:58] gnehapk opened #487 "Remove modules from the pre garfana code which are not needed now."
Spec - https://github.com/Tendrl/specifications/issues/182

[2017-07-27 11:00] TimothyAsir opened #489 "Make snapshot support and auto update release version"
Add "make snapshot" target in the make file and provide auto update release version based on packaging guidelines. This will be used by the jenkins ci during package build.

[2017-07-27 11:11] TimothyAsirJeyasing commented on #489
https://github.com/Tendrl/specifications/issues/178

[2017-07-28 06:18] #487 closed, assigned to gnehapk

[2017-07-28 06:20] #486 closed, assigned to gnehapk

[2017-07-28 07:45] a2batic opened #492 "Removed Cluster and Host details that are not required"
Remove the elements present in cluster list and host list page as per new requirement.

[2017-07-28 07:46] a2batic commented on #492
PR: #491

[2017-07-31 10:29] gnehapk opened #493 "Updated Cluster List Page"
Spec - Tendrl/specifications#181

[2017-08-03 06:34] #493 closed, assigned to gnehapk

[2017-08-03 06:35] #492 closed, assigned to nobody

[2017-08-04 14:54] gnehapk opened #499 "Update README file with changed repo name"
Earlier repo name was dashboard, now its being changed to UI. Update the README file with the changed repo name.

[2017-08-07 11:16] r0h4n commented on #499
Is this done?

[2017-08-07 11:17] #489 closed, assigned to TimothyAsir

[2017-08-07 13:31] gnehapk commented on #499
@r0h4n In progress.

[2017-08-08 05:27] r0h4n commented on #484
is this done?

[2017-08-08 06:40] a2batic commented on #484
@r0h4n, working on it

[2017-08-09 03:10] cybernth opened #500 "Launch grafana dashboard from cluster list page on tendrl-ui"
The cluster list on Tendrl UI will have links to open the Grafana dashboards, the dashboards will open in a different tab for navigation.

[2017-08-10 07:04] gnehapk opened #501 "Few enhancements from mileston 1"

[2017-08-14 12:12] a2batic opened #504 "Adding User List view"
https://github.com/Tendrl/specifications/pull/237

[2017-08-16 03:52] #501 closed, assigned to gnehapk

[2017-08-17 07:26] #499 closed, assigned to gnehapk

[2017-08-17 07:26] gnehapk opened #507 "Import Cluster View"

[2017-08-17 09:40] gnehapk opened #508 "Delete User from Tendrl"
@julienlim Before deleting a user, it will be good to display a pop up which asks the user to confirm before deleting it(and the impacts the action have).  Please provide a UX design for it.

[2017-08-18 12:17] a2batic opened #510 "Adding New User in Tendrl"
Tendrl/specifications#237

[2017-08-21 13:05] gnehapk opened #511 "Gluster cluster object views"

[2017-08-22 10:10] brainfunked opened #513 "CPU, memory and storage utilisation in the hosts list view"
The [UX designs](https://redhat.invisionapp.com/share/BR8JDCGSQ#/screens/212034116) calls for the CPU, memory and storage utlisation for the host to be displayed in the cluster list view. These attributes are absent from the [new implementation](https://github.com/Tendrl/specifications/pull/232/files#diff-8548316db0cf8c3a4abfad70a3b6a33b) of the UI.

With the introduction of grafana, these attribu

[2017-08-23 12:05] gnehapk opened #517 "Edit user"
Spec - Tendrl/specifications#238

[2017-08-24 06:28] #511 closed, assigned to gnehapk

[2017-08-24 06:28] #507 closed, assigned to gnehapk

[2017-08-24 06:29] gnehapk opened #522 "UI Notification not getting displayed every time"
Notification should be displayed each time user perform UI flows. Right now it just displaying for the 1st time, 2nd onward its getting hide.

[2017-08-24 07:42] a2batic opened #523 "'Cluster' on Cluster-detail not working"
'Cluster' on Cluster-detail page does not direct to Cluster List

[2017-08-24 07:44] a2batic opened #524 "Email Notification switch not showing correct value"
Email Notification switch on edit-user view not showing correct value

[2017-08-24 07:48] a2batic opened #525 "Edit user view shows 'Last Name' as mandatory"
'Last Name', is not a mandatory field, It is shown as mandatory on edit user view

[2017-08-24 08:41] a2batic opened #526 "No error for duplicate username or email"
While adding user, UI doesnt show error if username or email is already taken

[2017-08-25 15:57] fbalak opened #528 "Cluster is not visible in UI after import"
I have imported cluster with 4 nodes via GUI and after that the imported cluster is no longer in `Clusters` page and there is only a spinning wheel. Before it was imported there was a list of clusters with one item and a button which I used to import it.

![825_no_cluster](https://user-images.githubusercontent.com/22369801/29721625-44a8a302-89be-11e7-9794-a1b58ead0999.png)

Output of `http://hostn

[2017-08-27 14:33] gnehapk commented on #528
@fbalak The status of cluster is missing in the API response which is mapped to property -
 ```globaldetails.status```. Hence the UI is breaking.  @nnDarshan @nthomas-redhat  @r0h4n @anivargi  Please check.

[2017-08-27 14:33] #526 closed, assigned to nobody

[2017-08-27 14:34] #525 closed, assigned to nobody

[2017-08-27 14:34] #524 closed, assigned to nobody

[2017-08-27 14:34] #523 closed, assigned to nobody

[2017-08-27 14:34] #504 closed, assigned to a2batic

[2017-08-27 14:34] #510 closed, assigned to nobody

[2017-08-27 14:34] #517 closed, assigned to a2batic

[2017-08-27 14:39] gnehapk opened #529 "Unable to see title of Import Cluster - Hosts Discovered list"

[2017-08-27 20:15] a2batic opened #530 "No validation for 'name' in API"
UI is not validating the length of 'name' as per API validation

[2017-08-28 02:57] julienlim commented on #529
![import window overlaping views2](https://user-images.githubusercontent.com/5589919/29757608-204c6b24-8b7b-11e7-8d2e-4d4b4b01bee0.png)

[2017-08-28 03:10] julienlim opened #531 "Import button still enabled while Import is in progress"
The Import (Cluster) button is still enabled when Import is in progress for a given cluster.

When user starts an Import Cluster, the button should be disabled (for a given cluster) when the Import task is in progress, and be enabled again once the import cluster task is no longer enabled.

@gnehapk @Tendrl/tendrl-core @Tendrl/qe

[2017-08-28 03:12] julienlim opened #532 "Host List - what is a “Server Node?” -- Confusing terminology"
* For Tendrl Node, calling it a “Server Node” is strange since Server == Node == Host.  We should not use Node in the UI as it’s consistent with the Host reference used in place of nodes.  Instead, we might call the role “Tendrl Management” or “Tendrl Monitoring” to describe it’s function.  Tendrl in prefix is optional.

* For Gluster Node, calling it “Peer” may be confusing, i.e. is it a peer of

[2017-08-28 03:13] julienlim commented on #532
<img width="1280" alt="host list" src="https://user-images.githubusercontent.com/5589919/29757898-4991bd16-8b7d-11e7-81ac-9601259b548c.png">

[2017-08-28 06:05] fbalak opened #533 "There are no grafana dashboards after cluster import"
I have imported cluster (though there is a issue that occurred - https://github.com/Tendrl/ui/issues/528). When I go to address `hostname:3000` where should be grafana tendrl dashboards, there is only Home dashboard but there are no other dashboards. There are missing all information related to cluster, hosts, etc.

The job for cluster import have finished but it might not imported the cluster wel

[2017-08-28 06:34] gnehapk commented on #529
@julienlim I have tried on both Chrome(Version 60.0.3112.78) and Firefox(50.1.0) browsers and I am not able to reproduce this issue. Attaching the screenshots for the same.

![screenshot from 2017-08-28 11-53-52](https://user-images.githubusercontent.com/5517376/29761839-e1d680d2-8be8-11e7-90d1-bea23fd8e88f.png)

![screenshot from 2017-08-28 11-57-32](https://user-images.githubusercontent.com/5517

[2017-08-28 06:57] rishubhjain commented on #533
@fbalak Is tendrl-montioring-integration installed on tendrl-server (server where grafana is installed)
?

[2017-08-28 07:08] fbalak commented on #533
@rishubhjain Yes:
[code]

[2017-08-28 07:08] cybernth commented on #533
@fbalak How did you setup the testbed? Manual?
Now tendrl-ansible has the support and that is recommended way to setup tendrl.
Also this bug is not valid against tendrl/ui. This is supposed to be filed against tendrl/monitoring-integration. Please close this issue and create another one against that component

[2017-08-28 07:09] rishubhjain commented on #533
@fbalak If possible please check the status of tendrl-monitoring-integration service
service tendrl-monitoring-integration status

[2017-08-28 07:15] rishubhjain commented on #533
@fbalak If possible please provide your setup details. I would like to debug the issue.

[2017-08-28 07:20] fbalak commented on #533
@rishubhjain yes status is failed:
[code]
[code]

Dashboards are visible after I started the service.

[2017-08-28 07:25] rishubhjain commented on #533
I guess this issue is similar to https://github.com/Tendrl/monitoring-integration/issues/33

[2017-08-28 08:00] mbukatov commented on #533
@fbalak this looks like a know issue with https://github.com/Tendrl/monitoring-integration/issues/33 which affects installation with tendrl-ansible

[2017-08-28 08:01] shtripat commented on #528
@fbalak @gnehapk The sync of cluster does take sometime. Also in the output of `http://hostname/api/1.0/clusters` above doesn't have the `globaldetails` at all so I feel sync might be still is progress when this was taken.

I tried with a fresh setup today and I was able to see the grafana dashboard as well as the UI dashboard with cluster listed after successful import of the cluster.

[2017-08-28 08:04] fbalak commented on #533
@rishubhjain You are right. I will close this issue.

[2017-08-28 08:04] #533 closed, assigned to rishubhjain, cloudbehl

[2017-08-28 09:25] mbukatov commented on #532
I would suggest to use name "Tendrl Server" here, as it would align with [Installation Guide](https://github.com/Tendrl/documentation/wiki/Tendrl-Package-Installation-Reference) (where we call this machine **Tendrl Server** and have section called **Tendrl Server Installation**) and tendrl-ansible (where we have **tendrl-server** role).

@julienlim is **Tendrl Server** ok with you? I you prefer to

[2017-08-28 09:50] brainfunked opened #534 "Hosts to bricks mapping in the hosts list view for gluster"
[The hosts list view](https://redhat.invisionapp.com/share/2RCOE72PE#/screens/244735173) inside a cluster needs to scale to 128 hosts with 36 bricks each for milestone 3, with the eventual target being 60 bricks per host. Assuming that the bricks for the hosts are accessed by clicking on a host in the list, as either an expanded view or a pop-up view, it may easier to scale with host specific quer

[2017-08-28 09:52] brainfunked commented on #534
I've created a corresponding discussion at https://github.com/Tendrl/api/issues/249 to discuss the feasibility of a cluster specific host API endpoint.

[2017-08-29 08:24] fbalak commented on #528
There should be all synchronisation tasks completed if the cluster import is in `finished` state and so there should not be this rotating wheel. Unfortunately I have machines with this issue no more but I have seen this issue did not get better even after more than a day.

[2017-08-29 08:32] gnehapk commented on #531
@anivargi @brainfunked @nthomas-redhat @r0h4n @shtripat For this requirement, an API call will be needed which can tell the status import cluster flow i.e. whether its on going or not, so that UI can disable the import button for that cluster. Created an API issue for it - https://github.com/Tendrl/api/issues/250

[2017-08-29 09:05] mkudlej opened #535 "cannot close left menu in Firefox"
If user open initial page it is not possible to close left menu.
Reproducer:
1. Open initial Tendrl page before import
2. clear all cache by Ctrl+F5 (Linux)
3. try to close left menu by clicking on button ```=``` in left upper corner

Workaround:
Click on any menu item in left menu and then it is possible to close left menu.

Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/

[2017-08-29 09:13] mkudlej opened #536 "cannot click on import button"
User cannot click on import button because it is covered, see screenshot.
In this case I've used 1024x768 but design should be responsive.

![bug_import_button](https://user-images.githubusercontent.com/5920442/29813492-866c7d24-8caa-11e7-97d5-55714493fae1.png)

Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0

etcd-3.1.9-1.el7.x86_64
glusterfs-4.0dev-0.85.gitea48cae.el

[2017-08-29 09:30] gnehapk commented on #536
@mkudlej Do you see this issue on chrome browser as well? On chrome browser, its working fine for me.
![screenshot from 2017-08-29 15-42-02](https://user-images.githubusercontent.com/5517376/29816223-f391c01e-8cd0-11e7-969c-1113007c1728.png)

[2017-08-29 12:21] fbalak opened #537 "Save and Cancel buttons in Add user form"
Buttons for `Save` and `Cancel` in `Add user` form are not correctly styled. They overlap over the form and have variable distance from each other when the page is changing zoom or window size.

![829_scbuttons1](https://user-images.githubusercontent.com/22369801/29820575-3e8944fe-8cc5-11e7-81ea-de55c2e9d04d.png)

![829_scbuttons2](https://user-images.githubusercontent.com/22369801/29820583-41648c

[2017-08-29 13:58] ltrilety opened #538 "Import cluster hosts list header"
Header of the hosts list during import cluster is not visible.

![import_cluster](https://user-images.githubusercontent.com/22369834/29824866-e9e81b2e-8cd2-11e7-8a14-6223daf6f7b7.png)

Used packages:
tendrl-ui-1.5.1-1.el7.centos.noarch

[2017-08-29 14:18] ltrilety commented on #538
duplicate of https://github.com/Tendrl/ui/issues/529

[2017-08-29 14:18] #538 closed, assigned to nobody

[2017-08-29 14:23] fbalak commented on #528
I have been able to reproduce the issue. The spinning wheel remains for hours now. I have installed tendrl via tendrl-ansible. Before that I had cluster containing 4 nodes and no volume. I clicked in ui on `import` button. Job finished correctly but the issue remains.

Tested with:
[code]

[2017-08-29 14:38] fbalak opened #539 "Tasks page filter"
Filter in Admin/Tasks page should be aligned according to https://redhat.invisionapp.com/share/8N93NO7Q4#/screens/200318248 and spaced properly apart for easier readability and usability. When there is one task there should be label with `1 Task` instead of `1 Tasks`. Filter controls don’t seem to match PatternFly Filter control (https://www.patternfly.org/pattern-library/forms-and-controls/filter

[2017-08-29 15:06] gnehapk commented on #539
@fbalak Tested on both browser -Firefox and Chrome and works fine for me.

![screenshot from 2017-08-29 20-28-04](https://user-images.githubusercontent.com/5517376/29828026-4952a5a4-8cf9-11e7-9b95-baec873e22a0.png)

Can you please provide more details.

[2017-08-30 05:05] shtripat commented on #528
@fbalak Kindly provide access to the setup here. Will try to debug.
I will share the required details in mail separately.

[2017-08-30 06:36] fbalak commented on #528
@shtripat Ok, access granted.

[2017-08-30 07:05] fbalak commented on #539
Tested with `Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0` and `Chromium Version 59.0.3071.104 Fedora Project (64-bit)`

[2017-08-30 07:45] mkudlej commented on #536
@gnehapk I don't see it in
[code]
but Firefox is default browser in CentOS and second most used browser on desktop so I think Tendrl should fully support it.

[2017-08-30 07:52] #522 closed, assigned to gnehapk

[2017-08-30 07:55] gnehapk commented on #537
@fbalak Fixed in tendrl-ui-1.5.1-20170830T055110.867cdc4.noarch.rpm build. Please verify it.

[2017-08-30 08:59] gnehapk opened #541 "User role based access for Tendrl-UI views/actions"

[2017-08-31 07:00] gnehapk opened #542 "Move Task menu from Admin menus"

[2017-08-31 07:27] dahorak opened #543 "Configure Webhook for ci.centos.org"
Could you please configure webhook to `https://ci.centos.org/github-webhook/` for this repo, which will trigger package build for each commit in master branch?

_Instruction copied from [1]:_
Add a Webhook to your repository pointing at https://ci.centos.org/github-webhook/
2. On your Github Project page, choose 'Settings'
3. Navigate to the 'Webhooks and Services' tab
4. Choose 'Add a webhook'

[2017-08-31 13:32] julienlim opened #544 "Multiple rows in the Cluster list for the same cluster"
I'm not sure how this is possible, but when my VPN dropped and I reconnected, my cluster list (which previously showed 1 cluster) is now showing that I have 4 clusters, but they are the same cluster being repeated 4 times with different Volume Profile (enabled/disabled) states!

<img width="1280" alt="screen shot 2017-08-31 at 9 30 11 am" src="https://user-images.githubusercontent.com/5589919/2992

[2017-08-31 14:03] cloudbehl commented on #544
@julienlim can you share the API response for the cluster list.

[2017-08-31 14:26] julienlim commented on #532
@mbukatov "Tendrl Server" is okay, but to align the terminology, it should be "Tendrl Host" as we're using host throughout the UI (and other related products, e.g. old console too).

[2017-08-31 14:35] julienlim opened #545 "Users Page: Typos on the filter and extra vertical bar"
Typos on the filter, extra vertical bar, and filter rounded edges (vs. straight edges)

Text changes:
* User id --> User ID
* Filter By username... --> Filter by User ID...

There does not need to be a vertical bar at the end of the filter

the User ID dropdown appears to have rounded edges, whereas per PatternFly, it should be straight-edged.  See https://www.patternfly.org/pattern-library/forms-

[2017-08-31 14:42] cloudbehl commented on #544
Steps to retrieve API response from a browser(Chrome):

1. In Chrome press F12 to open Developer's console.
2. Select the Network tab. This tab gives you the information about the requests fired from the browser.
3. Select a request(if not present just refresh the page) by clicking on the request name. There you can find the Header information for that request.
4. Click on Response tab inside Netw

[2017-08-31 16:26] julienlim opened #546 "Task "show" filter labels should not word wrap"
"In progress" should be on one line and not word wrap as there is sufficient white space to not warrant the word wrapping.  Positioning of the labels are also inconsistent, and should be to the right of the checkbox

* Implemented:
<img width="667" alt="screen shot 2017-08-31 at 12 10 29 pm" src="https://user-images.githubusercontent.com/5589919/29933487-c686d11a-8e45-11e7-8887-9fb096538a87.png">

[2017-08-31 16:31] julienlim commented on #513
In the future, we would want to be able to view these utilizations / charts in the UI -- possibly through embedding a Grafana panel.

@brainfunked @gnehapk @Tendrl/tendrl_frontend @Tendrl/qe

[2017-08-31 17:38] julienlim commented on #544
@cloudbehl I'm not exactly sure what header information you're asking for.  I took a screenshot of the Developer's console and cluster list -- see below:

<img width="1280" alt="screen shot 2017-08-31 at 1 50 55 pm" src="https://user-images.githubusercontent.com/5589919/29937475-b6f1ed12-8e53-11e7-84c9-67d7591c785b.png">

The response is:
{"clusters":[{"sds_version":"3.11.0rc0","updated_at":"2017-

[2017-08-31 17:47] julienlim opened #547 "User management: Unneeded role and ambiguous user role labels"
- As the upcoming release will not include active management / provisioning capability, there is no need for a  “Normal User” role.
- Consider labeling “Limited User” to “Read-Only” as “Limited User” is a somewhat ambiguous term.

<img width="1280" alt="screen shot 2017-08-31 at 1 48 21 pm" src="https://user-images.githubusercontent.com/5589919/29937302-19ce575a-8e53-11e7-8998-1dcbc679f9ab.png">

[2017-08-31 17:54] julienlim commented on #544
Also posted response at https://paste.fedoraproject.org/paste/AnnQb6fyOJgQRdMrDQIDzQ.

[2017-08-31 19:00] julienlim opened #548 "Import Cluster: Enable Volume Profiling - alignment issues, typos, and extra verbage should be in infotip"
- Checkbox trailing text not properly aligned with checkbox and also has typos.

- Text that should be in an infotip (and accessible through hovering on the “i” icon) is displayed making it look cluttered and overwhelming to the user.

- The column header "Release" should either be "Release" or "Version" -- the label should be consistent with the label used on the Cluster List (which currently sho

[2017-08-31 19:10] julienlim opened #549 "RFE: Add another column for Release / Version to Host List"
Is it possible to add the Release (or Version) column to the Host List (before the Role column) -- like we do in the Import Cluster (host list)?

Import Cluster screenshot:
<img width="1280" alt="screen shot 2017-08-30 at 3 20 15 pm" src="https://user-images.githubusercontent.com/5589919/29940797-60569f6a-8e5e-11e7-8873-3a353ebb6210.png">

Host List screenshot:
<img width="1280" alt="screen shot 2

[2017-08-31 19:17] julienlim opened #550 "Import Task Submitted - typo and maybe rewording needed; no notification after import task completes"
Typo
- "... submitted.  you will be ..." ==> "... submitted.  You will be ..."

Rewording (to remove the word "new")
"... the new cluster is ready ..." ==> "... the cluster is ready ..."

There seems to be no alert/notification generated when import cluster has completed (especially if it failed).

<img width="1280" alt="screen shot 2017-08-30 at 3 20 20 pm" src="https://user-images.githubusercont

[2017-09-01 05:17] gnehapk commented on #544
@r0h4n @nthomas-redhat @anivargi As per the response shared, the API response has four objects of cluster with same name but different cluster_id. Please look into it.

[2017-09-01 05:37] r0h4n commented on #544
@julienlim

- Did you complete setup of Gluster trusted storage pool on all the nodes and only  then run tendrl-ansible

Please provide details of how you setup Gluster and then Tendrl

[2017-09-01 15:05] julienlim commented on #544
@r0h4n Yes Gluster properly setup on all the nodes following https://gluster.readthedocs.io/en/latest/Install-Guide/Install/ instructions.  I manually installed tendrl.

It had 1 cluster, but during a laptop OS update (nightly), it rebooted my computer and all my Vagrant/Virtualbox VM's were down.  After I brought up VirtualBox, there were then 4 clusters.

[2017-09-04 11:58] mkudlej opened #552 "There is no error message in user edit page"
There is no error message if user cannot save form for edit user details (Admin -> Users -> Edit).

reproduce:
1. as admin create limited user *test_user*
2. log in as *test_user*
3. go to Admin -> Users -> click on "Edit" for *test_user*
4. change anything
5. click on save
6. there is no error message even if save request fails (403 forbidden)

etcd-3.1.9-1.el7.x86_64
glusterfs-4.0dev-0.85.gitea4

[2017-09-04 12:52] mkudlej opened #553 "user cannot change password"
1. I've created user with limited access and I've logged in. This user cannot change his password. I think user with limited access can be able to change his password.
2.  I've created normal user and I've logged in. This user cannot change his password. I think normal user should be able to change his password.
3. Admin user can change his password at "Edit" user page

I think that there should b

[2017-09-04 14:15] mkudlej opened #554 "lost user in user list after search"
Default admin user has empty *Last name*. If user searches users according *Last Name* and finally deletes all characters in filter input, Admin user is not in list even if Admin user (and all other users) should be visible in user list.

etcd-3.1.9-1.el7.x86_64
glusterfs-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-api-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-cli-4.0dev-0.85.gitea

[2017-09-04 14:56] gnehapk commented on #554
@mkudlej I am not able to reproduce this issue(deleting last name search text shows all the users in the list).  Can you please mention what text you have entered in filter input to search user by last name.

[2017-09-04 15:27] mkudlej commented on #554
@gnehapk
Please try to watch video zipped in [bug.zip](https://github.com/Tendrl/ui/files/1275069/bug.zip)

[2017-09-05 04:01] shtripat commented on #528
There are regressions where there are not volumes in the cluster while import. The same fixed in above PRs.
Make sure there is at least one volume in cluster and you should be able to import.

[2017-09-05 04:08] cybernth commented on #528
https://github.com/Tendrl/ui/issues/528#issuecomment-327065655,  is the workaround until the merged PRs available in the upcoming release

[2017-09-05 04:18] cybernth commented on #543
Done

[2017-09-05 04:18] #543 closed, assigned to nobody

[2017-09-05 04:34] cybernth commented on #544
@julienlim , to be more specific we want to know the sequecnce of steps you have done. Have you setup gluster cluster first and Installed tendrl after that or the other way around(install tendrl and then setup the gluster cluster)?

[2017-09-05 05:42] cybernth commented on #547
There are operations like enble/disable profiling is allowed and can be performed by 'Normal Users' and hence it is required

[2017-09-05 06:42] gnehapk commented on #553
@mkudlej LDAP is not supported in this release.

[2017-09-05 06:49] gnehapk commented on #550
We will care of typo. @julienlim Please add a RFE issue in backend component for generating notification when import cluster has completed.

[2017-09-05 07:03] gnehapk commented on #529
@julienlim Can you please confirm is it still reproducible on firefox and chrome browsers?

[2017-09-05 08:05] mkudlej commented on #547
@julienlim Could you please change related design documents if this was already decided? Or at least add comment to design document that 'Normal user' will not be supported in upcoming version?

[2017-09-05 08:06] mkudlej commented on #547
@nthomas-redhat Is there any list of permissions for these 3 user types?

[2017-09-05 08:15] mkudlej opened #556 "cannot delete and disable user in UI"
There are options in design document https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738633 to delete and disable user. These 2 management actions are not implemented in UI.

etcd-3.1.9-1.el7.x86_64
glusterfs-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-api-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-cli-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-client-xlators-4.0d

[2017-09-05 10:08] ltrilety opened #557 "delete user"
A user cannot be deleted from UI.

[2017-09-05 10:17] ltrilety opened #558 "Read-only (limited) user"
A user with read-only (limited) role can open 'edit user' dialog and 'add user' dialog.
It will be better if those actions are not available for the user.

Moreover such user cannot edit or add another one as predicted however when he tries no error is displayed on UI. BTW when console is running API response is `403 Forbidden`.

[2017-09-05 10:43] ltrilety commented on #557
duplicate

[2017-09-05 10:43] #557 closed, assigned to nobody

[2017-09-05 10:44] ltrilety opened #559 "User name"
First and last name on UI is inauspicious choice when API takes only one name. This leads to several issues:

1.  User fills some string with spaces as name. E.g. 'a b' as first name 'c' as last name. A new user with name 'a b c' is created. Such user is displayed on UI as user with 'A' as first name and 'B' as last. Moreover this strings are used when user is edited. So without change the user ca

[2017-09-05 10:46] ltrilety opened #560 "user last name"
When last name is not filled at all during user add UI puts 'undefined' string as last name.

[2017-09-05 11:11] gnehapk commented on #560
@ltrilety Can you please paste the API response received for user list API.

[2017-09-05 11:22] gnehapk commented on #558
@ltrilety 'Users' menu will only be available for admin users.  Role based access to various views/actions PR is merged in master and will be available in the upcoming release.

[2017-09-05 11:30] gnehapk commented on #559
@anivargi UI needs separate property name mapped for both first and last name. Created issue for the same - https://github.com/Tendrl/api/issues/254

[2017-09-05 11:33] gnehapk opened #561 "Context switcher dropdown"

[2017-09-05 11:41] ltrilety commented on #560
@gnehapk

data for POST users:
[code]
following GET users part where the user is:
[code]

[2017-09-05 11:48] ltrilety opened #562 "User id capitalized"
User ID should not be capitalized, as the correct character is important for log in.

![capitalized_ids](https://user-images.githubusercontent.com/22369834/30059796-e3944dce-9240-11e7-9ed8-4db474273865.png)

[2017-09-05 11:55] ltrilety opened #563 "general error for email issues"
When there is wrong mail filled during user add or edit. API says: `422 Unprocessable Entity: {"errors":{"email":["is invalid"]}}` but UI always says: 'Email is already taken. Please use different one.'

![email_ui_error](https://user-images.githubusercontent.com/22369834/30059985-b733060c-9241-11e7-8ef5-982bab45f47d.png)

[2017-09-05 12:41] ltrilety opened #564 "read-only (limited) user cluster import"
User with read-only (limited) role can open cluster import dialog, even click on cluster import without any error. First sign that something is wrong is when the user tries to view the task progress. Then UI says: `No Task Detail Found Detected.`
API returns `403 Forbidden` error much earlier when user clicks on 'Import' button.
Correct behavior would be that cluster import is not available for th

[2017-09-05 12:45] ltrilety commented on #547
@mkudlej actualy there is https://github.com/Tendrl/api/blob/master/docs/authorizaton.adoc

[2017-09-05 13:35] julienlim commented on #547
@nthomas-redhat @mkudlej @japplewhite Please look at https://redhat.invisionapp.com/share/KNB25OEQT#/screens/226063802.  The user roles shown in the UI were not "Normal User" or "Limited User."  Instead they should be "Power User" and "Read-Only."

Regarding enabling/disabling storage profiling requiring the Power User / Normal User role, perhaps since it's a limited release, it would be better to

[2017-09-05 13:41] gnehapk commented on #564
@ltrilety Role based access to various views/actions [PR ](https://github.com/Tendrl/ui/pull/551)is merged in master and will be available in the upcoming release.

[2017-09-05 13:46] gnehapk commented on #560
@ltrilety Its fixed and will be available in upcoming release.

[2017-09-05 14:04] cybernth commented on #564
Since this feature is planned for next milestone, closing this issue

[2017-09-05 14:04] #564 closed, assigned to nobody

[2017-09-05 14:07] cybernth commented on #558
Closing this issue as this feature is planned for next milestone

[2017-09-05 14:07] #558 closed, assigned to nobody

[2017-09-05 14:08] cybernth commented on #556
Closing this issue as this feature is planned for next milestone

[2017-09-05 14:08] #556 closed, assigned to nobody

[2017-09-05 14:14] mkudlej commented on #556
@nthomas-redhat Could you please reopen this issue? It is true that this feature is missing in Tendrl 1.5.1. Persons interested in QE will close it once it will be implemented.

[2017-09-05 14:14] mkudlej commented on #564
@nthomas-redhat Could you please reopen this issue? It is true that this feature is missing in Tendrl 1.5.1. Persons interested in QE will close it once it will be implemented.

[2017-09-05 14:17] mkudlej commented on #558
@nthomas-redhat Could you please reopen this issue? It is true that this feature is missing in Tendrl 1.5.1. Persons interested in QE will close it once it will be implemented.

[2017-09-05 14:35] ltrilety commented on #547
BTW that's not just enable/disable profiling, but also possibility to import cluster. "Power user" can do that whilst "Read-Only" not.

[2017-09-05 15:13] julienlim commented on #558
@nthomas-redhat @Tendrl/qe @Tendrl/tendrl_frontend This issue should not be closed but remain open until it can get verified by QE.

[2017-09-05 15:20] julienlim commented on #564
@gnehapk @nthomas-redhat @Tendrl/tendrl-core @Tendrl/qe @japplewhite

Can someone point me to the spec (is it https://github.com/Tendrl/api/blob/master/docs/authorizaton.adoc which only lists roles and no details beyond the API calls permitted?) that details what the different user roles are permitted in a Gluster-only monitoring release?

E.g.

- admin - Full / all administrative access to all of

[2017-09-05 15:23] julienlim commented on #547
Related to https://github.com/Tendrl/ui/issues/564, where I've posed the question for details on the RBAC / authorization spec to get further clarification as to what read-only and power /normal user can actually do (or not).

[2017-09-05 15:35] julienlim commented on #529
@gnehapk The problem is no longer on Chrome Version 60.0.3112.113 (Official Build) (64-bit), but I still observe it as a problem on Firefox 52.3.0 (64-bit).

Below is the screenshot from Firefox:
![screen shot 2017-09-05 at 11 30 40 am](https://user-images.githubusercontent.com/5589919/30069265-49637d36-922e-11e7-930a-25c92b075f0f.png)

[2017-09-05 15:39] julienlim opened #566 "Tendrl UI is not responsive"
@Tendrl/tendrl_frontend @Tendrl/qe

The Tendrl UI is not responsive in that it is not able to adapt to any possible screen size.  When using Firefox version 52.3.0 (64-bit) to display the Cluster List, here is what I observed at initial launching of the Cluster page.  Some of the items to the far right were clobbered and overwriting each other.

![screen shot 2017-09-05 at 11 30 03 am](https://use

[2017-09-05 15:54] julienlim commented on #544
@nthomas-redhat I believe I had gluster installed first and then installed tendrl.

[2017-09-05 16:02] gnehapk opened #567 "Make alert page responsive"

[2017-09-05 16:06] julienlim commented on #553
@Tendrl/qe @gnehapk The change password dialog (https://redhat.invisionapp.com/share/KNB25OEQT#/screens/226063801) is valid whether or not LDAP is supported or not.

Each user should be able to change his/her own password.

[2017-09-05 16:13] julienlim opened #568 "Changing admin user role"
@gnehapk @Tendrl/tendrl-core @Tendrl/qe

In the Tendrl UI, I was able to change the the user role of the admin from admin to normal user.  Is this something we want to permit?

![screen shot 2017-09-05 at 12 10 37 pm](https://user-images.githubusercontent.com/5589919/30071137-b5a26016-9233-11e7-84fc-1f854db41438.png)

[2017-09-05 16:18] gnehapk commented on #566
@julienlim On chrome its working fine. Attaching the screenshot.
![screenshot from 2017-09-05 21-33-31](https://user-images.githubusercontent.com/5517376/30070864-6d2ba172-9282-11e7-8590-a2ed085f4791.png)

The fix for firefox browser is in progress. This issue is already filed at https://github.com/Tendrl/ui/issues/536.

[2017-09-06 06:51] ltrilety commented on #547
I have related question to this. Am I right if I say that Grafana should look the same for all types of user roles? Should it be read only for all?

[2017-09-06 06:53] ltrilety commented on #568
I already created api issue for this https://github.com/Tendrl/api/issues/255

[2017-09-06 10:11] cybernth commented on #568
We will not be supporting this. Closing the issue

[2017-09-06 10:11] #568 closed, assigned to nobody

[2017-09-06 10:16] cybernth commented on #559
We are going to have `name` on the UI which is in sync with API provides

[2017-09-06 10:27] gnehapk opened #570 "User should not be able to change role"

[2017-09-06 10:49] cybernth commented on #547
That is captured here --> https://github.com/Tendrl/api/blob/master/docs/authorizaton.adoc @julienlim

[2017-09-06 11:36] dahorak commented on #544
I'm in quite the same state now - I see one the same cluster on three rows. The first (which is the correct one) is imported and contains 4 nodes (which is correct). The rest two looks like ready to import and contains only one gluster node.
![screenshot](https://user-images.githubusercontent.com/4759779/30109254-ffcbe3e2-9305-11e7-8d64-558108588cc8.png)

I'm not sure how to reproduce it, but my s

[2017-09-06 14:36] cloudbehl opened #571 "Launch the Grafana dashboard from the Tendrl-UI"

[2017-09-07 13:31] a2batic opened #575 "Delete user from User List"

[2017-09-07 16:35] julienlim opened #577 "Clicking on Task Details (from Tasks List) generates 404"
In the current Tendrl build I'm using (from master yesterday), whenever I want to look at Task Details of a given Task, I get a 404, and then when I click the back button (on the browser), it then shows the Task Details.  This happens for any task I want to see details for.  This behavior was observed on both Chrome and Firefox.

Here's the sequence of flow:

(1) In the Tasks List, I choose one of

[2017-09-07 16:39] julienlim commented on #547
@nthomas-redhat @anivargi @Tendrl/qe I looked at https://github.com/Tendrl/api/blob/master/docs/authorizaton.adoc and it's not specific enough and also mentioned my concerns in https://github.com/Tendrl/ui/issues/564.

[2017-09-07 16:47] japplewhite commented on #547
does this mean that all users in this release will only need limited? Import being the one exception though right?

[2017-09-07 16:48] julienlim opened #578 "Notifications / Alerts in 2 places and have alerts that lack useful information"
There seems to be Alerts in the left navigation, and Notifications in the notification drawer coming from the top right common utilities area (banner far right).

Per the [UX design](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738613), the alerts/notification (which are both the same thing) should be displayed in the notification drawer to be accessible at any time.

In the current

[2017-09-07 17:36] julienlim opened #579 "Notifications (Alerts) are truncated and not readable"
Using the Notification drawer to access the Notifications/Alerts, I am unable to see the notification/alert message as it's truncated.  Furthermore, when you hover over the truncated message, the tooltip is truncated and not fully visible at any time.

See screenshots of the 2 notifications / alerts shown as well as what happens when I hover over them to trip and see the tooltip.

![screen shot 20

[2017-09-08 05:28] gnehapk commented on #577
@julienlim Fixed. Will be available in the coming release.

[2017-09-08 06:05] gnehapk commented on #547
After discussion with @nthomas-redhat  and @brainfunked, its being decided that Admin, Normal and Read only users terminology will be followed in UI and API both.

[2017-09-08 09:28] a2batic opened #580 "Option for all users to change profile"

[2017-09-08 14:01] a2batic opened #581 "Disable/ Enable email notification from user list"

[2017-09-08 19:58] julienlim opened #582 "[RFE] Cluster name / unique identifier is unwieldy"
The clusters that get imported have very long unique identifiers that get truncated in the UI, e.g. in the context switcher and all places where the cluster name is displayed.

Is it possible to come up with a more user-friendly unique identifier that gets auto-created or auto-assigned?  E.g. YYMMDDHHMM (and maybe leave of the prefix "Gluster-" which takes up 8 letters).  To address leaving of the

[2017-09-08 20:02] julienlim commented on #547
@nthomas-redhat @brainfunked @gnehapk @japplewhite @rghatvis@redhat.com @mcarrano @Tendrl/qe
What is a "normal" user role?  I've seen many RBAC user-facing terminology, but "normal" user role is not common at all in the industry.

I've seen power user, privileged, monitoring, but "normal" is not normal.  I strongly recommend calling it "Power User" or "Privileged" or "Monitoring" or something more

[2017-09-08 20:28] mcarrano commented on #508
A delete confirmation dialog has been added to the flow for User Admin here: https://redhat.invisionapp.com/share/8QCOEVEY9

[2017-09-08 20:34] mcarrano commented on #547
Mockups have been updated here with revised roles and instructional text: https://redhat.invisionapp.com/share/8QCOEVEY9

We decided to stick with Admin, Power User, and Read-Only.  The problem with the term "normal" is normal for who? The term does not reflect any particular level of privilege and becomes ambiguous, i.e. for an Admin, being an admin is his or her normal role.

[2017-09-09 10:28] cybernth opened #583 "Click on task(Admin->tasklist) re-direct to unavailable URL"
Click on task(Admin->tasklist) re-direct to http://<ip>/TendrlModule/

Workaround:
Click on `back` button will provide the expected result

[2017-09-09 11:02] cybernth opened #584 "Click on `Grafana Dashboard` Button is not opening the dashboard"
This is observed on cluster list, host list, volume list, and cluster object details pages

[2017-09-09 11:08] cybernth commented on #578
@GowthamShanmugam , This requires your immediate attention. Even on my setup I could see some info which really doesn't make any sense on Alert page.

[2017-09-09 11:11] cybernth commented on #583
https://github.com/Tendrl/ui/issues/577

[2017-09-09 11:11] #583 closed, assigned to nobody

[2017-09-11 08:25] ltrilety opened #585 "Cluster looks like ready to import when it's importing already"
For cluster, which is importing, should not be possible to run another import task.

Steps to reproduce:
1. Start to import cluster via UI
2. Go to 'Clusters' page

Current behavior:
The cluster seems to be ready to import. It is possible to click on `Import Cluster` button

Expected behavior:
The cluster should not look like it could be imported, `Import Cluster` button should not be available.

[2017-09-11 09:08] gnehapk commented on #585
Duplicate of #531

[2017-09-11 10:06] a2batic commented on #563
Thanks @ltrilety for reporting this, I will send a patch for it soon.

[2017-09-11 11:23] #585 closed, assigned to nobody

[2017-09-11 12:16] mkudlej opened #586 "Additional "Confirm password" input"
There is extra input *Confirm Password* in current implementation of *Edit User* and *Add User* forms

which is not in [design](https://redhat.invisionapp.com/share/KNB25OEQT#/screens/226063805).
I think that design or implementation should change.
I understand 2 inputs for password is standard but it is not in design.

@julienlim Could you please comment here?
![bug_user_form](https://user-images

[2017-09-11 12:46] cloudbehl opened #587 "Grafana Dashboard button fix"
Grafana dashboard button not taking us to the grafana UI

[2017-09-11 13:33] ltrilety opened #589 "task progress - cancel button"
The `Cancel` button on the page with `View Task Progress` button doesn't make sense. It seems like it could cancel the current task (currently only import cluster) which is not true.

![cancel_button](https://user-images.githubusercontent.com/22369834/30276736-0e1919d4-9706-11e7-92cc-3baa7bd0ed9d.png)

Used packages:
tendrl-api-httpd-1.5.1-1.el7.centos.noarch
tendrl-ui-1.5.1-1.el7.centos.noarch
te

[2017-09-11 13:39] brainfunked commented on #547
The same way, `power user` doesn't convey any specific meaning. It's especially confusing when there's no definition of 'normal' to compare against and in the presence of 'admin'. How is 'power user' different than 'admin'? Let me put it this way: in a context where there's admin and read-only, `normal` is much more normal than `power user`. If we need to be explicit, 'read-write' is extremely pre

[2017-09-11 13:41] #547 closed, assigned to nobody

[2017-09-11 13:43] julienlim opened #590 "Tendrl - Blank Slate (for Clusters List) showing wrong / old message"
When Tendrl UI first comes up (when there are no clusters present), it shows the following message:

No Clusters Detected.
If you have already cluster created or imported and still not see Clusters, make sure the Clusters are configured correctly.

<img width="1280" alt="screen shot 2017-09-08 at 2 49 27 pm" src="https://user-images.githubusercontent.com/5589919/30277355-89686c92-96d5-11e7-859f-1b

[2017-09-11 15:43] julienlim commented on #586
@mkudlej We do have a "Confirm Password" in the design -- see https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/252535083.

[2017-09-11 16:00] julienlim commented on #589
@Tendrl/tendrl_frontend @Tendrl/qe @mcarrano

If user is not able to "Cancel" a task, then we should not expose the "Cancel" button.

[2017-09-11 16:00] julienlim commented on #508
@gnehapk Please see comment above.

[2017-09-11 16:05] julienlim commented on #584
@nthomas-redhat The "Grafana Dashboard" seems to work from the host list.

[2017-09-11 16:16] julienlim commented on #583
@nthomas-redhat @gnehapk I just tried it with the latest build, and it's still giving me a 404.  Can we re-open this?

[2017-09-11 19:29] mcarrano commented on #589
Agree. The design does not include a Cancel button for that reason.  See https://redhat.invisionapp.com/share/R88EUSGJK#/193148726_Import-Gluster_Cluster-_Completion

[2017-09-11 19:57] julienlim commented on #529
Just verified that it still is a bug on Firefox based on today's build from master.
@gnehapk

[2017-09-11 20:14] julienlim opened #591 "Volume is not displaying in Tendrl UI but displays in Grafana dashboards"
I just deployed Tendrl from the latest master today, and I was able to import the cluster and see the dashboards.

What I was not able to see in the Tendrl UI was the volume (vol0) for my Gluster cluster; however, in Grafana, it did see the volume.

Tendrl UI - no volumes listed for the Gluster cluster:
![screen shot 2017-09-11 at 4 09 14 pm](https://user-images.githubusercontent.com/5589919/30294

[2017-09-11 20:17] julienlim opened #592 "Cluster name / unique identifier differs in Tendrl UI vs. Grafana for the same cluster"
The cluster name / unique identifier differs in Tendrl UI vs. Grafana for the same cluster -- they ought to be the same.

Tendrl UI:
![screen shot 2017-09-11 at 4 16 20 pm](https://user-images.githubusercontent.com/5589919/30294870-a548d776-970c-11e7-96dc-fee5549a1d57.png)

Grafana Dashboard:
![screen shot 2017-09-11 at 4 15 57 pm](https://user-images.githubusercontent.com/5589919/30294872-a74914d

[2017-09-11 20:18] julienlim opened #593 "Cluster name / unique identifier don't match - ought to be same in both Tendrl UI and Grafana"
The cluster name / unique identifier differs in Tendrl UI vs. Grafana for the same cluster -- they ought to be the same.

Tendrl UI:
![screen shot 2017-09-11 at 4 15 57 pm](https://user-images.githubusercontent.com/5589919/30294872-a74914d2-970c-11e7-927f-80e115f47f00.png)

Grafana Dashboard:

![screen shot 2017-09-11 at 4 16 20 pm](https://user-images.githubusercontent.com/5589919/30294870-a548d7

[2017-09-11 20:19] julienlim commented on #592
This was opened twice by mistake.  See https://github.com/Tendrl/ui/issues/593.  Closing this as it's a duplicate issue.

[2017-09-11 20:19] #592 closed, assigned to nobody

[2017-09-12 07:32] mkudlej commented on #547
@mcarrano @julienlim It seems that current implementation will not change. Could you please change design mockups according @brainfunked last comment?

[2017-09-12 17:01] julienlim commented on #591
I tried adding a gluster volume, and it did appear in Grafana but once again it did not appear in the Tendrl UI.

I also noted that the new volume added did not have volume profiling enabled (despite the cluster having it enabled) when it was added.  I had to manually enable it at the command line (since I couldn't see any of the volumes from the UI).

@gnehapk @Tendrl/tendrl_frontend @Tendrl/tend

[2017-09-12 20:16] julienlim commented on #584
Related to https://github.com/Tendrl/ui/issues/587.

[2017-09-13 03:30] cybernth commented on #591
@shtripat, can you please check the volume profiling part?

[2017-09-13 03:31] gnehapk opened #594 "Host and Volume brick details page"

[2017-09-13 03:47] gnehapk commented on #586
@mkudlej as this is already implemented and its as per UX design, closing this issue.

[2017-09-13 03:47] #586 closed, assigned to nobody

[2017-09-13 03:49] #561 closed, assigned to gnehapk

[2017-09-13 03:50] #542 closed, assigned to gnehapk

[2017-09-13 04:30] shtripat commented on #591
@julienlim can you share the setup details in a mail? I would try to check for errors why the profiling was not enabled for the volumes after import.

[2017-09-13 08:28] shtripat commented on #591
@julienlim I tried creating a new volume in an already imported cluster and by next sync the profiling giot enabled for the volume. This is with latest master rpms and dont see the issue.

[2017-09-13 11:41] #594 closed, assigned to gnehapk

[2017-09-13 11:42] #587 closed, assigned to nobody

[2017-09-13 15:18] rghatvis commented on #547
In the generic RBAC realm, Power Users co-exist with Admin users with clear and pre-defined permissions. Admin is the almighty user, i.e, having total control of the system whereas a Power User is just a level below the Admin having permissions to most of the operations except the operations reserved for the Admin role. It's like the Admin user is the Pilot and the Power User is the co-pilot - sec

[2017-09-13 15:31] julienlim commented on #591
@shtripat My setup is using vagrant with 3 nodes. 1 node = tendrl server, 2 nodes = gluster nodes.  On the gluster nodes (2 node cluster), I've 2 volumes: vol0 and vol1.

Here's information about the volume:

[root@tnode1 ~]# gluster volume info

Volume Name: vol0
Type: Distribute
Volume ID: 021800ea-d00b-4805-9144-5c0f71e69dab
Status: Started
Snapshot Count: 0
Number of Bricks: 2
Transport-type:

[2017-09-13 19:05] a2batic opened #601 "Styling bugs for HTML/CSS"
1. Tooltip for Host Detail page
2. Current User's Name in header
3. Non-uniform input tags
4. State of form is not clear when data sending/fetch is in progress
5. 'Host Detail' button on Host list page

[2017-09-13 19:06] a2batic opened #602 "User Setting dialog box not handling API errors"

[2017-09-14 05:47] cloudbehl opened #603 "Import button disable when import is in progress"

[2017-09-14 06:48] #602 closed, assigned to nobody

[2017-09-14 06:48] #601 closed, assigned to nobody

[2017-09-14 06:49] #581 closed, assigned to nobody

[2017-09-14 06:49] #580 closed, assigned to nobody

[2017-09-14 06:50] #575 closed, assigned to nobody

[2017-09-14 06:50] #571 closed, assigned to nobody

[2017-09-14 06:51] #567 closed, assigned to nobody

[2017-09-14 06:51] #570 closed, assigned to nobody

[2017-09-14 06:52] #541 closed, assigned to gnehapk

[2017-09-14 06:53] gnehapk commented on #603
Duplicate of https://github.com/Tendrl/ui/issues/531

[2017-09-14 09:01] gnehapk commented on #589
@julienlim @mcarrano Clicking cancel button takes user to cluster list page. So I feel, renaming "Cancel" to "Close" will be more clear to user. Any suggestions?

[2017-09-14 09:08] gnehapk commented on #560
@ltrilety Only 'Name" field is displayed on add user form in order to make it consistent with API.

[2017-09-14 09:12] a2batic commented on #553
PR: #576

[2017-09-14 11:26] #530 closed, assigned to a2batic

[2017-09-14 11:26] #508 closed, assigned to nobody

[2017-09-14 11:27] #603 closed, assigned to nobody

[2017-09-14 14:04] a2batic opened #607 "Volume profiling is not updating as soon as clicking button"

[2017-09-14 19:46] julienlim commented on #589
@gnehapk I don't believe we'll need a "Close" button as we're not in a dialog, but in a page.  I think what you're asking is how do take the user back to the Clusters List view/page without using the breadcrumb or context switcher.  It's almost like a "Return to Clusters" type of action button you're hinting at.

@mcarrano Any suggestions on how best to label such a button?

[2017-09-14 20:26] mcarrano commented on #589
I agree with @julienlim that having a Close button on a page that is not modal is non-standard. But I do see the problem now as I look at the wireframes. Since we removed the left navigation in the All Clusters view, there is not really a way to navigate back except for the breadcrumb. I think labeling the button simply as "Return" will work. So the two buttons are "View Task Details" and "Return"

[2017-09-15 05:04] mkudlej commented on #560
@gnehapk But UI implementation was based on [design document for users ](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738633). I don't see any note in this design document that only one name will be supported. Could you please change design document or implement UI and API according it?

[2017-09-15 09:01] mbukatov opened #610 "There is "Launch Dashboard" link for hosts in Hosts page when cluster is not yet imported"
## Description

There is "Launch Dashboard" link for hosts in Hosts page when cluster is not yet imported, which is not expected behavior, as verified by @julienlim:

## Version

Latest snapshot build from master branch (if not fixed, it will be part of [upcoming 1.5.2 version](https://github.com/Tendrl/specifications/milestone/1)):

[code]

## Steps to Reproduce

1. Prepare machines with GlusterF

[2017-09-15 10:23] a2batic opened #612 "UI does not handle 500 API error"

[2017-09-15 10:25] a2batic opened #613 "API calls after user logout is not required"

[2017-09-15 11:23] a2batic opened #614 "Changing polling interval of data"

[2017-09-15 11:25] #607 closed, assigned to nobody

[2017-09-15 11:25] #612 closed, assigned to nobody

[2017-09-15 11:46] #614 closed, assigned to nobody

[2017-09-15 16:52] cloudbehl opened #616 "Bug fixes - if the global details and volume name are not available"
- If the global details are not available to mark the status as "NA"
- if type of volume is not available then pass
- if volume name is not available then replace it with volume id in bread crums.

[2017-09-16 05:32] cybernth commented on #616
closing the as it is fixed

[2017-09-16 05:32] #616 closed, assigned to nobody

[2017-09-16 05:33] cybernth commented on #593
This issue fixed.

[2017-09-16 05:33] #593 closed, assigned to nobody

[2017-09-16 05:35] cybernth commented on #584
This issue is fixed

[2017-09-16 05:35] #584 closed, assigned to nobody

[2017-09-16 05:38] cybernth commented on #562
This issue is fixed

[2017-09-16 05:38] #562 closed, assigned to nobody

[2017-09-16 05:41] cybernth commented on #563
This issue is fixed

[2017-09-16 05:41] #563 closed, assigned to nobody

[2017-09-16 05:43] cybernth commented on #559
UI is inline with https://github.com/Tendrl/ui/issues/559#issuecomment-327440330
closing the issue

[2017-09-16 05:43] #559 closed, assigned to nobody

[2017-09-16 05:47] cybernth commented on #560
This is inline with what is discussed in https://github.com/Tendrl/ui/issues/559
closing the issue.

[2017-09-16 05:47] #560 closed, assigned to nobody

[2017-09-16 05:50] cybernth commented on #554
Last name itself is removed from the UI. So this bug is not applicable at the moment. Closing the issue

[2017-09-16 05:50] #554 closed, assigned to nobody

[2017-09-16 06:01] cybernth commented on #553
Read-only user still not able to change his settings, @a2batic

[2017-09-16 06:05] cybernth commented on #552
This issue is fixed

[2017-09-16 06:05] #552 closed, assigned to nobody

[2017-09-16 06:10] cybernth commented on #545
@gnehapk user id on the filter should be chnaged `User ID'
Please make this change

[2017-09-16 06:14] cybernth commented on #500
Closing the issue

[2017-09-16 06:14] #500 closed, assigned to gnehapk, cloudbehl, a2batic

[2017-09-16 06:17] cybernth commented on #513
@gnehapk , @gnehapk , What is the plan on this? are we getting this data from the APIs.
@brainfunked , Since this is not done yet,I prefer move this out to an upcoming milestone after this immediate release.

[2017-09-16 06:19] cybernth commented on #528
Closing the issue as it is already fixed

[2017-09-16 06:19] #528 closed, assigned to nobody

[2017-09-16 08:15] cybernth commented on #548
@julienlim , please verify this issue

[2017-09-16 08:17] cybernth commented on #531
This issue is fixed.

[2017-09-16 08:17] #531 closed, assigned to nobody

[2017-09-16 08:23] cybernth commented on #537
@gnehapk , is this a firefox specific issue?
@fbalak , Can you verify whether this issue is fixed?

[2017-09-16 08:51] cybernth commented on #550
@julienlim, @gnehapk , support for notification on job status changes are added. It will not be specific to any job, but generic notifications with job-id.

@gnehapk , you can close this issue if the typo is fixed

[2017-09-16 08:52] cybernth commented on #577
This issue is fixed

[2017-09-16 08:52] #577 closed, assigned to gnehapk

[2017-09-16 08:57] cybernth commented on #591
@julienlim Please test this against released build and let us know.
Please not that there a known issue(not fixed yet) -->https://github.com/Tendrl/gluster-integration/issues/418

[2017-09-16 12:43] cybernth opened #618 "Grafana dashboard launch from global host list fails"

[2017-09-18 06:13] gnehapk commented on #578
@GowthamShanmugam Please close this issue, if it is solved.

[2017-09-18 06:13] gnehapk commented on #550
@julienlim @nthomas-redhat typo is fixed.  Hence, closing this issue.

[2017-09-18 06:13] #550 closed, assigned to nobody

[2017-09-18 06:16] gnehapk commented on #546
@julienlim Please verify this issue.

[2017-09-18 06:25] gnehapk commented on #539
@fbalak Please verify this issue.

[2017-09-18 06:30] GowthamShanmugam commented on #578
@nthomas-redhat @gnehapk we can close this issue it is fixed now, now alert page have all necessary information and alerts are also displayed in notifications panel also.

[2017-09-18 06:38] gnehapk commented on #537
@nthomas-redhat its fixed for both  browsers - chrome and firefox.

[2017-09-18 07:09] gnehapk commented on #579
@julienlim Please verify this issue.

[2017-09-18 07:11] mkudlej commented on #554
@nthomas-redhat I still see last name in design document https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738633 Could you please add there comment?

[2017-09-18 07:12] mkudlej commented on #559
@nthomas-redhat I still see last name in design document https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738633 Could you please add there comment?

[2017-09-18 07:50] cloudbehl commented on #618
link: https://github.com/Tendrl/api/issues/288

[2017-09-18 09:11] mbukatov commented on #610
This issue has been discussed during *Daily meeting of developers of Tendrl* on 2017-09-18: api may need to provide additional information for ui to check if hosts is part of imported cluster, @r0h4n and @gnehapk know the details.

[2017-09-18 11:37] gnehapk commented on #534
@brainfunked Its implemented now. Hence, closing this issue.

[2017-09-18 11:37] #534 closed, assigned to nobody

[2017-09-18 11:57] a2batic commented on #613
This issue is not reproducible.

[2017-09-18 11:57] #613 closed, assigned to nobody

[2017-09-18 15:44] mbukatov opened #620 "No indication that messages of a task are loaded on task details page"
## Description

There is no indication that messages of a task are loaded on task details page.

## Version

Latest snapshot build from master branch (part of [upcoming 1.5.2 version](https://github.com/Tendrl/specifications/milestone/1)):

[code]

Other related packages:

[code]

## Steps to Reproduce

1. Prepare machines with GlusterFS cluster, including gluster volume (I used [nightly builds](h

[2017-09-18 20:03] julienlim opened #621 "Grafana dashboard launch from cluster list fails"
Using the latest Milestone3 build, when I launch the dashboard from the Cluster list, I get a Dashboard not found.  Further looking in Grafana reveals that no cluster dashboard exists.

![screen shot 2017-09-18 at 4 01 53 pm](https://user-images.githubusercontent.com/5589919/30561951-d8477460-9c8a-11e7-98ab-3c4fc4fc11b4.png)

![screen shot 2017-09-18 at 4 02 39 pm](https://user-images.githubuserco

[2017-09-18 20:05] julienlim opened #622 "Cluster ID in Host List does not match the Cluster ID in the Cluster List or context switcher and text formatting inconsistent"
The Cluster ID in Host List does not match the Cluster ID in the Cluster List or context switcher even though there is only 1 (same) cluster:

![screen shot 2017-09-18 at 4 04 00 pm](https://user-images.githubusercontent.com/5589919/30562031-21301ba0-9c8b-11e7-92a9-6f8728c856b8.png)

![screen shot 2017-09-18 at 4 04 09 pm](https://user-images.githubusercontent.com/5589919/30562037-22b9455a-9c8b-11

[2017-09-18 20:10] julienlim opened #623 "Grafana dashboards fail to launch from Tendrl UI"
None of the dashboards (cluster, host, volume, brick) launch to a dashboard that is working in Grafana.

![screen shot 2017-09-18 at 4 07 22 pm](https://user-images.githubusercontent.com/5589919/30562184-8f5cedf6-9c8b-11e7-90a9-7f63657c391e.png)

In fact, they all seem to  point to Not Found in Grafana.  Also, all the canned dashboards (host, volume, bricks... cluster one is missing) in Grafana do

[2017-09-18 20:19] julienlim commented on #546
Verified.
![screen shot 2017-09-18 at 4 19 07 pm](https://user-images.githubusercontent.com/5589919/30562628-1d6ed374-9c8d-11e7-8ef2-3733273228a1.png)

[2017-09-18 20:19] #546 closed, assigned to nobody

[2017-09-18 20:21] julienlim commented on #591
@nthomas-redhat With the latest Milestone3 build (1.5.2), I can see the volume in the Tendrl UI but not any of the dashboards including the volume dashboard.

[2017-09-19 05:40] cloudbehl commented on #621
@rishubhjain please have a look.

[2017-09-19 05:42] cybernth commented on #623
@julienlim , DId you start the tendrl-monitoring-integration successfully?
Cluster imported successfully?
I would like to have a look at your setup.Seems to me that the whole thing is not setup properly. I will have a look and let you know.

[2017-09-19 05:43] cybernth commented on #623
One more question- Are you able to launch the dashboards directly http://<IP>:3000 ?

[2017-09-19 05:59] rishubhjain commented on #621
@cloudbehl ack

[2017-09-19 06:05] cybernth commented on #621
@julienlim Looks like a duplicate of https://github.com/Tendrl/ui/issues/623. Or is it different?

[2017-09-19 06:10] gnehapk commented on #513
@nthomas-redhat We are not getting this data from the APIs as of now.

[2017-09-19 06:11] cybernth commented on #532
"Tendrl Host" is bit confusing.
Since every one is okay with  "Tendrl Server", let us go ahead with that. @gnehapk

[2017-09-19 06:33] r0h4n commented on #513
@gnehapk Taking this up with @anivargi would be the right way ahead, not sure how @nthomas-redhat can help with the API

[2017-09-19 06:54] rishubhjain commented on #621
@julienlim Have you signed into grafana using grafana admin id and password?

[2017-09-19 07:54] mbukatov commented on #620
I have a screen recording of the issue, ping me for access if needed.

[2017-09-19 08:33] gnehapk commented on #622
@julienlim Its fixed in tendrl-ui-1.5.2-20170919T120332.90b043e.noarch.rpm. Please verify.

[2017-09-19 08:34] gnehapk commented on #618
@nthomas-redhat  Its fixed in tendrl-ui-1.5.2-20170919T120332.90b043e.noarch.rpm. Please verify.

[2017-09-19 08:37] gnehapk commented on #610
@mbukatov  Its fixed in tendrl-ui-1.5.2-20170919T120332.90b043e.noarch.rpm. Please verify.

[2017-09-19 08:50] gnehapk commented on #532
@julienlim @nthomas-redhat  Its fixed in tendrl-ui-1.5.2-20170919T120332.90b043e.noarch.rpm. Please verify.

[2017-09-19 08:54] anmolbabu commented on #623
I would also like to know the
1. o/p of service collectd status -l on all nodes
2. /var/log/messages
If no errors in 1 and 2 and collectd is down,
3. Contents of every file in /etc/collectd.d/

[2017-09-19 08:58] mbukatov commented on #623
AI for @mbukatov: review this on cluster set up with tendrl-ansible and post updates (as discussed on *Daily meeting of developers of Tendrl*).

[2017-09-19 09:03] rishubhjain commented on #623
@julienlim Have you signed into grafana using grafana admin id and password?

[2017-09-19 11:37] julienlim commented on #621
@rishubhjain I did log into grafana with admin user id.  When we tried on another deployment without the admin user id, we saw the same results.

[2017-09-19 11:41] rishubhjain commented on #621
@julienlim if possible can you logout from grafana and relaunch dashboard from cluster list?
Or if possible can you provide me instance details?, I would like to debug the issue.

[2017-09-19 12:11] mbukatov opened #625 "Grafana dashbards for hosts are incorrectly linked from Tendrl Hosts list"
## Description

Grafana dashbards for hosts are incorrectly linked from Tendrl Hosts list page, the machine is referenced, but the cluster id is not, which makes the link to point into an empty dashboard.

## Version

Latest snapshot build from master branch (part of [upcoming 1.5.2 version](https://github.com/Tendrl/specifications/milestone/1)):

[code]

## Steps to Reproduce

1. Prepare machines

[2017-09-19 12:14] mbukatov commented on #623
@julienlim I have installed Tendrl from snapshot builds (master branch) using tendrl-ansible (work in progress branch issue_34) and I don't see grafana dashboard broken as much as shown in this issue, that said, I noticed another issue related to linking: https://github.com/Tendrl/ui/issues/625

[2017-09-19 13:18] mbukatov commented on #625
Closing as fixed and duplicate:

The issue is fixed in `tendrl-ui-1.5.2-20170919T122610.d9370be.noarch`. I didn't noticed that ui package was just updated and so I haven't restarted the browser (and an old version remained in the cache there).

Moreover this issue is a duplicate (pointed out by @nthomas-redhat ) of https://github.com/Tendrl/ui/issues/618. I did't noticed that because the descripti

[2017-09-19 13:18] #625 closed, assigned to nobody

[2017-09-19 13:21] mbukatov commented on #618
This issue seems to be fixed in `tendrl-ui-1.5.2-20170919T122610.d9370be`

[2017-09-19 16:59] julienlim opened #627 "Inconsistent behavior in how we see object details"
(1) For a task, we click on the Task name (hyperlink text in blue per PatternFly), and see task (object) details in another page.  This is as expected and per design.

![screen shot 2017-09-18 at 4 19 07 pm](https://user-images.githubusercontent.com/5589919/30606230-fab4a770-9d3e-11e7-959b-c2b64d59aec0.png)

(2) For a cluster, the cluster name is in blue (for hyperlinking) but is not clickable to

[2017-09-19 18:26] julienlim commented on #623
@nthomas-redhat

(1) tendrl-monitoring-integration did start successfully and is running.

root     25305     1 11 18:38 ?        00:15:41 /usr/bin/python /usr/bin/tendrl-monitoring-integration

(2) Cluster did import successfully

(3) I can launch http://172.28.128.4:3000/ with no problem, but the problem is that I don’t get the dashboards as expected.  I get something else (see screenshots attac

[2017-09-19 18:26] julienlim commented on #623
@anmolbabu

(1) “collectd status -l” does not appear to be valid but I ran the following instead:

[root@node1 gluster-integration]# collectd
plugin_load: plugin "python" successfully loaded.
plugin_load: plugin "exec" successfully loaded.
plugin_load: plugin "threshold" successfully loaded.
plugin_load: plugin "unixsock" successfully loaded.
plugin_load: plugin "aggregation" successfully loaded.

[2017-09-19 18:26] julienlim commented on #623
@rishubhjain

Yes I did sign into grafana as admin

[2017-09-19 18:59] julienlim opened #628 "Admin area should be launched from the utilities in the top right (and not the left navigation bar)"
User management (Admin) area should be launched from the top right utilities area.  See https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738612.

![screen shot 2017-09-19 at 2 57 40 pm](https://user-images.githubusercontent.com/5589919/30610052-14e9f97c-9d4b-11e7-812e-b2c156b8b0cd.png)

Design:

![screen shot 2017-09-19 at 2 59 16 pm](https://user-images.githubusercontent.com/5589919/306

[2017-09-19 20:35] mcarrano opened #629 "UI Issues with Notification Drawer"
There are two minor issues with the implementation of the Tendrl notification drawer:

1) The caret to the left of the heading "Notifications" does nothing when clicked. If there is only one panel for notifications as per the current design, this control is unnecessary and should be removed as there is no need to expand of collapse the list.

The notifications drawer is missing a close ("X") butto

[2017-09-19 20:53] mcarrano opened #630 "Task Details: Scroll Events so most recent are always in view"
In the Task Details screen. most recent events are added to the bottom of the Events list, however the list is always shown starting from the top so important messaging is easily missed unless the user manually scrolls.  In the example below, you can see that the task failed, but failure events/messages are not visible.

![screen shot 2017-09-19 at 4 47 55 pm](https://user-images.githubusercontent

[2017-09-19 21:00] mcarrano opened #631 "Align Save and Cancel buttons with left edge of input fields on all forms"
The Save and Cancel buttons on full page forms should be aligned with the left edge of input fields. They are currently left aligned to the left margin of the container. See [Buttons on Forms](http://www.patternfly.org/pattern-library/forms-and-controls/buttons-on-forms/) guidelines in PatternFly for more info.

![screen shot 2017-09-19 at 4 56 54 pm](https://user-images.githubusercontent.com/6619

[2017-09-20 04:05] gnehapk commented on #629
@mcarrano Caret icon on left hides the list of notification list when notifications are present. We have followed the mockup provided at https://redhat.invisionapp.com/share/8N93NO7Q4#/screens/200318251.
Will update the UI as per your suggestions. Thanks.

[2017-09-20 04:35] cybernth commented on #623
@julienlim, Since @mbukatov and the devs are able to bring up the setup, I don't see this as an issue. I think this is happening because the environment is not setup appropriately. Please use tendrl-ansible(when available) for installation and update here.

[2017-09-20 04:36] cybernth commented on #621
As I mentioned at https://github.com/Tendrl/ui/issues/621#issuecomment-330438661 this is a duplicate of https://github.com/Tendrl/ui/issues/623 . I am closing this issue. please re-open if you think otherwise.

[2017-09-20 04:36] #621 closed, assigned to rishubhjain, cloudbehl

[2017-09-20 04:58] gnehapk commented on #627
@julienlim As import and launch dashboard actions are triggered by buttons, so to make the behavior consistent across all the pages, we decided to go ahead with buttons only instead of clicking some tasks by link and some by buttons.
Will add buttons on task list page too and remove the color from the names of all the objects.

[2017-09-20 08:46] #618 closed, assigned to cloudbehl

[2017-09-20 08:58] a2batic commented on #620
@mbukatov Its fixed in tendrl-ui-1.5.2-20170920T073234.f7b6ad2.noarch.rpm. Please verify.

[2017-09-20 08:59] a2batic commented on #630
@mcarrano  Its fixed in tendrl-ui-1.5.2-20170920T073234.f7b6ad2.noarch.rpm. Please verify. The event list now is sorted according to date, so that the most recent events come on the top.

[2017-09-20 13:32] r0h4n opened #632 "Switch license to LGPL 2.1"
Didnt realize we were using the Apache license.

[2017-09-20 13:34] #632 closed, assigned to r0h4n

[2017-09-20 16:09] mcarrano commented on #629
@gnehapk The mockup you reference is for the original console design where both tasks and alerts were to be shown in the drawer, so the panels could work like an accordion to shown one at a time. If we will only show alerts, this toggle is not needed. This link shows a more recent mockup https://redhat.invisionapp.com/share/8QCOEVEY9#/244738613_Alerts_Drawer  But I see that it is still missing the

[2017-09-20 16:13] a2batic commented on #629
@mcarrano, Thanks for adding the link. Will remove the toggle icon and add a close icon button for the notification drawer

[2017-09-20 16:52] julienlim commented on #627
@mcarrano FYI.

[2017-09-20 20:44] mbukatov commented on #620
@a2batic I enabled etcd auth and retried with `tendrl-ui-1.5.2-20170920T143459.2bcbd93.noarch` and the spinner is shown as expected.

[2017-09-20 20:44] #620 closed, assigned to a2batic

[2017-09-21 01:19] a2batic commented on #553
@mkudlej, This has been fixed in latest builds. Please verify.

[2017-09-21 08:29] cybernth commented on #591
@julienlim , I am closing this issue. There are already issues filed by you to track the issue mentioned at https://github.com/Tendrl/ui/issues/591#issuecomment-330344453

[2017-09-21 08:29] #591 closed, assigned to nobody

[2017-09-21 12:46] a2batic opened #635 "Build failing due to license issue"

[2017-09-22 05:21] #635 closed, assigned to nobody

[2017-09-22 06:00] gnehapk commented on #631
@mcarrano Fixed with tendrl-ui-1.5.2-20170921T165116.b85723e.noarch.rpm. Please verify.

[2017-09-22 06:00] gnehapk commented on #627
@mcarrano @julienlim Fixed with tendrl-ui-1.5.2-20170921T165116.b85723e.noarch.rpm. Please verify.

[2017-09-22 06:01] gnehapk commented on #590
@julienlim  Fixed with tendrl-ui-1.5.2-20170921T165116.b85723e.noarch.rpm. Please verify.

[2017-09-22 06:03] gnehapk commented on #578
@julienlim Fixed in tendrl-ui-1.5.2-20170921T165116.b85723e.noarch.rpm. Please verify  and close the issue if its solved.

[2017-09-22 06:14] gnehapk commented on #629
@mcarrano Fixed with tendrl-ui-1.5.2-20170921T165116.b85723e.noarch.rpm. Please verify.

[2017-09-22 09:09] cloudbehl opened #636 "Spell Checker on the UI repo."

[2017-09-22 14:31] fbalak commented on #539
Seems ok.
Tested with:
tendrl-api-httpd-1.5.2-1.el7.centos.noarch
tendrl-commons-1.5.2-1.el7.centos.noarch
tendrl-api-1.5.2-1.el7.centos.noarch
tendrl-ui-1.5.2-1.el7.centos.noarch
tendrl-node-agent-1.5.2-1.el7.centos.noarch
tendrl-monitoring-integration-1.5.2-1.el7.centos.noarch
tendrl-grafana-plugins-1.5.2-1.el7.centos.noarch
tendrl-notifier-1.5.2-1.el7.centos.noarch
Chromium 59.0.3071.104 64bit

[2017-09-22 14:31] #539 closed, assigned to cloudbehl

[2017-09-22 14:32] fbalak commented on #537
Seems ok.

Tested with:
tendrl-api-httpd-1.5.2-1.el7.centos.noarch
tendrl-commons-1.5.2-1.el7.centos.noarch
tendrl-api-1.5.2-1.el7.centos.noarch
tendrl-ui-1.5.2-1.el7.centos.noarch
tendrl-node-agent-1.5.2-1.el7.centos.noarch
tendrl-monitoring-integration-1.5.2-1.el7.centos.noarch
tendrl-grafana-plugins-1.5.2-1.el7.centos.noarch
tendrl-notifier-1.5.2-1.el7.centos.noarch
Chromium 59.0.3071.104 64bit

[2017-09-22 14:32] #537 closed, assigned to nobody

[2017-09-25 07:04] gnehapk opened #637 "Fix responsiveness fro brick details page"
Needs to fix the responsiveness of brick details page below 1024px screen width.

[2017-09-25 08:56] cloudbehl opened #638 "Filter controls don’t seem to match PatternFly Filter control"
Filter controls don’t seem to match PatternFly Filter control (https://www.patternfly.org/pattern-library/forms-and-controls/filter/#/overview)

[2017-09-25 16:27] mbukatov opened #640 "Problem with responsiveness for Hosts list in Clusters page"
## Description

There is a responsiveness problem for *Hosts list* tab of cluster item in Clusters page. When the screen is too narrow, host names are either one character long or disappear completely.

## Version

Recent snapshot build from master branch:

[code]

I'm using `firefox-55.0.3-1.fc26.x86_64`

## Steps to Reproduce

1. Prepare machines with GlusterFS cluster, including gluster volume

[2017-09-26 05:28] gnehapk commented on #640
@mbukatov Fixed with tendrl-ui-1.5.2-20170925T180704.770936f.noarch.rpm. Please verify.

[2017-09-26 05:29] gnehapk commented on #566
@julienlim  Fixed with tendrl-ui-1.5.2-20170925T180704.770936f.noarch.rpm. Please verify.

[2017-09-26 05:29] gnehapk commented on #536
@mkudlej  Fixed with tendrl-ui-1.5.2-20170925T180704.770936f.noarch.rpm. Please verify.

[2017-09-26 07:25] mbukatov commented on #610
Verifying with `tendrl-ui-1.5.2-20170925T180704.770936f.noarch` and it works, Launch Dashboard buttons for hosts of not imported cluster are grey out and it's not possible to click on them

![screenshot_20170926_092546](https://user-images.githubusercontent.com/4759819/30847726-d52bfffe-a29c-11e7-8de8-9ec790cb1338.png)

[2017-09-26 07:25] #610 closed, assigned to gnehapk

[2017-09-26 07:46] mbukatov commented on #640
Verifying with `tendrl-ui-1.5.2-20170925T180704.770936f.noarch` and the problem seems fixed, in a narrow window, the name of the machines is visible relative to the available space:

![screenshot_20170926_094103](https://user-images.githubusercontent.com/4759819/30848447-79ace1f4-a29f-11e7-9ac8-0ad4bd03e20a.png)

[2017-09-26 07:46] #640 closed, assigned to gnehapk

[2017-09-26 08:52] gnehapk commented on #529
@julienlim Its fixed now. Please verify.

[2017-09-26 09:29] cloudbehl commented on #638
A filter is not readily available in a patternfly new build. So we need to update the patternfly packages in order to make the filter work and the UI needs to be tested very well with the new version.

"angular-patternfly": "~4.11.0",
"patternfly": "~3.27.5",

We tried updating the version, few functionalities were hampered eg. bootstrap datepicker(removed in new version). So, it will be good idea

[2017-09-26 15:27] fbalak opened #641 "Network row in Hosts dashboard differs from design"
In specification for [Hosts dashboard](https://github.com/Tendrl/specifications/issues/223) are defined panels:

but panels in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui differ:

![926_networkpanel](https://user-images.githubusercontent.com/22369801/30868686-a0c6dcf0-a2df-11e7-8e2b-0f5c0da3ac80.png)

Present panels are:

- Throughput
- D

[2017-09-26 15:31] fbalak commented on #641
I will reopen it in monitoring-integration repo.

[2017-09-26 15:31] #641 closed, assigned to nobody

[2017-09-27 12:15] a2batic commented on #535
@mkudlej, the issue has been fixed in tendrl-ui-1.5.2-20170927T130140.6bb4ee5.noarch.rpm, please verify.

[2017-09-27 15:16] mkudlej commented on #536
I don't see this issue with
[code]

[2017-09-27 15:16] #536 closed, assigned to nobody

[2017-09-27 18:00] mbukatov commented on #544
This happened to me as well, tendrl received no special treatment from my side to reproduce it, it just happened while I was working on something else.

![screenshot_20170927_195624](https://user-images.githubusercontent.com/4759819/30929248-39e32fd6-a3be-11e7-930b-fcbf7724c976.png)

[code]

[code]

[2017-09-28 14:06] julienlim opened #644 "[UX] Confusing navigation in the UI produces unexpected results"
With the context-switcher at the top, select a single cluster or all clusters does not affect what is shown in the list views, which will lead to user confusion as UI is producing unexpected results.

Specifically, if a single cluster is selected (in the context switcher), the user would expect to only see the hosts for the single cluster in the Host List, vs. all the hosts from multiple clusters.

[2017-09-28 14:32] julienlim commented on #529
Confirming fix.

<img width="1280" alt="screen shot 2017-09-28 at 10 32 13 am" src="https://user-images.githubusercontent.com/5589919/30972376-61922d8c-a438-11e7-894e-034a91d4d7f9.png">

[2017-09-28 18:17] julienlim opened #645 "Task details button is truncated in Chrome, but not Firefox"
Task details button is truncated in Chrome, but not Firefox

Chrome:
<img width="1156" alt="screen shot 2017-09-28 at 2 15 11 pm" src="https://user-images.githubusercontent.com/5589919/30983198-b4c5be32-a457-11e7-9a95-25764bdccd37.png">

Firefox:
<img width="1280" alt="screen shot 2017-09-28 at 2 15 27 pm" src="https://user-images.githubusercontent.com/5589919/30983214-bba0641e-a457-11e7-9307-c5de

[2017-09-28 18:20] julienlim opened #646 ""Launch Dashboard" words outside of button widget"
Something wierd is happening in Chrome where the "Launch Dashboard" words don't seem to be contained in the button.  It is fine in Firefox.

<img width="1117" alt="screen shot 2017-09-28 at 2 14 07 pm" src="https://user-images.githubusercontent.com/5589919/30983314-10c06142-a458-11e7-87c9-2735467f0c05.png">

@gnehapk @a2batic @Tendrl/tendrl-frontend @Tendrl/tendrl-qe @mcarrano

[2017-09-28 18:24] julienlim opened #647 "Import cluster: checkbox text typos, checkbox text, infotip and checkbox not aligned"
There's typos in the "Enable Volume Profiling." which should be "Enable volume profiling"

The text and checkbox and infotip icon are not aligned and all seem to have a slightly different offset.

This can be seen using both Chrome and Firefox.

Design can be found at: https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/247445416.

<img width="1280" alt="screen shot 2017-09-28 at 2 13 33 pm" s

[2017-09-28 18:33] mcarrano commented on #645
I have seen a similar effect on the Cluster Detail pages.

![screen shot 2017-09-28 at 2 28 06 pm](https://user-images.githubusercontent.com/6619860/30983813-813f1f16-a459-11e7-9920-7820ac1cb311.png)

In general, it's not a great idea to truncate button labels unless absolutely necessary.  Seems like there is adequate white space in the list entry to fit the buttons without truncating.  It we are

[2017-09-29 03:47] gnehapk commented on #645
@mcarrano @julienlim Button label gets truncated if it doesn't have space enough to fit and the labels are visible on hover. On "100%" zoom, the button labels are visible properly. Attaching screenshot for the same.

![screenshot from 2017-09-29 09-12-51](https://user-images.githubusercontent.com/5517376/31000025-72343be4-a4f6-11e7-92aa-f10628aabc5d.png)

So, when the page is getting zoomed in or

[2017-09-29 06:26] gnehapk commented on #644
@julienlim Can you please tell me how the global host, task and alert list views will be accessible as per Concept B UX design as I don't see any menu or option to access it.

[2017-09-29 07:47] gnehapk commented on #646
@julienlim I am not able to reproduce this issue. Tried with both zooming out and zooming  in the view. Attaching the screenshot for the same.

![screenshot from 2017-09-29 08-57-16](https://user-images.githubusercontent.com/5517376/30999774-b5bc0b96-a4f4-11e7-9d6f-988cac2fd1dd.png).

Can you please check on RHEL/centos machine and confirm as mac OS sometimes overwrite or don't support few styles.

[2017-09-29 07:49] gnehapk commented on #647
@julienlim Not producible on my machine for both chrome and firefox browsers.

Can you please check on RHEL/centos machine and confirm as mac OS sometimes overwrite or don't support few styles. For eg - https://stackoverflow.com/questions/28974069/css-dropdown-option-text-color-not-working-on-mac-os-x

[2017-09-29 14:11] julienlim commented on #644
@gnehapk To my knowledge, based on the revised MVP, we were building something that was giving an "element-centric" view of each storage subsystem and optimizing for their experience, and were moving away from providing aggregate/global views in the Tendrl UI.  As there was no longer the requirement to be unified management across multiple storage subsystems, there was no longer a requirement for

[2017-09-29 20:25] mcarrano opened #649 "Grafana dashboard panels missing light gray background fill"
In Tendrl build, Grafana dashboard panels have a white background fill against the white page background. This makes it difficult to perceive card boundaries that provide structure to the page.

![screen shot 2017-09-29 at 4 17 16 pm](https://user-images.githubusercontent.com/6619860/31034508-697397de-a532-11e7-8d57-92014a80f59e.png)

Recommend a light gray panel background to better define the ar

[2017-10-02 19:14] julienlim commented on #629
@gnehapk Is it possible to make the Notification drawer wider so the messages don't truncate?  See below.  Since the messages are not clickable to see a tooltip or details, widening might help since there's no way to tell what the alert is at the moment and on which node or device the alert occurred on.

![screen shot 2017-10-02 at 2 37 22 pm](https://user-images.githubusercontent.com/5589919/3109

[2017-10-02 19:46] julienlim commented on #647
The checkbox is too low there is a vertical-align:sub applied.  Please fix.

@gnehapk @Tendrl/tendrl-qe

[2017-10-02 19:49] julienlim commented on #649
@cloudbehl This needs to be filed in the monitoring-integration repo, can you please address?
@mcarrano @Tendrl/tendrl-qe

[2017-10-02 19:59] julienlim commented on #646
@gnehapk This has to do with putting a fix width on the buttons -- please remove specifying fix width on the buttons.

in .tendrl-cluster-list-view-container.list-group .list-group-item .list-view-pf-actions .btn-default {
width: 124px; } in main.css - a fixed width should not be set

see attached screenshot, by unchecking it, it removed the truncation issue and allowed text in buttons to be visib

[2017-10-03 07:00] fbalak opened #650 "Clusters List differs from design"
Implemented `Clusters` site differs from [the design](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738628).

- [ ] There is missing `?` icon indicating not imported status next to not imported cluster.
- [ ] There is a `Volume Profile` field.
- [ ] The row is clickable (list of hosts appears after click under the cluster row).

![102_clusters](https://user-images.githubusercontent.co

[2017-10-03 13:26] julienlim opened #651 "[UX] Change / shorten button labels in the various views in Tendrl UI"
Change / shorten button labels in the various views in Tendrl UI for improved usability:

- “Import Cluster” → “Import”
- “Launch Dashboard” → “Dashboard”
- “Cluster Details” → “Details”
- "Host Details" → “Details”
- "Volume Details" → “Details”
- "Task Details"  → “Details”

Note: This may also help with labels getting truncated.

@gnehapk @a2batic @mcarrano @Tendrl/tendrl-frontend @Tendrl/tendr

[2017-10-03 13:32] julienlim opened #652 "Cluster Version - column label and displayed value inconsistency in different views"
The "Cluster Version" column is displayed inconsistently in different places in the UI.

In the Cluster List, it shows:
Cluster Version
4.0dev

In the Import Cluster page, it shows:
Version
gluster 4.0dev

They should both be consistent.  I'd suggest in both views:
Cluster Version
gluster 4.0dev

Cluster List screenshot:
![screen shot 2017-10-02 at 11 51 46 am](https://user-images.githubuserconten

[2017-10-03 13:35] julienlim opened #653 "Cluster List: Move “Ready to import” column after Volume Profile column"
Cluster List: Move “Ready to import” column after Volume Profile column
![screen shot 2017-10-02 at 11 42 50 am](https://user-images.githubusercontent.com/5589919/31127906-325c3f96-a81e-11e7-8f6f-83b0fe96de2c.png)

@gnehapk @a2batic @Tendrl/tendrl-frontend @mcarrano @Tendrl/tendrl-qe

[2017-10-03 13:41] julienlim opened #654 "Cluster List: Volume Profile -> Volume Profiling label change"
Change “Volume Profile” label to “Volume Profiling” as it's about volume profiling and not volume profile (plus it'll be consistent with how it's referred to in Gluster docs).

![screen shot 2017-10-02 at 11 42 50 am](https://user-images.githubusercontent.com/5589919/31128108-d3c7d6a6-a81e-11e7-9ad0-e1fa43b3ead2.png)

@gnehapk @a2batic @Tendrl/tendrl-qe @mcarrano @nthomas-redhat

[2017-10-03 13:58] julienlim opened #655 "Action buttons too far apart or too close"
Distance the action buttons -- Import and Cancel -- are too far apart. Please update and follow [PatternFly Button on Forms examples](http://www.patternfly.org/pattern-library/forms-and-controls/buttons-on-forms/).

I believe it's roughly about 10px apart.

![screen shot 2017-10-02 at 11 43 44 am](https://user-images.githubusercontent.com/5589919/31129001-5e297244-a821-11e7-8b7c-cbe2e85b8b67.png)

[2017-10-03 14:05] julienlim opened #656 "Cluster name is incredibly long and not user-friendly"
The cluster name is incredibly long and not user-friendly.

is it possible to let user specify a user configurable cluster name during cluster import, and have this cluster name be used in both the Tendrl UI and Dashboard(s)?

@Tendrl/tendrl-frontend @brainfunked @r0h4n @nthomas-redhat @Tendrl/tendrl-qe

[2017-10-03 14:12] julienlim opened #657 "Tasks List: All filters should be selected by default"
By default, all the filters (checkboxes) should be selected to show that all tasks with all statuses selected when user clicks to look at the Tasks List.

See task list design for details: https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/251481034

![screen shot 2017-10-02 at 1 59 49 pm](https://user-images.githubusercontent.com/5589919/31129704-5bfc7b40-a823-11e7-8c77-ff837c2b6d49.png)

@g

[2017-10-03 17:57] julienlim opened #658 "Change "NA" to "None" or 0"
For views where "NA" is used, NA is too vague.  Please instead use the following:

Hosts List:
* For NA (for Cluster), change to None (if no Cluster)

Hosts List, Volumes List:
* For NA (for Alerts), change to 0 when there are no Alerts

![screen shot 2017-10-03 at 1 56 09 pm](https://user-images.githubusercontent.com/5589919/31140592-d790de12-a842-11e7-85e9-c996bbdf13c4.png)

@gnehapk @a2batic @T

[2017-10-03 18:44] julienlim opened #659 "Clusters List: Remove kebab menu and move "Disable Profiling" to appear with other buttons"
Clusters List: No need for kebab menu for single action “Disable Profiling” -- it should be a button as a peer to Cluster Details and Launch Dashboard.

![screen shot 2017-10-03 at 2 43 19 pm](https://user-images.githubusercontent.com/5589919/31142757-36f98056-a849-11e7-971c-2df3e3064d90.png)

By shortening button labels (see https://github.com/Tendrl/ui/issues/651), the buttons shown would be (fo

[2017-10-03 18:56] julienlim commented on #622
@gnehapk @Tendrl/tendrl-qe @mcarrano

Verified the match but displayed text formatting not consistent, i.e. some are half uppercase and half lowercase and some are completely in lowercase  The displayed text is not-consistent within Tendrl UI as well as then has to be consistent with how it's displayed in Grafana.

See screenshots from the context switcher, clusters list, hosts list, and grafana d

[2017-10-03 19:30] julienlim opened #660 "Utilisation --> Utilization"
Hosts > Brick Details and Cluster > Volume > Brick Details:

“Utilisation” (British-English) not consistent with Gluster American-English terminology used unless Tendrl is supporting I18N; note: must also be consistent in Grafana Dashboards

Please change to "Utilization" instead.

[2017-10-04 07:22] cloudbehl commented on #649
@julienlim Done

[2017-10-04 09:36] cloudbehl commented on #653
@julienlim We have followed the patternfly way to display the information and correspondingly we have used the same classes provided by patternfly.

http://www.patternfly.org/pattern-library/content-views/list-view/#/overview

[2017-10-04 09:56] cloudbehl opened #661 "Missing end time under “Failed” or “Completed” columns"
W.R.T : https://redhat.invisionapp.com/share/8N93NO7Q4#/screens/200318248

[2017-10-04 13:49] mbukatov commented on #658
I suggest to use zero value only when the value from backend is really reported as zero, and NA when the value is not available (so that there is nothing to report).

@julienlim Would it be ok to use `NA` for cases when the value is not available at all? I would be ok with that.

Which means that in this case, we need to figure out where the problem actually is:

* value is not reported by backed

[2017-10-04 14:08] fbalak opened #662 "Multiple cluster import jobs"
I had 1 not imported cluster. I clicked on Import cluster and was redirected to screen where I can specify Volume Profiling. (Image below)

![104_import](https://user-images.githubusercontent.com/22369801/31179350-0e004d00-a91c-11e7-9a2b-a288672ef22a.png)

When I clicked on `Import` button I was not redirected immediately so I click on the button twice more. After that I was redirected. This creat

[2017-10-04 14:25] mcarrano commented on #658
I think there are actually three conditions that should be differentiated.

* A "0" value. Agree that in this case we should display 0 as in "0 alerts".
* A null association, e.g. where a host has no associated cluster. In this case I think displaying "None" makes sense.
* There is no data available. I asked around a bit with the UXD team on this one. While we have no definite standard, I recommen

[2017-10-04 14:29] julienlim commented on #653
@cloudbehl The ask here is not that you didn't follow PatternFly way of displaying information but to move one of the columns.  Specifically moving the 2nd column (Ready to import, Ready to use) to the end.  So user sees the text, and right away sees the action to perform related to the text.

[2017-10-04 14:36] julienlim opened #663 "Having 2 Alerts list and Notifications drawer are confusing"
Having 2 separate Alerts list and Notifications drawer are confusing because Alerts == Notifications since a user expects them to contain the same information.

* The original intent of the Alerts on the navigation menu was to provide a full view to see all event information, Alert details, filtering etc. (and from the Notification drawer, by clicking to see alert/notification details, you'd be ta

[2017-10-04 14:41] julienlim commented on #663
Related issues:
* [UI Issues with Notification Drawer #629](https://github.com/Tendrl/ui/issues/629)
* [Notifications / Alerts in 2 places and have alerts that lack useful information #578](https://github.com/Tendrl/ui/issues/578)

[2017-10-05 09:47] #636 closed, assigned to a2batic

[2017-10-05 09:49] gnehapk commented on #656
Duplicate of #582

[2017-10-06 08:24] r0h4n commented on #661
Tracking issue: https://github.com/Tendrl/commons/issues/747

[2017-10-06 09:25] gnehapk commented on #631
@mcarrano Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:25] #631 closed, assigned to a2batic

[2017-10-06 09:26] gnehapk commented on #630
@mcarrano Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:26] #630 closed, assigned to gnehapk

[2017-10-06 09:27] gnehapk commented on #629
@mcarrano Closing the issue as its been in pending verification state for long time. You can re-open, if required.

@julienlim Widening the notification drawer issue will be handled along with #663

[2017-10-06 09:27] #629 closed, assigned to a2batic

[2017-10-06 09:28] gnehapk commented on #627
@mcarrano @julienlim Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:28] #627 closed, assigned to a2batic

[2017-10-06 09:28] gnehapk commented on #623
@julienlim  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:28] #623 closed, assigned to cloudbehl

[2017-10-06 09:31] gnehapk commented on #590
@julienlim  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:31] #590 closed, assigned to gnehapk

[2017-10-06 09:32] gnehapk commented on #589
@mcarrano Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:32] #589 closed, assigned to gnehapk

[2017-10-06 09:32] gnehapk commented on #579
@julienlim  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:32] #579 closed, assigned to cloudbehl

[2017-10-06 09:33] gnehapk commented on #529
@julienlim closing it as its being fixed and verified.

[2017-10-06 09:33] #529 closed, assigned to gnehapk

[2017-10-06 09:34] gnehapk commented on #532
@julienlim @nthomas-redhat  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:34] #532 closed, assigned to gnehapk

[2017-10-06 09:34] gnehapk commented on #535
@mkudlej  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:34] #535 closed, assigned to a2batic

[2017-10-06 09:35] gnehapk commented on #545
@julienlim @nthomas-redhat  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:35] #545 closed, assigned to nobody

[2017-10-06 09:36] gnehapk commented on #548
@julienlim  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:36] #548 closed, assigned to nobody

[2017-10-06 09:36] gnehapk commented on #553
@mkudlej  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:36] #553 closed, assigned to a2batic

[2017-10-06 09:36] gnehapk commented on #566
@julienlim  Closing the issue as its been in pending verification state for long time. You can re-open, if required.

[2017-10-06 09:36] #566 closed, assigned to gnehapk

[2017-10-06 09:38] gnehapk commented on #578
@julienlim  Closing this issue. This issue will be tracked on #663

[2017-10-06 09:38] #578 closed, assigned to GowthamShanmugam

[2017-10-06 11:41] r0h4n commented on #662
Provide screenshot for failed tasks, tendrl-backend does not allow multiple imports and fails any import jobs if there's already one in progress

[2017-10-06 13:48] fbalak commented on #662
It seems to be fixed since yesterday.

Tested with:
[code]

[2017-10-06 13:48] #662 closed, assigned to cloudbehl

[2017-10-06 17:06] julienlim opened #664 "Inconsistent status icon for node down (disconnected)"
Inconsistent status icon for node down (disconnected) - see node4

<img width="1122" alt="screen shot 2017-10-06 at 1 03 57 pm" src="https://user-images.githubusercontent.com/5589919/31289557-1c2c3a5c-aa97-11e7-997b-a28de8cd908b.png">

<img width="1124" alt="screen shot 2017-10-06 at 1 04 09 pm" src="https://user-images.githubusercontent.com/5589919/31289565-245c7336-aa97-11e7-8101-832673e4f7e3.pn

[2017-10-06 20:54] julienlim opened #665 "Alert: severity filter was not implemented"
Per the (Alerts/Events design - Annotation #3](https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738616), user should be able to click on the [alert icon][# of alerts] to filter to see alerts/events based the **# of alerts** clicked on.

Right now, it is not clickable.

In the screenshot example, I should be able to click on the 3 Warning icons to see a filtered list of the 3 warning item

[2017-10-06 23:46] julienlim opened #666 "Alert filter by hostname not working correctly"
[1]  Alert filter not working correctly, getting extra line entries in results.  Specifically, when trying to filter on hostname = node3, I get 2 additional non-node3 entries in the alerts list.

<img width="1174" alt="screen shot 2017-10-06 at 7 44 51 pm" src="https://user-images.githubusercontent.com/5589919/31302335-fc00d61a-aace-11e7-9848-551052133842.png">

[2]  When I then try to filter for

[2017-10-07 03:48] gnehapk commented on #666
@julienlim Please share the response received for /alerts API response.

[2017-10-08 03:18] cybernth commented on #664
@julienlim, I see an inconsistency between host and cluster list pages. So which is correct? The icon implemented in host list?

[2017-10-09 05:57] cloudbehl opened #668 "On refresh of host-detail page the host-name in the breadcrumb is not getting displayed."

[2017-10-09 07:39] cloudbehl opened #669 "Utilization percentage for volume-brick detail page is incorrect."
![screenshot from 2017-10-09 12-41-44](https://user-images.githubusercontent.com/5589919/31287237-9d2ac334-aa8e-11e7-8cde-9471e1ccd8ec.png)

[2017-10-09 08:10] #649 closed, assigned to cloudbehl

[2017-10-09 08:36] a2batic opened #671 "Add tooltip to the button if the text truncates"

[2017-10-09 11:32] mkudlej commented on #664
I see this issue too with
[code]

[2017-10-09 11:34] mkudlej commented on #566
I can verify this with
[code]

[2017-10-09 11:51] mkudlej commented on #631
I can verify this with
[code]

[2017-10-09 13:24] julienlim commented on #664
@nthomas-redhat @mkudlej @mcarrano @Tendrl/tendrl-qe @gnehapk @a2batic

Cluster status icons can be found at: https://redhat.invisionapp.com/share/589XIRJBW#/screens/214068213

Host status icons can be found at https://redhat.invisionapp.com/share/589XIRJBW#/screens/214068213.

[2017-10-09 14:46] julienlim commented on #666
@gnehapk I'm noticing that the Alerts filtering doesn't seem to work very well.  It sometimes works and sometimes does not.  E.g. Filter by cluster name does not work at all for me.

Here's the API response for listing alerts

curl -XGET -H "Authorization: Bearer 9d7892c32d2c407eec667908e62648d4b4889bbd3bd3400252ca4c03aeea7f65" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/alerts

[

[2017-10-09 16:09] julienlim opened #672 "Counter for Replica Set (or Subvolume / Dispersed Set) should start at 0"
In the Bricks tab view, the replica set counter starts at 1.  In gstatus, it starts at 0.  They should be consistent between the Tendrl UI and gstatus.

See screenshots from Tendrl UI and gstatus output:

![screen shot 2017-10-09 at 9 32 31 am](https://user-images.githubusercontent.com/5589919/31347534-a5554ba2-acea-11e7-9ba5-4590212cbdc0.png)

![screen shot 2017-10-09 at 9 33 25 am](https://user-

[2017-10-09 16:12] julienlim opened #673 "Cluster health/status inconsistent between Tendrl UI and Cluster Dashboard (which mirrors gstatus)"
Cluster health/status in Tendrl UI inconsistent between Tendrl UI and Cluster Dashboard (which mirrors gstatus)

Using gstatus and Grafana dashboard, it says Cluster is Unhealthy (as 1 of the nodes is down).  Tendrl UI says it's healthy

![screen shot 2017-10-09 at 9 33 53 am](https://user-images.githubusercontent.com/5589919/31347678-1a10ddb2-aceb-11e7-8b3f-f4ce604ea482.png)

![screen shot 2017-1

[2017-10-09 20:30] julienlim commented on #673
Interestingly, when I brought down the entire Gluster cluster, the Tendrl UI still said the cluster was healthy.

<img width="1172" alt="screen shot 2017-10-09 at 4 28 53 pm" src="https://user-images.githubusercontent.com/5589919/31357294-26dbc68c-ad0f-11e7-865c-4ec7c98502ba.png">

[2017-10-09 20:50] julienlim opened #674 "Task: Filter by flow... labeling changes needed"
It's not clear to the user what a "flow" is as this is the first time it's mentioned anywhere in the UI.  I think we need to use front-end (and not back-end) terminology here.

Name (in the button) --> Task
"Filter by flow..." --> "Filter by task

Note: I'm suggesting to change "Name" to be clearer what "Name" refers to here, i.e. Task (vs. Task ID or something else).

<img width="1173" alt="scree

[2017-10-10 02:27] sankarshanmukhopadhyay commented on #672
Probably worth checking with Paul Cuzner/Sachidananda as to why gstatus counter starts from '0' (zero) and have the reason documented prior to making it consistent.

[2017-10-10 04:21] gnehapk commented on #673
@julienlim Please share the API response of "/clusters" received for it.

[2017-10-10 04:26] gnehapk commented on #669
@cloudbehl Is the API returning correct utilization value for it?

[2017-10-10 04:27] shtripat commented on #672
I understand in `gstatus` output its using array index as counter attached to `Replica Set` keyword. Is it really that critical to have replica set numbers in sync with `gstatus`. Also if we don't use `gstatus`, is it correct to compare with `gstatus` output.

I personally feel there is nothing wrong to say `Replica Set1`, `Replica Set2` and `Replica Set3` if there are 3 replica sets in volume.

S

[2017-10-10 05:50] cloudbehl commented on #669
linking: https://github.com/Tendrl/monitoring-integration/issues/175

[2017-10-10 09:47] cybernth commented on #672
@shtripat , It's not about gstatus output ( we don't really have to match with that) but the gluster documentation also follow the same terminology.  So it is better to have consistency with the doc

[2017-10-10 09:56] gnehapk commented on #666
@GowthamShanmugam @nthomas-redhat @shtripat @r0h4n @anivargi In the API response, for alert object having  "message":"Status of peer: node4 changed from Connected to Disconnected", its fqdn is set to node3. Hence, UI is displaying this alert object too when someone types node3 in the search box for host name. Please look into it.

[2017-10-10 10:05] gnehapk commented on #666
@julienlim Cluster name filtering working for me. Attaching screenshot for the same.

![screenshot from 2017-10-10 15-33-26](https://user-images.githubusercontent.com/5517376/31380902-72cd26be-add0-11e7-8f1c-487dc5f49f5a.png)

Can you please mention by which cluster name, you have performed the filtering.

[2017-10-10 18:07] a2batic commented on #622
@julienlim, Fixed with tendrl-ui-1.5.2-20171010T124450.4044474.noarch.rpm. Please verify.

[2017-10-10 18:10] a2batic commented on #652
@julienlim, Fixed with tendrl-ui-1.5.2-20171010T124450.4044474.noarch.rpm. Please verify

[2017-10-10 18:11] a2batic commented on #655
@julienlim, Fixed with tendrl-ui-1.5.2-20171010T124450.4044474.noarch.rpm. Please verify

[2017-10-10 18:11] a2batic commented on #661
@cloudbehl, Fixed with tendrl-ui-1.5.2-20171010T124450.4044474.noarch.rpm. Please verify

[2017-10-10 20:15] julienlim commented on #553
Confirmed that I am able to change the user for a normal user.

[2017-10-11 03:47] gnehapk commented on #650
@a2batic Add "?" icon for cluster which are not imported.

[2017-10-11 04:08] a2batic commented on #645
@julienlim @mcarrano , Fixed with tendrl-ui-1.5.2-20171010T124450.4044474.noarch.rpm. Please verify

[2017-10-11 08:10] GowthamShanmugam commented on #666
@shtripat @nnDarshan @gnehapk The problem is we are assigning node id of the machine which raises alert, but actually alert is for some other machine. Let's take example node_A goes down, so node_B will raise alert like node_A went down. So node_id of node_B is actually assigned to that alert and message is like node_A is gone down. So filtering of node_A is not showing the alert in UI.

We have t

[2017-10-11 08:30] gnehapk commented on #513
Depends on https://github.com/Tendrl/api/issues/315

[2017-10-11 08:59] a2batic opened #677 "Tooltip on volume detail view in not coming properly"
It refers to tooltips for breadcrumbs

[2017-10-11 10:04] cloudbehl commented on #660
@julienlim The Issue has been fixed. Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:04] cloudbehl commented on #659
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:05] cloudbehl commented on #658
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:05] cloudbehl commented on #654
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:05] cloudbehl commented on #651
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:06] cloudbehl commented on #646
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:16] cloudbehl commented on #669
@julienlim The Issue has been fixed. Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.src.rpm).

[2017-10-11 10:32] a2batic commented on #647
@julienlim, Fixed in tendrl-ui-1.5.2-20171011T095120.b554d56.noarch.rpm. Please verify.

[2017-10-11 10:38] a2batic commented on #664
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.noarch.rpm).

[2017-10-11 10:39] a2batic commented on #674
@julienlim The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T095120.b554d56.noarch.rpm).

[2017-10-11 10:47] cloudbehl commented on #665
@julienlim Currently don't have the patternfly filter implemented because it came in the later version of Patternfly and Upgrading the Patternfly version right now can create a race around conditions(I have tried upgrading the version the date pickers and the notifications stopped working). I don't know the exact impact of the upgrade but I am sure that the upgrade will hamper.

So the alternative

[2017-10-11 12:49] gnehapk opened #679 "Add progressive icon to import button"

[2017-10-11 13:57] julienlim commented on #665
@cloudbehl @mcarrano @nthomas-redhat @Tendrl/tendrl-qe
Ack on upgrading to latest PatternFly causing race conditions and not wanting to do that at the moment.

The suggestion of adding Severity in the filter dropdown, where user fills in Warning, Info, Alert seems a reasonable compromise.

Thanks.

[2017-10-11 14:52] julienlim opened #681 "Alerts and Tasks views: date picker unexpected behavior"
In both the Alerts and Tasks list pages, I've observed the the date picker validation does not appear to work as one would expect.  It currently does the following:

* When user to specifies invalid date ranges, i.e. user specifies a To date earlier than the From date, it provides error message "*To date cannot be greater than from date" -- Note: To date should always be greater than the From date

[2017-10-11 16:36] gnehapk commented on #681
@julienlim Please specify the error message to be displayed when "To date" selected is before "From Date".

[2017-10-11 16:38] gnehapk commented on #673
@julienlim Fixed with the latest build. Please verify.

[2017-10-11 16:42] gnehapk commented on #657
@julienlim Fixed in tendrl-ui-1.5.2-20171011T153913.e46fe49.noarch.rpm build. Please verify.

[2017-10-11 16:43] gnehapk commented on #668
@cloudbehl Fixed in tendrl-ui-1.5.2-20171011T153913.e46fe49.noarch.rpm build. Please verify.

[2017-10-11 16:44] gnehapk commented on #653
@julienlim Fixed in tendrl-ui-1.5.2-20171011T153913.e46fe49.noarch.rpm build. Please verify.

[2017-10-11 16:49] a2batic commented on #650
@fbalak, The Issue has been fixed, Please verify with the master build(tendrl-ui-1.5.2-20171011T153913.e46fe49.noarch.rpm).

[2017-10-11 16:51] a2batic commented on #677
Fixed, with the master build, tendrl-ui-1.5.2-20171011T153913.e46fe49.noarch.rpm.

[2017-10-11 16:51] #677 closed, assigned to a2batic

[2017-10-11 17:38] julienlim commented on #653
Verified fix.  Thank you @gnehapk.

[2017-10-11 17:38] #653 closed, assigned to gnehapk

[2017-10-11 17:43] julienlim commented on #651
@cloudbehl Just redeployed using tendrl-ansible from master, and verified button labels changed.

[2017-10-11 17:43] #651 closed, assigned to cloudbehl

[2017-10-11 17:46] julienlim commented on #681
@gnehapk @mcarrano @Tendrl/tendrl-qe  It's preferable if we can switch out the component to the datepicker from http://www.daterangepicker.com/ if possible.

Error message probably should say: "The To date must be greater than the From date"
To date cannot be greater than from date

[2017-10-11 17:47] julienlim commented on #657
Verified the fix @gnehapk

<img width="1071" alt="screen shot 2017-10-11 at 12 53 20 pm" src="https://user-images.githubusercontent.com/5589919/31457430-b9edf19e-ae8a-11e7-9a2f-c7f1b78b4e21.png">

[2017-10-11 17:47] #657 closed, assigned to gnehapk

[2017-10-11 18:12] julienlim commented on #673
@gnehapk @Tendrl/tendrl-qe  I'm noticing the red x on the cluster when it's unhealthy (in Tendrl UI).  I think we need to use a different icon to indicate degraded / unhealthy as the red x can be alarming to the user.

@mcarrano - can you please suggest an icon?

I did notice that node4 (which is down to create this unhealthy state) is missing the down icon.

See screenshots below:

<img width="11

[2017-10-11 18:18] julienlim commented on #644
@gnehapk @a2batic @cloudbehl @sankarshanmukhopadhyay @nthomas-redhat @mcarrano @Tendrl/tendrl-qe

@bleathem has implemented the fix for this at https://github.com/Tendrl/ui/pull/682.  Can we get it into the release?

[2017-10-11 18:34] julienlim commented on #669
@cloudbehl I just deployed from master, and it looks like the issue has been fixed.

[2017-10-11 18:37] julienlim commented on #664
@a2batic @gnehapk I just redeployed tendrl from master using tendrl-ansible, and it looks like the one on the cluster list page is still not updated.  See attached.  Right now, if you look at node4, the status icon is not there.

<img width="1182" alt="screen shot 2017-10-11 at 2 35 38 pm" src="https://user-images.githubusercontent.com/5589919/31459596-a1cf8d3c-ae91-11e7-9852-0b516b16e23b.png">

<

[2017-10-11 18:46] julienlim commented on #673
@gnehapk @cloudbehl @Tendrl/tendrl-qe

In chatting with @mcarrano, we decided that we should show the status icon for the Cluster Unhealthy status as  'pficon-warning-triangle' in orange.

We also need to synch this with the grafana dashboards, so that the degraded / unhealthy cluster is in orange (as red is down).

<img width="1205" alt="screen shot 2017-10-11 at 2 42 39 pm" src="https://user-ima

[2017-10-11 19:05] julienlim commented on #650
@fbalak @a2batic All items mentioned above appears to have been fixed.

<img width="1064" alt="screen shot 2017-10-11 at 12 52 23 pm" src="https://user-images.githubusercontent.com/5589919/31460851-a2fd4308-ae95-11e7-87f8-f65e860d332c.png">

[2017-10-11 19:10] julienlim opened #683 "Inconsistent "Dashboard" button behavior before cluster imported"
In Cluster List page, the "Dashboard" button does not appear until after cluster has been successfully imported.  In the Hosts List page, the "Dashboard" button is greyed out and then is enabled once cluster is successfully imported.  Ideally, in the Hosts List page, the "Dashboard" button should not even appear until the cluster is successfully imported.

Clusters list - before import:
<img width

[2017-10-11 19:52] a2batic commented on #664
@julienlim, Its working for me
![screenshot from 2017-10-12 01-13-34](https://user-images.githubusercontent.com/12200504/31462853-8fe5b764-aebd-11e7-86ef-400696c7547a.png)

Can you please provide the API response of cluster list and host list once?

[2017-10-11 20:08] julienlim commented on #664
@a2batic

**API response for cluster list:**
$ curl -XGET -H "Authorization: Bearer 53627ab113ca571a56e40f061828950202e2b69169ed1c3ef8e3da29a8d93c06" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/clusters

{"clusters":[{"cluster_id":"1b35a38d-499a-4600-984f-f6caed7560c2","integration_id":"1b35a38d-499a-4600-984f-f6caed7560c2","hash":"becfedc3aaeb520d65e0667c12840312","sds_version":"

[2017-10-11 20:17] julienlim opened #684 "Incorrect volume type shown"
I created a replicated volume, and it's showing as an arbiter volume.

<img width="1176" alt="screen shot 2017-10-11 at 4 15 32 pm" src="https://user-images.githubusercontent.com/5589919/31464430-9c8c5108-ae9f-11e7-857b-62908864941f.png">

<img width="368" alt="screen shot 2017-10-11 at 4 16 27 pm" src="https://user-images.githubusercontent.com/5589919/31464436-9f60597e-ae9f-11e7-9e61-1ef04599cb3c

[2017-10-11 20:18] julienlim commented on #684
Actually it appears Gluster thinks it's an arbiter volume, and I forgot gstatus does not support arbiter volumes.  You can ignore this issue.

[2017-10-11 20:18] #684 closed, assigned to nobody

[2017-10-12 01:20] julienlim opened #685 "Text and icon alignment issues"
Breadcrumbs text is not aligned.
Brick status icon not aligned with the brick path text (almost like a superscript to the brick path
Horizontal line bar also slightly offset (higher)

<img width="1157" alt="screen shot 2017-10-11 at 9 07 56 pm" src="https://user-images.githubusercontent.com/5589919/31474643-013d2792-aeca-11e7-8ec9-d169f58725fc.png">
)

@gnehapk @a2batic @cloudbehl @Tendrl/tendrl-f

[2017-10-12 01:23] julienlim opened #686 "Cluster List: "Details" button should be the first button, followed by Dashboard, Disable Profiling"
Cluster List: "Details" button should be the first button, followed by Dashboard, Disable Profiling.  It's not consistent with the other views where the "Details" button is shown.  Also, it would be ideal for the buttons to not wrap.

<img width="1158" alt="screen shot 2017-10-11 at 9 22 11 pm" src="https://user-images.githubusercontent.com/5589919/31474707-6a18e4cc-aeca-11e7-87c2-483a3c78c3bb.png

[2017-10-12 01:26] julienlim opened #687 "node4 (which has an alert) indicates no alerts in other views (e.g. Hosts List)"
node4 (which has an alert saying it's disconnected/down) indicates no alerts (No Data) in other views (e.g. Hosts List).

<img width="1074" alt="screen shot 2017-10-11 at 9 24 54 pm" src="https://user-images.githubusercontent.com/5589919/31474755-c76039d2-aeca-11e7-8b8a-66cfbb7b07f0.png">

<img width="1074" alt="screen shot 2017-10-11 at 9 25 03 pm" src="https://user-images.githubusercontent.com/5

[2017-10-12 02:22] #669 closed, assigned to cloudbehl

[2017-10-12 03:14] cloudbehl commented on #687
Linking: https://github.com/Tendrl/node-agent/issues/643

[2017-10-12 03:24] r0h4n commented on #644
@julienlim Tendrl is under a feature freeze as of now, however @Tendrl/tendrl-core will start reviewing the PR and line it up for functional testing and future release.

[2017-10-12 05:11] cloudbehl opened #688 "Disable volume profiling button until the response"

[2017-10-12 05:11] cloudbehl opened #689 "Set width of breadcrumb to 100%"

[2017-10-12 06:22] GowthamShanmugam commented on #687
@cloudbehl peer connected and disconnected is cluster level alerts, it won't show the count in host page

[2017-10-12 06:34] GowthamShanmugam commented on #687
Actually, the alert is peer connected to disconnected, so we are handling this alert as cluster level alert only, so we just increasing cluster alert count by 1. We are not increasing node alert count by 1.

[2017-10-12 07:34] fbalak commented on #650
Seems ok.
Tested with:
[code]

[2017-10-12 07:34] #650 closed, assigned to a2batic

[2017-10-12 07:52] fbalak opened #691 "Missing icons for nodes that are down"
In my setup I have not yet imported cluster with 6 nodes. `fbalak-usm1-gl6` node is `up` the rest of them is `down`. I have clicked on cluster on `Clusters` page. Next to `fbalak-usm1-gl6` node is a green icon indicating `up` status of the node. There are missing icons that indicate status of node next to nodes that are `down`. On `Hosts` page it seems ok.

![1012_no_icon](https://user-images.gith

[2017-10-12 08:14] a2batic commented on #691
@fbalak, Similar issue: Tendrl-bug-id: #664. Hence closing it.

[2017-10-12 08:17] #691 closed, assigned to a2batic

[2017-10-12 08:44] gnehapk commented on #664
@anivargi `status` attribute is missing in the API response for node4.

[2017-10-12 13:41] a2batic commented on #672
@julienlim, Fixed with tendrl-ui-1.5.3-20171012T142223.125d75e.noarch.rpm (current master build). Please verify.

[2017-10-12 13:41] a2batic commented on #679
@gnehapk , Fixed with tendrl-ui-1.5.3-20171012T142223.125d75e.noarch.rpm (current master build). Please verify.

[2017-10-12 14:17] julienlim commented on #687
@GowthamShanmugam @cloudbehl @gnehapk @Tendrl/tendrl-qe @mcarrano
It seems that if something happened on a node, that the node would have the associated alert.  If it's a cluster alert, right now, there appears no place in the UI that we show the alert on the cluster beyond in this Alerts page.

Do we even generate alerts at the volume or node level currently?  I've yet to see the Alerts column in

[2017-10-12 18:51] a2batic commented on #664
@julienlim, Fixed with tendrl-ui-1.5.3-20171012T142223.125d75e.noarch.rpm (latest master build). Please verify.

[2017-10-13 06:30] GowthamShanmugam commented on #687
As per current implementation the alert count increment will work like this,

-- alerts which are related to nodes:
       Cpu utilization alert
       Memory utilization alert
       Swap utilization alert

When these alerts are raised, then the node alert count is incremented for a particular node.

-- cluster related alerts:
     Cluster utilization alert
     Volume utilization alert
     Bric

[2017-10-13 11:10] shtripat commented on #666
@GowthamShanmugam yes. I remember we discussed this once couple of days back. So my suggestion for this would to have entity type and entity id as well associated with each alert message. The entity id is not the node_id/cluster_id in/from which this alert is raised. Its rather the details of the entity for which this alert is raised.

Using these attributes we should be able to filter the alerts

[2017-10-13 14:36] rghatvis opened #694 "Filter Bars non-linear dimensions and Input Hint Text Style Imrovements"
Issue 1
Filter Bars
The Attribute Selector bar is not aligned with the Filter Query Field bar. The dimensions of both the bars are not linear/consistent. In the PatternFly Filter Bar design page[1], both the bars are linear without any overlap and equal height. The following screen is captured from the Hosts menu of the Tendrl UI but it can be seen in all the menus of the UI.

![filter-bars-dimens

[2017-10-14 06:35] GowthamShanmugam commented on #666
@Tendrl/tendrl-core we should handle the brick down alert as node alert. But it is related to cluster also.

@shtripat is suggested like we should maintain brick down alert as node. because We are not maintaining the hierarichal kind of thing like for this cluster and this volume this brick is down in alert directory.

@anmolbabu is suggested like this should be stored at both levels. Because bric

[2017-10-16 05:57] #689 closed, assigned to cloudbehl

[2017-10-16 05:58] #688 closed, assigned to cloudbehl

[2017-10-16 05:59] cloudbehl commented on #668
@gnehapk Verified

[2017-10-16 05:59] #668 closed, assigned to gnehapk

[2017-10-16 06:01] cloudbehl commented on #661
@a2batic Verfied

[2017-10-16 06:01] #661 closed, assigned to gnehapk, a2batic

[2017-10-16 06:04] cloudbehl commented on #685
@julienlim The Issue is fixed with the new builds. Please verify.

[2017-10-16 06:04] cloudbehl commented on #683
@julienlim The Issue is fixed with the new builds. Please verify.

[2017-10-16 06:05] cloudbehl commented on #686
@julienlim The Issue is fixed with the new builds. Please verify.

[2017-10-16 06:33] gnehapk commented on #663
As per the discussion with @nthomas-redhat we can swap the positions of "Alerts" and "Notifications" list. @brainfunked Need your confirmation.

[2017-10-16 09:22] a2batic opened #696 "Tooltip of breakcrumb doesnt show up after page refresh"

[2017-10-16 14:00] julienlim commented on #666
@Tendrl/tendrl-core @GowthamShanmugam @shtripat @mcarrano @Tendrl/tendrl-qe

When a brick is down, from a user's perspective, this impacts the node and the cluster.  So, an alert should be triggered at both the node and cluster level.  If the brick is being used in a volume, then it also impacts the volume, hence then we'd also want an alert to be triggered at the volume level.

[2017-10-16 14:30] GowthamShanmugam commented on #666
@julienlim i agree, brick down alert will has to go in
   - cluster
        volume
         brick
   - node
so impact all so we need to increment node count, volume count and cluster count of alerts, it should stored in the node as well as a cluster.
i have raised question and suggestion of @Tendrl/tendrl-core here https://github.com/Tendrl/gluster-integration/issues/449 for this

[2017-10-17 07:54] a2batic commented on #694
@rghatvis, Thanks for reporting this issue. We will be solving this bug, but patternfly also seems to have dimension issues in filter[1].
[1] http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#/code

[2017-10-17 08:39] a2batic commented on #694
@rghatvis We are planning to upgrade the patternfly to its latest version[1] in next dev cycle and this version will fix the placeholder text bug. Upgrading the Patternfly version right now can create a race around conditions(tried upgrading the version the date pickers and the notifications stopped working). We don't know the exact impact of the upgrade but we are sure that the upgrade will hampe

[2017-10-17 08:58] a2batic opened #697 "Filters not disabled before list loads"
Filters on Host list, task list and alert list page are active before the data loads.

[2017-10-18 17:50] julienlim commented on #672
@a2batic @Tendrl/tendrl-qe

Verified fix.  Results from UI matches what's in gstatus, i.e. both showing Replica Set 0 starting counter.
![screen shot 2017-10-18 at 1 49 08 pm](https://user-images.githubusercontent.com/5589919/31733997-49c9aab2-b40b-11e7-951e-7aef005916de.png)

[2017-10-18 17:50] #672 closed, assigned to a2batic

[2017-10-18 17:52] julienlim commented on #686
@cloudbehl @Tendrl/tendrl-qe

Confirming fix.
![screen shot 2017-10-18 at 1 52 05 pm](https://user-images.githubusercontent.com/5589919/31734112-a2fc4d9c-b40b-11e7-9ab1-51453f2c914c.png)

[2017-10-18 17:52] #686 closed, assigned to cloudbehl

[2017-10-18 17:54] julienlim commented on #683
@cloudbehl @Tendrl/tendrl-qe
Verified fix.

![screen shot 2017-10-18 at 1 38 34 pm](https://user-images.githubusercontent.com/5589919/31734176-dc5c57d0-b40b-11e7-9a51-a03cbff683c3.png)

[2017-10-18 17:54] #683 closed, assigned to cloudbehl

[2017-10-18 17:57] julienlim commented on #685
@cloudbehl @Tendrl/tendrl-qe Verified fix.

![screen shot 2017-10-18 at 1 56 39 pm](https://user-images.githubusercontent.com/5589919/31734285-3977b02c-b40c-11e7-8289-75ab1b3f2364.png)

[2017-10-18 17:57] #685 closed, assigned to cloudbehl

[2017-10-18 18:18] julienlim opened #699 "Brick Details: Table headings touching line, not following PatternFly table guidelines"
Table headings for the bricks text alignment is off.  Specifically, the text (Host Name, Brick Path, Utilization, ...) doesn't appear to have any vertical line spacing before the horizontal line.

![screen shot 2017-10-18 at 2 06 27 pm](https://user-images.githubusercontent.com/5589919/31734992-72159cb2-b40e-11e7-9874-2eba759bc803.png)

Per [design](https://redhat.invisionapp.com/share/XMAOW3UC5#/

[2017-10-18 18:22] julienlim opened #700 "Import Cluster infotip - text improvement"
The import cluster infotip text ought to be shorter and less verbose.  I appreciate that it's implemented per annotations specified in design, but it ought to be less verbose.

Can we leave off the bullet, and update the text to show:

Enabling volume profiling enables volume-level telemetry information to help with troubleshooting, capacity planning, and performance thing.

@gnehapk @a2batic @clo

[2017-10-18 18:47] julienlim commented on #664
@a2batic @gnehapk @Tendrl/tendrl-qe @mcarrano

Have verified the fix that shows node4 is down with correct status icon.

<img width="1280" alt="screen shot 2017-10-18 at 2 40 20 pm" src="https://user-images.githubusercontent.com/5589919/31736516-0256fc5e-b413-11e7-93ab-64e999e29ccd.png">

[2017-10-18 18:47] #664 closed, assigned to a2batic

[2017-10-23 05:57] #637 closed, assigned to gnehapk

[2017-10-23 06:51] cloudbehl opened #701 "Change the color coding of Progress bar as per the threshold breach."
If the progress bar has reached to 80% and above it should be changed to yellow and if reaches to 90% or above it should be changed to Red.

Linking: https://github.com/Tendrl/monitoring-integration/issues/194

[2017-10-23 08:39] a2batic commented on #694
@rghatvis, it has been fixed with tendrl-ui-1.5.3-20171023T065857.0c58708.noarch.rpm (latest master build). The filters are now consistent and aligned. Please verify.

[2017-10-23 08:42] a2batic commented on #696
Fixed with tendrl-ui-1.5.3-20171023T065857.0c58708.noarch.rpm (latest master build).

[2017-10-23 08:42] #696 closed, assigned to a2batic

[2017-10-23 08:43] a2batic commented on #697
Fixed with tendrl-ui-1.5.3-20171023T065857.0c58708.noarch.rpm (latest master build).

[2017-10-23 08:43] #697 closed, assigned to a2batic

[2017-10-23 09:14] gnehapk commented on #681
@julienlim Issues observed for the current date picker are solved with tendrl-ui-1.5.3-20171024T073937.0815acd.noarch.rpm. Please verify. Since, date range picker(http://www.daterangepicker.com/) component is not available in the patternfly yet, we will use it once it gets available in future.

[2017-10-24 07:05] gnehapk commented on #700
@julienlim Fixed with tendrl-ui-1.5.3-20171024T073937.0815acd.noarch.rpm. Please verify.

[2017-10-24 07:06] gnehapk commented on #701
@cloudbehl Fixed with tendrl-ui-1.5.3-20171024T073937.0815acd.noarch.rpm. Please verify.

[2017-10-24 07:09] gnehapk commented on #665
@julienlim  Fixed with tendrl-ui-1.5.3-20171024T073937.0815acd.noarch.rpm. Please verify.

[2017-10-24 07:12] gnehapk commented on #544
@nthomas-redhat @r0h4n @shtripat Please close this issue, if its fixed.

[2017-10-24 11:07] #679 closed, assigned to a2batic

[2017-10-24 11:15] a2batic opened #704 "Upgrading patternfly and angular-patternfly"
The current version is:
"angular-patternfly": "~3.23.3",
"patternfly": "~3.25.0"

The version to be upgraded to:
"angular-patternfly": "~4.11.0",
"patternfly": "~3.29.13"

[2017-10-24 13:50] julienlim commented on #646
Issue appears to be fixed.  See screenshot below:
![screen shot 2017-10-18 at 2 27 13 pm](https://user-images.githubusercontent.com/5589919/31946784-c42a4b74-b8a0-11e7-95e9-c9dcdf8a1ecb.png)

[2017-10-24 13:50] #646 closed, assigned to nobody

[2017-10-24 13:53] cloudbehl commented on #704
linking : #638

[2017-10-24 13:55] julienlim commented on #652
This issue has been fixed.

![screen shot 2017-10-18 at 1 38 11 pm](https://user-images.githubusercontent.com/5589919/31947040-72f83af8-b8a1-11e7-85e5-a9b77db94e89.png)

![screen shot 2017-10-18 at 1 40 15 pm](https://user-images.githubusercontent.com/5589919/31947034-6c28f65e-b8a1-11e7-8564-46235a2415e2.png)

[2017-10-24 13:55] #652 closed, assigned to gnehapk, a2batic

[2017-10-24 13:56] julienlim commented on #654
Issue fixed.

![screen shot 2017-10-18 at 1 38 11 pm](https://user-images.githubusercontent.com/5589919/31947123-92b7dbaa-b8a1-11e7-8d7a-655f8a76ae15.png)

[2017-10-24 13:56] #654 closed, assigned to cloudbehl

[2017-10-24 13:57] julienlim commented on #659
Issue fixed.

![screen shot 2017-10-18 at 1 48 34 pm](https://user-images.githubusercontent.com/5589919/31947176-b3e7d410-b8a1-11e7-8fb3-68970e63b618.png)

[2017-10-24 13:57] #659 closed, assigned to cloudbehl

[2017-10-24 13:59] julienlim commented on #694
Related to https://github.com/Tendrl/ui/issues/638.

[2017-10-24 14:00] julienlim commented on #647
Issue appears fixed.

![screen shot 2017-10-18 at 1 40 15 pm](https://user-images.githubusercontent.com/5589919/31947394-38e982bc-b8a2-11e7-9108-9179e980e612.png)

[2017-10-24 14:00] #647 closed, assigned to nobody

[2017-10-24 18:18] julienlim commented on #700
Issue resolved.  See Firefox screenshot.

![screen shot 2017-10-24 at 2 02 44 pm](https://user-images.githubusercontent.com/5589919/31960546-248c556e-b8c6-11e7-8b00-1c0984799ffe.png)

[2017-10-24 18:18] #700 closed, assigned to a2batic

[2017-10-24 18:36] julienlim commented on #674
Issue fixed.

![screen shot 2017-10-24 at 2 35 42 pm](https://user-images.githubusercontent.com/5589919/31961422-ac2648ca-b8c8-11e7-926f-b144589f6fa8.png)

[2017-10-24 18:36] #674 closed, assigned to a2batic

[2017-10-24 18:37] julienlim commented on #645
Issue fixed and resolved.

![screen shot 2017-10-24 at 2 36 42 pm](https://user-images.githubusercontent.com/5589919/31961452-cacd88d8-b8c8-11e7-9363-f8ea43c98784.png)

[2017-10-24 18:37] #645 closed, assigned to nobody

[2017-10-24 18:42] julienlim commented on #655
Issue resolved.

![screen shot 2017-10-24 at 2 04 43 pm](https://user-images.githubusercontent.com/5589919/31961732-9722b502-b8c9-11e7-897e-ae128f2e6e83.png)

![screen shot 2017-10-24 at 2 05 07 pm](https://user-images.githubusercontent.com/5589919/31961737-9926cba4-b8c9-11e7-951f-81136858ecc1.png)

[2017-10-24 18:42] #655 closed, assigned to gnehapk, a2batic

[2017-10-24 18:47] julienlim commented on #660
Spelling fix resolved.

![screen shot 2017-10-24 at 2 11 57 pm](https://user-images.githubusercontent.com/5589919/31961976-4e3a4340-b8ca-11e7-803e-c83fc0594cdd.png)

[2017-10-24 18:47] #660 closed, assigned to cloudbehl

[2017-10-24 20:10] julienlim commented on #622
This issue appears to have been resolved.

![screen shot 2017-10-24 at 4 09 26 pm](https://user-images.githubusercontent.com/5589919/31965577-c68d3680-b8d5-11e7-9ef6-abbae543d5d6.png)

![screen shot 2017-10-24 at 4 09 36 pm](https://user-images.githubusercontent.com/5589919/31965580-c9541d52-b8d5-11e7-98bc-97c2ecfbe49a.png)

[2017-10-24 20:10] #622 closed, assigned to gnehapk, a2batic

[2017-10-25 05:47] a2batic commented on #673
@julienlim, changed the icon of Unhealthy Cluster as 'pficon-warning-triangle' in tendrl-ui-1.5.3-20171025T055918.53fc027.noarch.rpm. Please verify.

[2017-10-25 08:14] #701 closed, assigned to gnehapk, a2batic

[2017-10-25 12:00] a2batic opened #706 "Password show/hide icon not present in Add User view"

[2017-10-25 12:29] julienlim opened #707 ""Ready to import" text should say "Importing cluster" when cluster is being imported, and Import button is disabled"
"Ready to import" text should say "Importing cluster" when cluster is being imported, and Import button is disabled -- see screenshot below (note 2nd row where "Import" button is disabled):

![screen shot 2017-10-24 at 2 06 11 pm](https://user-images.githubusercontent.com/5589919/31998675-a30309e0-b95e-11e7-9035-799fc92d56f5.png)

@gnehapk @a2batic @mcarrano @Tendrl/tendrl-qe

[2017-10-25 12:32] julienlim opened #708 "Mystery jobs in Notifications"
I've only executed "Import" cluster once, and as you can see in the screenshot that it ran successfully.  However, in the Notifications view, I see 4 jobs that have run, when only 1 job was user executed, i.e. Import Cluster.

It would be surprising to the user to see additional jobs run.

<img width="1134" alt="screen shot 2017-10-25 at 8 27 11 am" src="https://user-images.githubusercontent.com/5

[2017-10-25 12:35] julienlim opened #709 "Additional instance of node3 in the host list with wrong status"
I just powered down node3, and now I see 2 node3's in the Host List.  The Cluster List reflects node3 correctly.

<img width="1150" alt="screen shot 2017-10-25 at 8 34 03 am" src="https://user-images.githubusercontent.com/5589919/31998901-732e19ca-b95f-11e7-98fc-e0e641298716.png">

<img width="1144" alt="screen shot 2017-10-25 at 8 34 19 am" src="https://user-images.githubusercontent.com/5589919/3

[2017-10-25 12:40] gnehapk commented on #709
@julienlim Please share the response of "/nodes" received on host list page.

[2017-10-25 12:41] gnehapk commented on #708
@julienlim Please share the response for "/notifications" received.

[2017-10-25 13:03] julienlim commented on #709
$ curl -XGET -H "Authorization: Bearer 9d8961cd999d1aaa622f6affca33738ae9cb1e2889e17f98306a665dc59e0380" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/nodes

{"nodes":[{"updated_at":"2017-10-25 12:59:44.435546+00:00","node_id":"cfd77186-c29c-42e8-9af9-d27d57abec5c","last_sync":"2017-10-25 12:59:44.420103+00:00","status":"UP","hash":"3980b7e2d8aff6c4b2769af0d0b93649","tags":["tendrl/

[2017-10-25 13:04] julienlim commented on #708
$ curl -XGET -H "Authorization: Bearer 9d8961cd999d1aaa622f6affca33738ae9cb1e2889e17f98306a665dc59e0380" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/notifications

[{"message_id":"9c8d79fc-26ff-41b4-8a42-1e1d8adad68b","timestamp":"2017-10-25T12:42:06.120833+00:00","priority":"notice","message":"Job failed (job_id: 0a2f6388-f9bd-40a8-8748-b8430fde440d)"},{"message_id":"b45b13c3-8ce

[2017-10-25 13:09] gnehapk commented on #709
@r0h4n @nthomas-redhat @shtripat  @anivargi There are two objects which has same fqdn -> "node3" received in the API response. Please check

[2017-10-25 13:11] gnehapk commented on #708
@r0h4n @nthomas-redhat @shtripat @anivargi Since there are four notification objects present in the API response, UI is displaying 4 jobs in the notification list. Please have a look.

[2017-10-25 14:16] julienlim commented on #681
@gnehapk If we're don't plan to change the current date picker, can we at least fix the Error message to something that will not confuse users, i.e. "To date must be greater than the From date, i.e. To > From" and not the existing text which is confusing: "To date cannot be greater than from date" which in other words is saying To < From)

I installed from master yesterday and still it says the co

[2017-10-25 15:30] julienlim commented on #658
I've confirmed that when there are no alerts, it says No Data.
![screen shot 2017-10-24 at 2 05 21 pm](https://user-images.githubusercontent.com/5589919/32003675-d0d833e0-b96d-11e7-99ca-39e03daec08a.png)

Have still to verify when no cluster present.

[2017-10-25 18:03] julienlim commented on #658
Confirmed that Cluster column says "None" when node is not part of a Gluster cluster.
<img width="1209" alt="screen shot 2017-10-25 at 2 02 56 pm" src="https://user-images.githubusercontent.com/5589919/32014866-549026d8-b98d-11e7-9afb-5fbb5123e492.png">

[2017-10-25 18:03] #658 closed, assigned to cloudbehl

[2017-10-25 19:28] julienlim commented on #673
Noting that collectd default interval is 3 min (or 180seconds) per looking at /etc/collectd.conf.

Observed that when node brought down, it takes UI approximately 3 minutes to notice the node is down (and Grafana dashboard still doesn't show node is down), and then another 3 minutes before the dashboards reflect the node is down, thus 6 minutes for dashboard to reflect node down.

Noting that moni

[2017-10-25 19:37] julienlim opened #711 "Missing volume name"
Currently using the build that current tendrl-ansible is using (Tendrl 1.5.3 release).

From cluster details view, it is missing the volume name (vol1) in the volume listing:

<img width="1210" alt="screen shot 2017-10-25 at 3 33 31 pm" src="https://user-images.githubusercontent.com/5589919/32019168-548d101c-b99a-11e7-8681-e36d54cb66db.png">

Interestingly, when you go to the volume drilldown, it

[2017-10-26 05:11] shtripat commented on #709
@r0h4n looks like while NodeContext.status is marked DOWN, there is an additional entry for the same node in etcd with different node_id. Please check.

[2017-10-26 05:19] shtripat commented on #708
During import job, it creates additional child jobs for other nodes as well. These entries in job list are for them. For end user perspective we may need to display only the parent job and hide all the dependent child jobs if its confusing.

There are many jobs in tendrl which create internal child jobs.

[2017-10-26 05:44] gnehapk commented on #708
@shtripat Can you please mention the property name which tells the UI that this is a parent job, so that UI can add filter for it.

[2017-10-26 05:50] mbukatov commented on #711
This seems to be the same issue as reported in https://github.com/Tendrl/api/issues/324

[2017-10-26 06:32] shtripat commented on #711
@julienlim can you share the setup details in a mail. Will have a look.

[2017-10-26 06:57] gnehapk commented on #673
@julienlim Host list is getting polled after 30 secs, so the updated data should be reflected in UI by max 30 secs(if it is getting reflected in the API properly). Can you please share the API response received for "/nodes" on host list page once the collectd default interval is finished.

[2017-10-26 10:06] shtripat commented on #708
In https://github.com/Tendrl/ui/issues/708#issuecomment-339554181 I talked about job. I feel the issue here is talking about notifications only in top right corner.

I just verified in a setup and during import only one notifications is created for the parent import job.

@julienlim please share the setup details as I am not able to simulate the issue at my end.

[2017-10-26 12:27] julienlim commented on #708
@shtripat Setup was via tendrl-ansible.  I've reinstalled since I logged this bug, but it's still evident in my latest Tendrl deployment.  Based on comments above, the internal child jobs are being shown and should be suppressed from being shown, i.e. filtered out to only show parent jobs - so user is not "surprised" to see additional jobs that he/she is unaware of the internal Tendrl workings.

[2017-10-27 07:32] a2batic commented on #671
Fixed with tendrl-ui-1.5.3-20171027T071719.c55fbe7.noarch.rpm (latest master build).

[2017-10-27 07:32] #671 closed, assigned to a2batic

[2017-10-27 07:33] a2batic commented on #706
Fixed with tendrl-ui-1.5.3-20171027T071719.c55fbe7.noarch.rpm (latest master build).

[2017-10-27 07:33] #706 closed, assigned to a2batic

[2017-10-27 07:34] a2batic commented on #707
@julienlim, it has been fixed with tendrl-ui-1.5.3-20171027T071719.c55fbe7.noarch.rpm (latest master build). Please verify.

[2017-10-27 10:13] gnehapk commented on #681
@julienlim Fixed with tendrl-ui-1.5.3-20171027T071719.c55fbe7.noarch.rpm. Please verify.

[2017-10-27 11:39] shtripat commented on #708
I tried this today in a fresh setup as see notification about success of parent job only. Under Tasks, yes child jobs also are listed, but under Notification in top right corner you should see only the entry for success of parent import job.

If you see the issue again, kindly share the setup details with me before removing it. Lets debug and see as I dont see this my setup. We can have BJ setup f

[2017-10-30 13:15] julienlim commented on #644
@gnehapk @a2batic @cloudbehl @sankarshanmukhopadhyay @nthomas-redhat @mcarrano @r0h4n @Tendrl/tendrl-qe

@bleathem has filed another PR related to this at:
https://github.com/Tendrl/ui/pull/682/files/def3f22528e9e0e8fb92a739012dfde16ebe4db4..28ea0cb1c70b80495b28441ff1b1a13e12658e0f

[2017-10-31 10:21] gnehapk opened #713 "Update error message on task-list page"

[2017-10-31 12:48] GowthamShanmugam commented on #666
@julienlim @gnehapk This issue is fixed, please verify and close this

[2017-10-31 17:54] julienlim opened #716 "Extra punctuation on empty slate (landing) pages"
For empty / blank slate (landing) pages, there should not be a period at the end of the Empty State Title per PatternFly -- see https://www.patternfly.org/pattern-library/communication/empty-state/.

E.g. No Alerts Detected or No Tasks Detected -- remove period at the end of the title.

See Alerts and Tasks empty slate pages below:

![screen shot 2017-10-31 at 1 50 25 pm](https://user-images.githu

[2017-10-31 18:49] julienlim commented on #665
@gnehapk Verified that the severity filters in the filter dropdown works.

<img width="1210" alt="screen shot 2017-10-31 at 2 46 57 pm" src="https://user-images.githubusercontent.com/5589919/32243007-a414b18a-be4a-11e7-93e2-1f3f4458de3e.png">

<img width="1210" alt="screen shot 2017-10-31 at 2 46 45 pm" src="https://user-images.githubusercontent.com/5589919/32243018-ab02f79a-be4a-11e7-81c6-e544754

[2017-10-31 18:49] #665 closed, assigned to gnehapk, cloudbehl

[2017-10-31 20:29] julienlim opened #717 "Volume Details - visual changes suggested"
In looking at brick details, it's hard to see the utilization chart on the grey background.  We'd suggest changing the fill of the chart background to white.

Before (Current implementation):
![screen shot 2017-10-31 at 1 57 23 pm](https://user-images.githubusercontent.com/5589919/32247407-9d7f9ff2-be58-11e7-8286-e0e0fc4c021d.png)

After (Suggested change):
![screenshot-172 28 128 3-2017-10-31-16-

[2017-10-31 20:34] julienlim opened #718 "Null filter results returns unexpected response"
When I filter in the Alerts (and probably applies to all other places with filters), it should return the correct null filter response per PatternFly -- see https://www.patternfly.org/pattern-library/forms-and-controls/filter/#/design.

Currently, it says "No Alerts Detected." when filter returns null.

Current results:
![screen shot 2017-10-31 at 4 30 19 pm](https://user-images.githubusercontent.

[2017-11-01 20:14] julienlim commented on #681
Error message has been fixed.
![screen shot 2017-11-01 at 4 12 40 pm](https://user-images.githubusercontent.com/5589919/32295441-ac21b6cc-bf1f-11e7-8285-0205a2be90a2.png)

[2017-11-01 20:14] #681 closed, assigned to gnehapk

[2017-11-01 20:20] julienlim commented on #673
Noting my [previous comment](https://github.com/Tendrl/ui/issues/673#issuecomment-339443966), that the synchronization delay is related to https://github.com/Tendrl/api/issues/306 issue.

@gnehapk I've since redeployed my Tendrl deployment and cannot provide the API response for /nodes.

From referring to https://github.com/Tendrl/api/issues/306, the 3 min delay of updating the Tendrl UI is likely

[2017-11-01 20:22] #673 closed, assigned to nobody

[2017-11-02 02:20] julienlim commented on #699
@a2batic It looks much better with the table fix.

![screen shot 2017-10-31 at 1 57 23 pm](https://user-images.githubusercontent.com/5589919/32306574-9dba971a-bf52-11e7-92cd-8ddf32f3e41e.png)

[2017-11-02 06:17] gnehapk commented on #699
@julienlim Since this issue is fixed, closing it. Please open it, if required.

[2017-11-02 06:17] #699 closed, assigned to a2batic

[2017-11-02 06:18] #713 closed, assigned to gnehapk

[2017-11-02 12:03] a2batic opened #719 "No alert count for Host list and volume list"

[2017-11-02 12:39] #719 closed, assigned to a2batic

[2017-11-02 12:41] a2batic opened #721 "'Clear all filters' not present in task list page"

[2017-11-02 14:05] a2batic opened #723 "Enable/Disable profiling button shifts to next line while performing Disable profiling"

[2017-11-02 14:41] julienlim commented on #694
@a2batic @gnehapk @rghatvis @mcarrano

In looking at Tendrl UI in both Chrome and Firefox, the fix appears to have better/closer alignment with PatternFly but they do seem to vary from browser to browser.

Chrome:
![screen shot 2017-10-31 at 1 49 54 pm](https://user-images.githubusercontent.com/5589919/32331800-39564d42-bfba-11e7-887b-e3e22767f1c1.png)

Firefox:
<img width="1218" alt="screen shot

[2017-11-02 15:28] julienlim opened #725 "Extra line at bottom of page for blank slate"
For Alerts and Tasks, when there are no alerts or tasks respectively, there's a line that appears at the bottom of the page that should not be there (after No Alerts / Tasks Detected)

![screen shot 2017-10-24 at 2 05 33 pm](https://user-images.githubusercontent.com/5589919/32334369-adc51806-bfc0-11e7-982c-725f31923c4f.png)

![screen shot 2017-10-31 at 1 50 34 pm](https://user-images.githubusercon

[2017-11-02 16:06] #723 closed, assigned to a2batic

[2017-11-02 18:42] rghatvis commented on #694
Thanks for sharing the rendering on different browsers, Ju. The input hint text has changed to sentence-style capitalization which is cool but not sure why there is variation in the browsers...

[2017-11-03 06:18] #721 closed, assigned to a2batic

[2017-11-03 12:30] brainfunked commented on #663
There are two distinct entities: alert conditions and notifications.

Alert conditions are problem states that Tendrl detects and tracks. Examples of such states are node down, cluster down, currently existing threshold breach etc. Note the term *currently existing*. The alert conditions show up while they're present and have a life cycle. They can change state and can disappear altogether when th

[2017-11-03 13:31] julienlim commented on #694
@rghatvis - there should not be difference in rendering in different browsers if we're using the latest PatternFly.

@a2batic @gnehapk - comments about the rendering in different browsers?

@mcarrano

[2017-11-03 13:58] julienlim commented on #663
@brainfunked Thank you for your explanation of how it's currently implemented.  To sum up what you wrote:

Alert == current problems / conditions that Tendrl has detected and tracks.  Maintained and tracked as long as they exist.

Notifications == triggered based on events, 1 notification per alert, includes job updates, 1 notification per state change of an alert condition.  Analogous to events.

[2017-11-03 16:29] julienlim commented on #707
Just installed Tendrl 1.5.4, and this fix is verified.
<img width="1262" alt="screen shot 2017-11-03 at 12 28 18 pm" src="https://user-images.githubusercontent.com/5589919/32384850-9bee732a-c092-11e7-9894-ca179aead4b9.png">

[2017-11-03 16:29] #707 closed, assigned to a2batic

[2017-11-05 09:08] a2batic commented on #694
@julienlim @rghatvis, It seems to be a bug

[2017-11-05 09:10] a2batic opened #726 "Variation in filter rendering in different browsers"
Bug reference : https://github.com/Tendrl/ui/issues/694

[2017-11-06 14:11] a2batic opened #728 "Various status of bricks and corresponding icons"
It is observed, that volumes and bricks have other status too, other than 'Started' and 'Stopped'. One of the other status is 'Created'. We have used 'pficon-ok' for 'Started' and 'pficon-error-circle-o' for 'Stopped'. @nnDarshan what are the other status that can come for volumes and bricks ? @julienlim, what icons should we use for other status?
Attachment: Screenshot with volume status ' Create

[2017-11-06 14:12] gnehapk commented on #725
@julienlim Fixed with tendrl-ui-1.5.4-20171106T121612.853b7e1.noarch.rpm. Please verify.

[2017-11-06 14:12] gnehapk commented on #718
@julienlim Fixed with tendrl-ui-1.5.4-20171106T121612.853b7e1.noarch.rpm. Please verify.

[2017-11-06 14:12] gnehapk commented on #717
@julienlim Fixed with tendrl-ui-1.5.4-20171106T121612.853b7e1.noarch.rpm. Please verify.

[2017-11-06 14:13] gnehapk commented on #716
@julienlim Fixed with tendrl-ui-1.5.4-20171106T121612.853b7e1.noarch.rpm. Please verify.

[2017-11-06 14:45] julienlim commented on #725
@gnehapk I hope you fixed this for the other places where the blank slate appears too, e.g. Volumes.
![screen shot 2017-11-06 at 9 21 53 am](https://user-images.githubusercontent.com/5589919/32446545-41cc03f2-c2d7-11e7-90f5-3f6dbe249360.png)

Thanks!

[2017-11-06 16:22] julienlim opened #729 "Volume disappears from UI"
I deployed Tendrl 1.5.4 using tendrl-ansible in my vagrant environment, which has a 3 node Gluster trusted storage pool (tendrl-node-agents). 4 nodes in total if you include the Tendrl server.

I had my nodes go down unexpectedly when my host system crashed.  When I brought the VM's back up and running, Tendrl UI and API no longer seems to know about the Gluster volume that is present.

In Gluster

[2017-11-06 16:39] gnehapk commented on #729
@julienlim Please share the API response.

[2017-11-06 16:42] mbukatov opened #730 "There is no UI support for SNMP configuration"
## Description

There is no way to configure snmp alerting from Tendrl UI.

## Version

Upstream release 1.5.4, using latest snapshot builds there:

[code]

## References

[Tendrl UI Designs for Gluster Only Monitoring Release](https://github.com/Tendrl/documentation/wiki/Tendrl-UI-Designs-for-Gluster-Only-Monitoring-Release) states:

See details in design documents:

* how to reach SNMP configura

[2017-11-06 19:22] julienlim commented on #729
@gnehapk

**# curl -XGET -H "Authorization: Bearer 7240301b9f12d45d7ce54c5fd1612bc9483ea343219cb7706ce23ce1eaeffc82" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/clusters**

{"clusters":[{"sds_name":"gluster","sds_version":"3.12.1","updated_at":"2017-11-03 16:20:42.237491+00:00","cluster_id":"cfac1062-a50d-44e2-bb89-4ce38db4e8ab","cluster_name":"gluster-9057b41460e5e2cad96bc4955e62

[2017-11-06 20:48] r0h4n commented on #729
@julienlim Silly question, but when you brought the VM's back up and running did you start all the Tendrl services (tendrl-node-agent, tendrl-gluster-integration etc) ?

[2017-11-06 20:54] mcarrano commented on #728
After some discussion, here are our UX recommendations:

* For volumes/bricks that are running and healthy, let's stick with the green 'fa-check-circle-o'
* Volumes/bricks (and any objects) that are down should use 'fa-arrow-circle-o-down' (not error-circle-o)
* Volumes/bricks that are newly created (not yet started) should use 'pficon-connected'
* Volumes/bricks that are stopped should use 'fa-st

[2017-11-07 06:42] #484 closed, assigned to a2batic

[2017-11-07 08:30] brainfunked commented on #663
OK, that makes sense to me. A couple of comments on the design:

* It would be preferable to not truncate the alert messages. In a dashboard scenario, it's preferable to be able to see all the details at a glance rather than requiring mouse interaction.
* It would be good to be able to pin the panel on the right for permanent visibility across all views, drawn alongside the main view, rather than

[2017-11-07 10:15] gnehapk commented on #663
@julienlim Can you please mention the filters that will be applicable for the new event list view now and the event list will have just two columns(description and time stamp) for each event, since notification list has description and time stamp fields for each notification.
Also it seems that new alert list view(i.e. alert drawer) will don't have any filters now. Please confirm.

[2017-11-07 12:19] nnDarshan commented on #728
@a2batic
* Volume possible status {"Created",  "Started",  "Stopped" }
* Brick possible status {"Started",  "Stopped"}

[2017-11-07 12:51] gnehapk commented on #725
@julienlim Fixed with tendrl-ui-1.5.4-20171107T074153.cccca1d.noarch.rpm. Please verify.

[2017-11-07 16:19] julienlim commented on #663
@gnehapk @mcarrano @Tendrl/tendrl-qe

For the Events list (aka notifications current), from looking at the JSON output using Tendrl-API, there are 4 fields: message_id, timestamp, priority, and message.  The 2 columns to be shown would be timestamp and message.  No filter needs to be applied except perhaps that the Events shown are specific to the selected cluster.  The Events list should be sorte

[2017-11-07 16:22] julienlim commented on #729
@r0h4n I did check tendrl-node-agent and it is running on all nodes.  monitoring integration is running too.  tendrl-gluster-integration isn't -- so I assume that's the culprit.

I stared up tendrl-gluster-integration, and the volume did then show up in the Tendrl UI.

Do we have documented which daemons need to be running (to help with troubleshooting)?  If not, I'd strongly recommend we document

[2017-11-07 19:36] #729 closed, assigned to nobody

[2017-11-07 19:43] mbukatov commented on #729
@julienlim

The daemon should be running. If this is a different root cause from what is described in on of: https://github.com/Tendrl/gluster-integration/issues/294 https://github.com/Tendrl/commons/issues/595 https://bugzilla.redhat.com/show_bug.cgi?id=1509314, you can create a new issue.

[2017-11-07 20:00] julienlim commented on #729
@mbukatov The problem is indeed that tendrl-gluster-integration does not run after a reboot per https://bugzilla.redhat.com/show_bug.cgi?id=1509314.

[2017-11-08 06:06] gnehapk commented on #663
@julienlim For event list page, we will display all the events sorted in the descending order of timestamp now. While implementing Concept B, events will be displayed specific to selected cluster.

[2017-11-08 06:57] a2batic commented on #728
@mcarrano @julienlim, since we dont have a 'down' status for volumes/bricks, as per @mcarrano comment, following icons can be used:-

- 'Started' - green 'fa-check-circle-o'
- 'Created' - 'pficon-connected'
- 'Stopped' -  'fa-stop-circle-o'

[2017-11-08 07:36] gnehapk commented on #663
@julienlim The alerts drawer adds a scrollbar if all the alerts are not able to fit into the given space. So, Is there any need of having alert list view on the left nav and if yes, which link/button will take the user to alert list page of left nav.

[2017-11-08 08:04] a2batic commented on #726
Fixed with tendrl-ui-1.5.4-20171107T133229.ed61125.noarch.rpm.

[2017-11-08 08:04] #726 closed, assigned to a2batic

[2017-11-08 08:05] a2batic commented on #694
@julienlim @rghatvis, the bug has been fixed with tendrl-ui-1.5.4-20171107T133229.ed61125.noarch.rpm (latest master build). Please verify.

[2017-11-08 08:06] a2batic commented on #638
@cloudbehl @gnehapk, the bug has been fixed with tendrl-ui-1.5.4-20171107T133229.ed61125.noarch.rpm (latest master build). Please verify.

[2017-11-08 09:01] a2batic opened #733 "Save button in add user view and edit user view gets disabled when an incorrect detail is added"

[2017-11-08 10:54] gnehapk commented on #728
@mcarrano @julienlim The color of `fa-check-circle-o` ,`fa-stop-circle-o` icons is dark grey. Do we need to change the color or dark grey is fine.

[2017-11-08 11:32] a2batic commented on #704
**Changes made in patternfly from 3.25.0 to 3.29.13**

3.25.1

- Expand the message to full width when notification drawer is expanded.

3.26.0

- Bell icon in navigation
- Implement Notification Drawer Updates
- vertical nav: fix second level nav to close on item click
- Replaces the blue border on listview expansion to grey and adds a shadow
- bumps up zindex to put toast notifications on top of

[2017-11-08 14:17] mcarrano commented on #728
'Started' should be the green checkmark as is shown today. I may have made an error when I called out 'fa-check-circle-o' as we also have 'pficon-ok'. Whatever we are currently using to reflect the OK status in various views is what we should continue to use.  'Stop' can be dark grey.

Sorry if I caused some confusion.

[2017-11-08 15:06] julienlim commented on #728
@gnehapk See above comment from @mcarrano

[2017-11-08 15:33] julienlim commented on #663
@gnehapk I checked PatternFly, and there is a scrollbar for the Alerts drawer after all, so there is not a need after all to take you to Alerts list page in the left nav.

@mcarrano mentioned there's is a provision in the PF implementation to expand the drawer -- see http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design for how to see the expanded view of Alerts.  We

[2017-11-08 15:41] mcarrano commented on #663
@gnehapk There is also code for the drawer expansion if you are able to leverage it.

[2017-11-08 20:33] mcarrano commented on #663
@gnehapk I have refined the design a bit on severity filters in the drawer to allow for showing selection and clearing. See updated designs here: https://redhat.invisionapp.com/share/8QCOEVEY9#/244738613_Alerts_Drawer  If you click though to the next page. You will see what this should look like after a filter is applied and you can clear.

Let me know if you have questions. @julienlim FYI

[2017-11-08 21:58] julienlim opened #734 "Alert messages should not show values with more than 2 decimal places"
Currently, the alert messages include:

Volume utilization of vol1 in cluster cfac1062-a50d-44e2-bb89-4ce38db4e8ab is 94.3773392636 which is above WARNING threshold 75

Brick utilization of |bricks|brick1 in node node2 in cluster cfac1062-a50d-44e2-bb89-4ce38db4e8ab is 94.3773392636 which is above WARNING threshold 75

Alerts Screenshot:
<img width="1243" alt="screen shot 2017-11-08 at 4 50 49 pm"

[2017-11-09 04:47] gnehapk commented on #734
@GowthamShanmugam @r0h4n @anivargi UI is directly displaying the value of `message` property present in the API response. So, these changes should be done in backend.

[2017-11-09 07:26] gnehapk commented on #728
@mcarrano 'pficon-connected" icon is introduced in later version of patternfly 3.25.0. Currently we are using 3.25.0 patternfly's version. Can you suggest some other icon in place of 'pficon-connected".

We are planning to upgrade patternfly version in next development cycle.

[2017-11-09 08:40] GowthamShanmugam commented on #666
Please verify this and close it

[2017-11-09 08:45] dahorak commented on #734
Related issue: https://github.com/Tendrl/notifier/issues/138

[2017-11-09 08:52] GowthamShanmugam commented on #734
@gnehapk @julienlim this issue is fixed

[2017-11-09 10:48] TimothyAsirJeyasing opened #736 "rpmlint errors"
The following are the rpmlint errors found in 1.5.4 release:

tendrl-ui.noarch: E: script-without-shebang /var/www/tendrl/commons/scss/main.css
tendrl-ui.noarch: E: script-without-shebang /var/www/tendrl/index.html
tendrl-ui.noarch: E: script-without-shebang /var/www/tendrl/plugin-bundle.js
tendrl-ui.noarch: W: incoherent-version-in-changelog 1.5.4-1 ['1.5.4-1.el7.centos', '1.5.4-1.centos']

[2017-11-09 15:15] mcarrano commented on #728
@gnehapk If that is the case, let's go with 'fa-arrow-circle-o-up' to indicate that the volume has been created, but not yet started. Keep the color as dark gray. Does that work?

[2017-11-09 16:01] a2batic opened #738 "'Read-only' user is not editable by Admin"

[2017-11-09 18:23] r0h4n commented on #729
Fixed: https://github.com/Tendrl/commons/pull/772  and https://github.com/Tendrl/commons/pull/773

[2017-11-09 19:11] a2batic commented on #738
Fixed with tendrl-ui-1.5.4-20171109T163934.0b129c4.noarch.rpm.

[2017-11-09 19:11] #738 closed, assigned to a2batic

[2017-11-09 19:12] a2batic commented on #733
tendrl-ui-1.5.4-20171109T163934.0b129c4.noarch.rpm

[2017-11-09 19:12] #733 closed, assigned to a2batic

[2017-11-10 01:52] sankarshanmukhopadhyay commented on #730
This is going to be taken up in a future release. Not in the current one.

[2017-11-10 06:24] cloudbehl opened #740 "Event list design needs to have proper spacing and padding"
![screenshot from 2017-11-10 11-53-33](https://user-images.githubusercontent.com/6695156/32645554-d088cede-c60d-11e7-9275-bbb6e03ef4e5.png)

[2017-11-10 07:15] gnehapk commented on #728
@mcarrano Yes. Thanks.

[2017-11-10 07:55] gnehapk commented on #663
@julienlim @mcarrano Fixed with tendrl-ui-1.5.4-20171110T074803.fb3f1b1.noarch.rpm. Please verify.

[2017-11-10 07:57] a2batic commented on #740
@cloudbehl Fixed with tendrl-ui-1.5.4-20171110T074803.fb3f1b1.noarch.rpm. Please verify.

[2017-11-10 07:57] a2batic commented on #728
Fixed with tendrl-ui-1.5.4-20171110T074803.fb3f1b1.noarch.rpm.

[2017-11-10 07:57] #728 closed, assigned to a2batic

[2017-11-10 15:02] julienlim commented on #725
Confirmed fix.

[2017-11-10 15:02] #725 closed, assigned to gnehapk

[2017-11-10 15:06] julienlim commented on #718
Fixed.

@gnehapk - Although fixed, the text does need revisiting as the text is not flowing well.

The suggested text: "Please try selecting other filter criteria." may need to be improved to "Try selecting a different filter criteria."
Clear All Filters <-- this does not need to be in bold text

<img width="1273" alt="screen shot 2017-11-10 at 10 03 39 am" src="https://user-images.githubuserconte

[2017-11-10 15:06] julienlim commented on #717
Confirmed fix.

[2017-11-10 15:06] #717 closed, assigned to gnehapk

[2017-11-10 15:14] julienlim opened #743 "Some strange lines and disappearing lines"
The Events and Tasks list seem to have extra horizontal lines.

And the border (vertical line) for the Alerts drawer line partially disappears when drawer is "opened."

<img width="1171" alt="screen shot 2017-11-10 at 10 12 29 am" src="https://user-images.githubusercontent.com/5589919/32664612-d9a47490-c5ff-11e7-9053-51869ba087b9.png">

<img width="1172" alt="screen shot 2017-11-10 at 10 12 54 am"

[2017-11-10 15:21] julienlim opened #744 "Full alert message not visible to user without hovering on the message"
For Tendrl 1.5.4 (bugfixes) release, when looking at an alert message (in the Alert Drawer), it's not easy to see the full alert message without hovering over the text to see it.

<img width="1263" alt="screen shot 2017-11-10 at 10 16 58 am" src="https://user-images.githubusercontent.com/5589919/32664830-6b682c1e-c600-11e7-801a-bbaee7f7b991.png">

Is it possible to widen the Alert drawer or word w

[2017-11-10 15:33] sankarshanmukhopadhyay commented on #743
Is this specific to a browser or, all browsers? I do not seem to see this on the latest Google Chrome stable on F26 and CentOS 7.4

[2017-11-10 15:40] julienlim commented on #743
@sankarshanmukhopadhyay This was on Google Chrome on MacOS.  I didn't try FireFox.  Once I used a filter, the Alerts drawer vertical border was restored.

<img width="1241" alt="screen shot 2017-11-10 at 10 34 58 am" src="https://user-images.githubusercontent.com/5589919/32665833-943ba4b0-c603-11e7-8e40-69f7cf122551.png">

[2017-11-10 15:50] julienlim commented on #663
Fixed.  Some cosmetic issues (with extra lines) and hard to read full alert message, but other than that, the fix is verified.

<img width="1070" alt="screen shot 2017-11-10 at 10 46 53 am" src="https://user-images.githubusercontent.com/5589919/32666172-9bc11bec-c604-11e7-9c45-93a4d5b61f0f.png">

New issues created.
* https://github.com/Tendrl/ui/issues/744
* https://github.com/Tendrl/ui/issues/74

[2017-11-10 16:00] #740 closed, assigned to a2batic

[2017-11-10 16:07] gnehapk commented on #744
@julienlim Please suggest the width of alert drawer.

[2017-11-10 16:53] julienlim commented on #666
Verified.

[2017-11-10 16:53] #666 closed, assigned to GowthamShanmugam

[2017-11-10 16:55] julienlim commented on #744
@gnehapk Can you try doubling the width on the current Alert Drawer?

[2017-11-10 16:55] julienlim commented on #734
Fixed.

[2017-11-10 16:55] #734 closed, assigned to GowthamShanmugam

[2017-11-10 17:01] julienlim opened #745 "Event messages are getting truncated"
Event messages are getting truncated and require user to hover to see the truncated description.

It ought to wordwrap (like Task Details) and not truncate.

Event List:
<img width="1090" alt="screen shot 2017-11-10 at 12 00 22 pm" src="https://user-images.githubusercontent.com/5589919/32669507-c700f2a0-c60e-11e7-81ff-651937a3f01e.png">

Task Details:
<img width="1075" alt="screen shot 2017-11-10

[2017-11-10 18:49] mcarrano commented on #743
The Events view should follow the same form as other list views in the product. There is a design for this here: https://redhat.invisionapp.com/share/8QCOEVEY9#/244738616_Cluster_Details-Events. There should not be a need for the header row, but we should have a filter toolbar at the top as for Tasks.

[2017-11-10 20:08] julienlim commented on #745
See also comments in https://github.com/Tendrl/ui/issues/743#issuecomment-343555258.

[2017-11-11 06:25] gnehapk commented on #745
@mcarrano As per @julienlim's [comment](https://github.com/Tendrl/ui/issues/663#issuecomment-342535734) only two columns need to be displayed for each event on event list page. Request you to please update the design and mention the possible objects by which event can be filtered w.r.t point **1** on https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738616.

[2017-11-11 23:55] rghatvis commented on #694
@a2batic: Verified in tendrl-ui-1.5.4-20171107T133229.ed61125.noarch.rpm. Thanks!

[2017-11-11 23:55] #694 closed, assigned to a2batic

[2017-11-12 00:06] rghatvis opened #746 "Grafana - One click button to navigate to the Cluster Overview/Home page"
In the Grafana Dashboard, when we visit the Volumes or Bricks Overview page, there is no one-click button to quickly navigate to the default Cluster Overview/Home page. I have to click on the drop-down at the top and then select Home. From a user's perspective, it is a long route.

Is there is a direct one-click Cluster Overview or default Home page button that I didn't see? If there is none, can

[2017-11-12 16:24] julienlim commented on #745
@mcarrano The API does not have all the data we'd like, and so I suggested sticking with the 2 columns for now as that's all we have to work with.  Specifically - here's what the Tendrl Notification API returns (and priority seems to say "notice" all the time):
  {
    "message_id": "b677b7e9-7e38-4da7-bc9e-cc171feeacc3",
    "timestamp": "2017-11-07T12:01:41.885310+00:00",
    "priority": "notice

[2017-11-13 08:45] a2batic commented on #743
@julienlim, can you please explain about which horizontal line are you referring here? It will be better if you mark that particular line in the attachment.

@julienlim @mcarrano, can you please provide the updated mockup for events page with required changes.

[2017-11-13 09:28] a2batic opened #747 "make 'fa' icons and 'pficon' equal in size"

[2017-11-13 09:46] gnehapk commented on #744
@julienlim Will remove the word wrap for the alert message so that the complete message will be visible to user at a glance.  I have tried doubling the width of the alert drawer. Its occupying more than half space of the content area.
![expanded-alert-drawer](https://user-images.githubusercontent.com/5517376/32719084-1c71a11c-c885-11e7-9596-89c77f4d5e84.png)

Instead of this we can go for the expa

[2017-11-13 14:29] julienlim commented on #744
@gnehapk The doubling width of the Alert Drawer doesn't look good, and agree going with expanded view of the Alert Drawer per PF would be better.

Not sure I understand you that "remove the word wrap for the alert message so complete message will be visible to user at a glance" -- will the alert message be completely visible?  If so wouldn't it need the word wrap to do so?  Do you have a screensho

[2017-11-13 14:47] julienlim commented on #743
@a2batic The following shows where the extra horizontal line is -- see Tasks screenshot below:
![tasks - extra line](https://user-images.githubusercontent.com/5589919/32731223-40e501ac-c857-11e7-90ae-6e960b117672.png)

This was similar in the Events list as well.  If you remove the column headers (Description, Timestamp) row, you'll get as close to design as you can based on what the API returns c

[2017-11-13 15:04] julienlim opened #748 "Tendrl UI reporting brick is stopped when it's up and running"
Tendrl: Release 1.5.4 bugfixes
Scenario: I stopped one of the nodes which has a brick on it.  When node was brought back up, Tendrl is still reporting in the Tendrl UI and Grafana Bricks Dashboard that the brick is stopped.

Node 2 is up and running (after it had previously been stopped):
![screen shot 2017-11-13 at 9 56 59 am](https://user-images.githubusercontent.com/5589919/32732116-a163365a-c8

[2017-11-13 15:15] julienlim commented on #748
**API response for listing of bricks for vol1:

$ curl -XGET  -H "Authorization: Bearer 820edcc15c9936e25ada19453811c15bc9be7b5ccfbac6635f81250d946576db" -H "Content-Type: application/json" http://127.0.0.1/api/1.0/clusters/ae9708ba-5c31-4bd9-b21e-b6240e010e52/volumes/ddcdba61-ad6b-4507-80f9-af3bc81a6e6b/bricks**

{
  "bricks": [
    {
      "filesystem_type": "",
      "hostname": "node1",

[2017-11-13 15:16] julienlim commented on #748
@gnehapk @a2batic @cloudbehl @Tendrl/tendrl-qe @mcarrano

[2017-11-13 15:27] gnehapk commented on #748
@julienlim The page you are referring here is "Host Details" page. Can you please share the API response received for "/clusters/:clusterId/node/:nodeId/bricks".

[2017-11-13 15:36] gnehapk commented on #744
@julienlim Sorry, I meant enabling the word wrap for alert message. Attaching the screenshot for the alert page after enabling the word wrap css property.
![alert-list](https://user-images.githubusercontent.com/5517376/32733773-38871e14-c8b6-11e7-868a-24f3d2219e26.png)

[2017-11-13 16:39] julienlim commented on #744
@gnehapk Enabling word wrap looks good!  I'm looking forward to this landing in the release.

[2017-11-13 16:40] julienlim commented on #748
@gnehapk For host details, it also shows the brick is stopped:

![screen shot 2017-11-13 at 11 39 56 am](https://user-images.githubusercontent.com/5589919/32737214-719f64da-c867-11e7-976c-e4964e73d46a.png)

Here's the volume details where it also shows that the brick has stopped:
![screen shot 2017-11-13 at 2 18 24 pm](https://user-images.githubusercontent.com/5589919/32744478-96eb67aa-c87d-11e7-8

[2017-11-13 19:25] julienlim commented on #748
@gnehapk
Here's the response for "/clusters/:clusterId/node/:nodeId/bricks:"

{
  "bricks": [
    {
      "disk_count": "",
      "name": "node2:_bricks_brick1",
      "partitions": "[\"/dev/sdb1\"]",
      "stripe_size": "",
      "brick_path": "node2:/bricks/brick1",
      "fqdn": "node2",
      "sequence_number": "2",
      "vol_id": "ddcdba61-ad6b-4507-80f9-af3bc81a6e6b",
      "hash": "84c584

[2017-11-13 20:06] julienlim commented on #745
@gnehapk @mcarrano

Here's what Events should look like -- very similar to what we had in Alerts (< Tendrl 1.5.4 bugfix release).  Since we don't really have any severity levels other than "notice," let's leave off the severity level icon + severity level, along with the severity filters.  Note: The "Search" text should be Italicized (though it doesn't appear so in this mockup).

![cluster details

[2017-11-14 05:00] gnehapk commented on #748
@nthomas-redhat @r0h4n @shtripat @anivargi API has returned `"status":"Stopped"` for the brick `"name":"node2:_bricks_brick1"`. Hence the UI is displaying "Stopped" icon for it. Please check.

[2017-11-14 08:44] rghatvis opened #749 "Grafana Dashboard: Tooltip icons (providing description) for the Dashboard tab labels are distantly/unevenly placed."
The tooltip icons or dialogue box icons are not placed above the tab labels. For example, for the Hosts label, the tooltip appears to be placed between the airspace of the Overview tab and the Hosts tab. The user can't clearly make out which tooltip icon belongs to which label by a glance. Can we make the icons perpendicular to the labels or place above it or in proximity to the labels?
![uneven-t

[2017-11-15 06:37] gnehapk commented on #749
@rghatvis Since this issue belongs to [monitoring-integration](https://github.com/Tendrl/monitoring-integration), request you to move this issue to monitoring-integration component.

[2017-11-15 06:39] gnehapk opened #750 "No clear ending of hosts list for specified cluster with many hosts"
When there is a cluster with number of hosts that exceeds the `Clusters` tendrl page (10+ hosts) then at the bottom of the page there is a small space that creates illusion that there should be another item.

[2017-11-15 07:02] gnehapk commented on #750
Not reproducible in the latest build. Attaching screenshot for it.
![bighostlist](https://user-images.githubusercontent.com/5517376/32822942-ee4ca516-ca00-11e7-9f71-3cc03152b7a4.png)

Hence, closing this issue.

[2017-11-15 07:02] #750 closed, assigned to gnehapk

[2017-11-15 08:49] a2batic opened #752 "Status icons in breadcrumb not matching with list"

[2017-11-15 15:08] a2batic opened #753 "Alignement difference in cluster view and other views"
Cluster View

![screenshot from 2017-11-15 20-33-42](https://user-images.githubusercontent.com/12200504/32842893-41f29a1c-ca16-11e7-91b2-89cee0284b3e.png)

Host View

![screenshot from 2017-11-15 20-33-54](https://user-images.githubusercontent.com/12200504/32842962-6daa6ca2-ca16-11e7-8888-e15ebc56843d.png)

[2017-11-16 11:15] ltrilety commented on #663
I have one observation here. Whilst alerts goes to the notifications drawer and notifications goes to events list, the drawer title and id is still Notifications not Alerts. Hence when I have a cursor over the bell it says Notifications.

[2017-11-16 15:00] a2batic opened #754 "Tooltip missing on cluster status icon on cluster list view"

[2017-11-16 17:12] julienlim opened #755 "Import Cluster tooltip typo "...performance thing.""
See ending of the tooltip, it should be either "... performance optimization" or "... performance tuning" (the original suggestion) but not "... performance thing."

<img width="1185" alt="screen shot 2017-11-16 at 12 08 25 pm" src="https://user-images.githubusercontent.com/5589919/32905224-55811354-cac7-11e7-93a8-8d922af8e2b0.png">

@gnehapk @a2batic @Tendrl/tendrl-qe @mcarrano

[2017-11-17 16:44] gnehapk opened #757 "Handle import failed status"

[2017-11-17 17:28] GowthamShanmugam opened #759 "UI is showing volume detail even after deletion of volume"
UI should not show deleted volumes details

[2017-11-17 17:28] GowthamShanmugam commented on #759
@cloudbehl @gnehapk please check this issue

[2017-11-20 14:43] julienlim commented on #749
@cloudbehl

[2017-11-21 17:27] julienlim commented on #745
In the Tendrl 1.5.4 bugfixes-2 release, the Events text is still truncated and needs to still word wrap.
![screen shot 2017-11-21 at 10 55 45 am](https://user-images.githubusercontent.com/5589919/33087014-624018c6-ceb7-11e7-9c23-730760c7a21b.png)

[2017-11-21 17:33] julienlim commented on #663
@ltrilety I put cursor over the bell, and it says Alerts.
![screen shot 2017-11-21 at 12 31 54 pm](https://user-images.githubusercontent.com/5589919/33087265-16202a3e-ceb8-11e7-83a6-e0fc3c6d7311.png)

[2017-11-21 17:33] #663 closed, assigned to gnehapk, a2batic

[2017-11-21 17:36] julienlim commented on #716
@gnehapk This hasn't been fixed.  See below:

<img width="1266" alt="screen shot 2017-11-20 at 10 49 22 pm" src="https://user-images.githubusercontent.com/5589919/33087399-7bd8da1a-ceb8-11e7-8311-068b67170672.png">

<img width="1267" alt="screen shot 2017-11-20 at 10 49 32 pm" src="https://user-images.githubusercontent.com/5589919/33087402-7fae3a5e-ceb8-11e7-9345-234b92ae8c35.png">

[2017-11-21 17:40] a2batic commented on #745
@julienlim, It seems to be old build . Please try with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm and verify.

[2017-11-21 19:24] julienlim commented on #745
@a2batic I just installed this yesterday with the 1.5.4 bugfixes-2.  I note that the Alerts drawer is wider and alert msg word wraps.  The previous build (1.5.4 bugfixes-1) didn't have these fixes.

This is not resolved yet.

[2017-11-21 20:24] a2batic commented on #745
@julienlim, the event page according to the latest build (tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm) looks like below for me:-

![screenshot from 2017-11-22 01-50-49](https://user-images.githubusercontent.com/12200504/33094912-ac88e04c-cef9-11e7-9880-53f695e91631.png)

[2017-11-21 20:34] a2batic commented on #759
@GowthamShanmugam, fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm. Please verify.

[2017-11-21 20:35] a2batic commented on #757
Fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm.

[2017-11-21 20:35] #757 closed, assigned to nobody

[2017-11-21 20:36] a2batic commented on #755
@julienlim, this issue has been fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm. Please verify.

[2017-11-21 20:37] a2batic commented on #753
Fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm.

[2017-11-21 20:37] #753 closed, assigned to a2batic

[2017-11-21 20:37] a2batic commented on #752
Fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm.

[2017-11-21 20:37] #752 closed, assigned to a2batic

[2017-11-21 20:38] a2batic commented on #754
Fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm.

[2017-11-21 20:38] #754 closed, assigned to a2batic

[2017-11-21 20:40] a2batic commented on #743
@julienlim @mcarrano, this bug has been fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm. Please verify.

[2017-11-21 20:40] a2batic commented on #744
@julienlim, this bug has been fixed with tendrl-ui-1.5.4-20171121T111815.8f8f468.noarch.rpm, please verify.

[2017-11-27 08:53] a2batic opened #763 "GUI session should be timeout after 'n' min idle time."
Currently, GUI will not be timeout for a session. Admin needs this feature and it is very important with respect to  security.

[2017-12-01 07:45] gnehapk commented on #759
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:45] #759 closed, assigned to nobody

[2017-12-01 07:45] gnehapk commented on #755
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:45] #755 closed, assigned to a2batic

[2017-12-01 07:47] gnehapk commented on #745
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:47] #745 closed, assigned to a2batic

[2017-12-01 07:47] gnehapk commented on #744
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:47] #744 closed, assigned to gnehapk

[2017-12-01 07:47] gnehapk commented on #743
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:47] #743 closed, assigned to a2batic

[2017-12-01 07:48] gnehapk commented on #638
Closing this issue, as its been opened for quite long time. Please feel free to reopen if the issue still persists.

[2017-12-01 07:48] #638 closed, assigned to cloudbehl

[2017-12-04 04:21] shtripat opened #764 "tendrl specific names should be taken from configurations"
tendrl speicifc names like node role `Tendrl server`, the dashboard names in grafana dashboards (e.g. Tendrl - Dashboard at a glance) etc should be taken from a configuration file and should not be hard-coded within tendrl codebase. This would make it easy for re-branding tendrl for downstream with different names.

We need to identify all such hardcoded names in tendrl and make them configurable.

[2017-12-04 06:31] gnehapk opened #765 "'Tendrl server' to be replaced with 'Web Admin server' in Hosts tab for field 'Role'"

[2017-12-04 07:02] #765 closed, assigned to gnehapk

[2018-01-09 09:39] gnehapk opened #767 "Time stamp inconsistency for repeated alerts"
Filed by @ltrilety

Description of problem:
There's bad time for repeated alert, which has clearing alert, in Alerts drawer.

![bad_time_alert](https://user-images.githubusercontent.com/5517376/34713847-825d8672-f54d-11e7-8177-9a9854ca2171.png)

@ltrilety Can you please share the response received by APIs "/notifications" and "/alerts"

[2018-01-09 09:41] gnehapk opened #768 "Tasks filter not showing tasks correctly based on date"
Filed by @fbalak

Description of problem:
I have one task ImportCluster from `20 Nov 2017 13:25:27`. When I select `From: 20 Nov 2017` and `To: 21 Nov 2017` or later it shows correctly the task but when I select date `20 Nov 2017` (the same date that the task was created) in `To:` field the task disappears.

[2018-01-09 11:33] gnehapk opened #769 "Alerts icon (bell icon) on Web Admin home page needs to show/indicate if there are unread events/alerts"
Description of problem:

The bell icon on the top right corner of Web Admin home page, which signifies alerts, when clicked displays all alerts. IF there are any new alerts generated, then it should signify with a number (inside a red circle, say) - stating loud and clear that there are x number of unread messages/alerts.

Displaying nothing around the bell does not get the attention of admin.

[2018-01-09 11:39] gnehapk commented on #730
@Tendrl/tendrl-core @brainfunked Please provide the API required for this flow. UX design can be found at - https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244738632

[2018-01-10 04:42] gnehapk opened #770 "When Enter is pushed while there's focus on 'Filter by' field 'add user' page is opened."
Filed by @ltrilety

Description of problem:

When Enter is pushed on filter's input box on Users view, while there's focus on 'Filter by' field 'add user' page is opened.

[2018-01-10 04:44] gnehapk opened #771 "Sorting is not working with firefox browser"

[2018-01-10 04:47] gnehapk opened #772 "Un-necessary Filter "Brick Status" in Brick Details"
Filed by Vijay Avuthu -

Description of problem:
In Brick details on UI, there is pre-defined filter called "Brick Status" but there is no column called "Brick Status" .
So we have to add "Brick Status column" or Remove the filter "Brick Status"

[2018-01-10 04:49] gnehapk opened #773 "Alerts count for a volume shows negative value (-1)"
Filed by Prasad Desala:

Description of problem:

Clusters --> Select Cluster ID --> select volumes tab --> Alerts count for a volume shows negative value (-1).

[2018-01-10 05:01] gnehapk opened #774 "User Name attribute differs from design"
Filed by @fbalak

Description of problem:
Users in design (https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/252535083) have attributes `First Name` and `Last Name` but users implemented in Tendrl have only `Name` attribute.

[2018-01-10 05:12] gnehapk commented on #774
@Tendrl/tendrl-core @brainfunked The [API](https://github.com/Tendrl/api/blob/master/docs/users.adoc#create-user) for creating user accepts only one attribute i.e. username. Please do the changes required for accepting two attributes `First Name` and `Last Name` in the API and accordingly we will update the UI view as well.

[2018-01-15 14:10] gnehapk opened #777 "Integrate browser-sync"

[2018-01-15 14:19] gnehapk commented on #764
@shtripat I feel this issue is related to monitoring-integration component. Please move it the corresponding repo.

[2018-01-18 06:37] #747 closed, assigned to a2batic

[2018-01-22 06:31] gnehapk opened #780 "Improvements/Enhancements for concept-b implementation"
- No expanded view for hosts on cluster list.
- Modal for showing import task errors.
- Add a link to the 'All Clusters' view to open the import task details in a new page (at this point the left navigation will be hidden). Once a cluster is successfully imported, a link will be provided to direct the user to 'Cluster detail' views for the newly imported cluster.
- In all list views, we will be us

[2018-01-22 06:35] #777 closed, assigned to gnehapk

[2018-01-22 08:44] gnehapk commented on #780
@r0h4n @shtripat @nthomas-redhat There is requirement from UX that we should add `volumes` and `alerts` count on cluster list page and `bricks` count on host list view which are currently not present in the API response.  Please inform once these counts are available in the API/backend.

[2018-01-22 15:06] julienlim commented on #769
@gnehapk @nthomas-redhat @r0h4n @mbukatov @Tendrl/tendrl-qe @mcarrano

The bell icon should indicate if there are alerts or not.  Ideally it should signify the number of unread and uncleared alerts requiring attention.

If we're not able to compute the number of unread and uncleared alerts, we should provide some visual treatment on the bell to indicate if there is an alert vs. not, so the Admin k

[2018-01-22 16:44] mcarrano commented on #769
@gnehapk @julienlim The appearance/behavior of the bell icon in the masthead is specified in PatternFly here: http://www.patternfly.org/pattern-library/application-framework/masthead/. When there are new or unread alerts present,  a blue badge should be added to the upper right corner of the icon. We did not include a count value because it will not scale well from a readability standpoint. Let me

[2018-01-22 20:16] julienlim commented on #769
Related Bugzilla Tracker: https://bugzilla.redhat.com/show_bug.cgi?id=1517246

[2018-01-23 19:49] julienlim commented on #673
Related Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1514889

[2018-01-25 06:48] a2batic commented on #704
Components/services that are breaking or need to be upgraded due to angular-patternfly 4 upgrade.

- Notification/alert drawer
- Toast Notification
- Sort
- Filter
- Datepicker

[2018-01-26 15:29] julienlim commented on #780
@gnehapk @a2batic @cloudbehl @mcarrano

I took some AI's when we last spoke related to the Concept B implementation.

(1)  check on the status for context selector with the Patternfly team.
* Current PF design: http://www.patternfly.org/pattern-library/navigation/context-selector/
* Current status: No one on PF team is working on code for the design yet, but seeing if we can get this into the back

[2018-01-26 20:39] mcarrano commented on #780
@gnehapk @julienlim I've added a breadcrumb to the top of the Users page to give the user one-click access to return to the All Clusters view. You can find that here: https://redhat.invisionapp.com/share/8QCOEVEY9#/244738633_Users  Note that this breadcrumb is also added to other admin views (although I understand they have not yet been implemented).

The user should also be able to navigate back

[2018-01-26 21:32] julienlim commented on #780
Thanks @mcarrano.

To summarize, for the "one click step to go to `All Clusters`," the Admin pages were updated to include breadcrumbs to get to All Clusters more easily.

From a given cluster, you still need to go to the Context Switcher to get to ‘All Clusters’ -- Rationale is that while it would be nice to have a "home" like button to see all clusters (portfolio on a bunch of accounts if you'd

[2018-01-30 06:09] gnehapk commented on #780
@julienlim JQuey implementation of the context selector might be useful for us. Please provide the link where we can see the implementation.
@mcarrano @julienlim Thanks for providing the design for one click step to go back to 'All clusters' view from the user’s view. Will start the implementation.

[2018-01-30 17:02] gnehapk opened #783 "Cluster list unit testing"

[2018-01-30 19:18] Rohoover commented on #780
@julienlim
Here is the link to Foreman's work with the vertical navigation which I believe includes the context switcher:

https://github.com/theforeman/foreman/pull/4794#issuecomment-325651601

[2018-01-30 19:51] julienlim commented on #780
Thanks @Rohoover!

@gnehapk @a2batic @cloudbehl @mcarrano See link @Rohoover provided for the JQuery implementation of the context selector in the Foreman project.  Hope it is helpful.

[2018-02-01 05:52] #783 closed, assigned to gnehapk

[2018-02-01 08:02] a2batic opened #785 "Task List unit testing"

[2018-02-01 11:30] a2batic opened #787 "Refactoring of task list view and unit test"
- Make count variable local.
- getStatusText(status) should be a part of taskStore.
- Functions like addTooltip(), checkValidDates() should be made private functions.
- Make corresponding changes to unit test.

[2018-02-01 13:57] julienlim opened #788 "Import Cluster: Changing from 2 options checkbox to 3 options radio button"
This enhancement and bug fix is spawned from [Volume profile enabled/not-started info in tendrl #551](https://github.com/Tendrl/gluster-integration/issues/551), which has to do with confusion with enabling / disabling volume profiling during Import Cluster.

Related bugs that can provide further background information:
* [Enable/Disable profiling doesn't work consistently #405](https://github.com/

[2018-02-01 15:04] gnehapk commented on #780
@julienlim @mcarrano With the new changes introduce for concept b, some of the UX designs are not in sync, which can create confusion to QE guys while testing.

Following are the new changes which needs to be reflected in UXD (UI implementation for all the changes are done.):
-   Volume and Alert count on cluster list page
   Attaching screenshot for the current implementation
![screenshot from 20

[2018-02-01 15:14] #785 closed, assigned to a2batic

[2018-02-02 06:45] gnehapk opened #791 "Make file changes to accommodate unit tests"

[2018-02-02 09:23] a2batic commented on #704
Components upgraded in Milestone 1
- Toast Notification ( PR #782 )
- Sort ( PR #781 )
- Datepicker (PR #786 )

[2018-02-02 09:45] a2batic commented on #704
@TimothyAsirJeyasing @gnehapk
Following is the list of the npm packages being added in UI as per milestone 1-

- `"browser-sync": "^2.18.13" `
Latest Downstream Package and version: https://www.npmjs.com/package/browser-sync ( 2.23.6 )
- `"http-proxy": "^1.16.2"`
Latest Downstream Package and version: https://www.npmjs.com/package/http-proxy ( 1.16.2 )
- `"minimist": "^1.2.0"`
Latest Downstream Pa

[2018-02-02 10:50] a2batic opened #793 "Volume count shows 'NaN' when import fails"

[2018-02-02 10:52] a2batic opened #794 "Breadcumb on 'View Task Progress' is not as expected"
Current:
Cluster(link) -> cluster name -> Task(link) -> Task Name

Expected:
Task -> Task Name

[2018-02-02 10:54] a2batic opened #795 "Context Switcher on 'View Task Progress' should change to 'Select a cluster...'"
Current:
Context switcher shows 'All cluster'

Expected:
'Select a cluster...'

[2018-02-02 10:58] a2batic opened #797 "[RFE] Volume status does not reflect much information"
Currently, the volume status icon conveys 'Started' or 'Stopped' status as per volume, it doesn't reflect appropriate status; for example when one of the brick is down or stopped, vol status still says 'Started'

![screenshot from 2018-02-02 15-58-14](https://user-images.githubusercontent.com/12200504/35729870-13c666e2-0836-11e8-809c-8af19a57eeee.png)

[2018-02-02 11:01] a2batic commented on #797
@r0h4n @shtripat, what are the different scenarios that can be represented here as volume status?
@julienlim what should be the icons for various scenarios? Currently we have 'pficon-ok' for started and 'pficon-error-circle-o' for stopped.

[2018-02-02 12:36] gnehapk opened #798 "Provide a link for cluster detail page from view import task progress view"
Once cluster successfully imported, provide a link along with a success message to take user to cluster detail page for the newly imported cluster.

@julienlim @mcarrano Please help us with the success message to display here on view import task progress view

[2018-02-02 12:38] gnehapk commented on #798
@julienlim @mcarrano  We have added "All Clusters" in the breadcrumb similar to user list view to take the user to All Clusters page in case of import cluster task fails. Please feel free to suggest if any changes required.

[2018-02-02 13:19] #791 closed, assigned to nobody

[2018-02-02 15:27] julienlim commented on #797
@a2batic @r0h4n @shtripat @Tendrl/tendrl-qe @mcarrano

I recall wanting to reflect a "Degraded" state for the scenario when there are brick(s) down in a volume and the volume is still is online; however, I believe there are limited statuses for volumes available with get-state.
 -- see https://github.com/Tendrl/ui/issues/728#issuecomment-342465798

* Volume possible status {"Created", "Started", "

[2018-02-02 16:38] julienlim opened #800 "Tasks - inconsistent labeling for completed tasks"
We are showing different labels currently in the Tendrl UI for tasks that have been completed.

Task Details - we show "Finished"
<img width="559" alt="screen shot 2018-02-02 at 11 33 58 am" src="https://user-images.githubusercontent.com/5589919/35744049-4d032a18-080d-11e8-841e-68f127b6e3ad.png">

Task List - we show "Completed"
<img width="1253" alt="screen shot 2018-02-02 at 11 34 44 am" src="ht

[2018-02-02 16:42] julienlim commented on #728
Just summarizing what was decided for icons for volumes and bricks:

* 'Started' - green 'fa-check-circle-o’, green checkmark
* ’Created' - 'pficon-connected' (if newer PatternFly used) initially recommended, but not available so ended up going with fa-arrow-circle-o-up (older PatternFly used), dark grey
* 'Stopped' - 'fa-stop-circle-o’, dark grey

For anything that's OK - use what’s in place toda

[2018-02-02 22:28] mcarrano commented on #780
@gnehapk I have updated the screens that you requested in the InVision deck here: https://redhat.invisionapp.com/share/8QCOEVEY9

Just a couple of things to note:

* We adjusted the alignment a bit of items in the list view on the Clusters view. The message string (i.e. import status, etc) is now aligned with the 'View details' link to the right of the row before the Import button. We also feel th

[2018-02-03 13:44] #795 closed, assigned to gnehapk

[2018-02-03 13:45] #794 closed, assigned to gnehapk

[2018-02-03 13:45] #793 closed, assigned to gnehapk

[2018-02-05 09:11] a2batic opened #801 "Implementation of 'Unmanage' cluster"
Dependent issue: https://github.com/Tendrl/api/issues/349

[2018-02-05 10:13] gnehapk commented on #788
Depends on https://github.com/Tendrl/api/issues/350